.continueButtonEnable {
    margin-bottom: 20px;
}

.bank-details-disabled-button.disabled img {
    -webkit-filter: brightness(0.7) invert(0);
    filter: brightness(0.7) invert(0);
}

.bankDetailsCheckbox {
    width: 45px !important;
}

#reviewFlexCheckDefault:checked {
    border: 1px solid black;
    background-color: black;
}

.stampImgContainer {
    right: 40px;
    top: 120px;
    width: auto;
}

.bankDetailsLeftContent {
    padding: 100px 25px;
}

#paymentMethod {
    display: flex;
    margin-bottom: 34px;
}

#paymentMethod .paymentRadioButton {
    width: 111px;
    height: 60px;
    flex-direction: column;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    border: 1px solid #8C989F;
}

#paymentMethod .paymentRadioButton.active {
    border: 1.7px solid #221F20
}

#paymentMethod .paymentRadioButton img {
    width: 28px;
    margin-bottom: 5px;
}

.bank_detail_mainheading {
    font-size: 20px;
    font-weight: 800;
}

.bank_detail_subheading {
    font-size: 14px;
    font-weight: 500;
}

.paymentOptionsMaincontant {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 10px;
}

.reviewcard {
    margin-bottom: 20px;
}

.reviewCardbadgesRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    margin-top: 5px;
}

.reviewCardbadge {
    background-color: #626567;
    padding: 3px 10px;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
}

.review_tab_img {
    height: auto;
    width: 30px;
}

.reviewCardEdit {
    background-color: transparent;
    border: none;
    color: #0094FF;
    font-size: 14px;
    font-weight: 600;
    border-bottom: 1px solid #0094FF;
}

.reviewCardHead {
    color: #4B4C4D;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
    white-space: nowrap;
}

.reviewCardLargeContent {
    color: #221F20;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    white-space: nowrap;
}

.reviewCardSmallContent {
    color: #221F20;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
    white-space: nowrap;
}

.review_tab_img {
    padding-right: 10px;
}

.review_modal_close_icon_edit {
    margin-left: 93%;
    margin-top: 3%;

}

.review_modal_close_icon_TandC {
    margin-left: 96.5%;
    margin-top: 1.7%;

}

.review_edit_modal_button_enable {
    background-color: #E31837;
    color: #ffff;
    font-size: 14px;
    font-weight: 700;
    width: 46%;
    Padding: 10px 15px;
    border-radius: 4px;
    border: 1px solid transparent;
}

.review_edit_modal_button_disable {
    background-color: #FFFFFF;
    color: #E31837;
    font-size: 14px;
    font-weight: 700;
    width: 46%;
    Padding: 10px 15px;
    border-radius: 4px;
    border: 1px solid #E31837;
}

.reviewModalHead {
    font-size: 20px;
    font-weight: 800;
    color: #221F20;
    margin-bottom: 18px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.reviewModalsubHead {
    font-size: 14px;
    font-weight: 500;
    color: #221F20;
    margin-bottom: 40px;
    line-height: 24px;
}

.reviewModalMainsubHead {
    font-size: 20px;
    font-weight: 500;
    color: #221F20;
}

.reviewModalBody {
    padding: 20px 40px 40px 40px;
    margin-bottom: 7%;
}

.review_button_section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.scroll_modal {
    width: 100%;
    height: 90%;
    overflow: hidden;
}

/* width */
.scroll_modal ::-webkit-scrollbar {
    width: 4px;
}

/* Track */
.scroll_modal  ::-webkit-scrollbar-track {
    background: #bfc1c2;
}

/* Handle */
.scroll_modal  ::-webkit-scrollbar-thumb {
    background: #626567;
    border-radius: 20px;
}

/* Handle on hover */
.scroll_modal  ::-webkit-scrollbar-thumb:hover {
    background: #626567;
}

.modalEdit {
    overflow: hidden;
}

.review_modal {
    border-radius: 8px;
}

.reviewModalBody {
    position: relative;
}

.review_button_section_TandC {
    box-shadow: 0px -2px 12px 0px #00000040;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
    padding: 20px;
}

.review_edit_modal_button_enable_TandC {
    background-color: #E31837;
    color: #ffff;
    font-size: 14px;
    font-weight: 700;
    width: 253px;
    Padding: 10px 15px;
    border-radius: 4px;
    border: 1px solid transparent;
}

.reviewModalsubHead_TandC {
    font-size: 14px;
    font-weight: 500;
    color: #221F20;
    margin-bottom: 15px;
}

.boxRadioButton {
    margin-right: 24px;
}

.bankDeatilsRadio[type="radio"]:checked,
.bankDeatilsRadio[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
    width: 0;
    height: 0;
    visibility: hidden;
}

.checkbox-tools:checked+label {
    border: 1.5px solid #221F20 !important;
    background-color: #F4F7FA !important;
}

.checkbox-tools:checked+label,
.checkbox-tools:not(:checked)+label {
    position: relative;
    display: inline-block;
    padding: 6px;
    width: 111px;
    font-size: 14px;
    height: 60px;
    line-height: 20px;
    margin-right: 24px;
    text-align: center;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    text-transform: uppercase;
    color: var(--white);
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
    border: 1.5px solid #8C989F;
}

.paymentIcon {
    width: 26px;
    height: auto;
}

.newtopborder {
    border-top: 2px solid #8c989f;
    padding-top: 20px;
}

.custome-d-flex {
    display: flex;
}