                    .kycDetailsLeftContent {
                        padding: 10px 40px;
                    }
                    
                    .kycdetail {
                        border-top-left-radius: 20px;
                        position: relative;
                        border-top-left-radius: 20px;
                        border-bottom-left-radius: 0px;
                        text-align-last: start;
                        background-color: black;
                        background-image: url("../Image/blur.png"), url('../Image/about_img.png');
                        border-radius: 20px 0px 0px 20px;
                        overflow: hidden;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }

                    .stampImg {
                        width: 100%;
                        height: auto
                    }

                    .stampImgContainer {
                        right: 30px;
                        top: 100px;
                        width: auto;
                    }
                    
                    .form-control-input {
                        background-color: #F4F7FA;
                    }
                    
                    .form-control-input::placeholder {
                        font-family: "Lato", sans-serif;
                        font-size: 16px;
                        line-height: 26px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #221F20;
                        font-weight: 400;
                    }
                    
                    .leftkycHeading {
                        font-family: "Lato", sans-serif;
                        font-size: 68px;
                        font-weight: 700;
                        line-height: 78px;
                        letter-spacing: 0em;
                        text-align: left;
                    }
                    
                    .kycLeftCard {
                        padding: 100px 40px;
                    }
                    
                    .leftcolkycHeading {
                        font-family: "Lato", sans-serif;
                        font-size: 68px;
                        font-weight: 700;
                        line-height: 78px;
                        letter-spacing: 0em;
                        text-align: left;
                    }
                    
                    .leftcolkycContent {
                        font-family: "Lato", sans-serif;
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 28px;
                        letter-spacing: 0em;
                        text-align: left;
                        margin-top: 5px;
                    }
                    
                    .kyccard {
                        padding: 50px 40px;
                    }
                    
                    /* new update sep-18 */

                    .right-side-div {
                        padding: 20px 20px 20px 20px;
                    }
                    
                    .right-side-div h1 {
                        font-family: "Lato", sans-serif;
                        font-size: 20px;
                        font-weight: 800;
                        line-height: 30px;
                        letter-spacing: 0em;
                        text-align: left;
                    }
                    
                    .dropdown-container {
                        position: relative;
                        display: inline-block;
                    }
                    /* Styles for the input field */
                    
                    .dropdown-input {
                        padding: 8px 30px 8px 8px;
                        border: 1px solid #ccc;
                        border-radius: 4px;
                        font-size: 16px;
                        width: 200px;
                    }
                    /* Styles for the icon inside the input field */
                    
                    .input-icon {
                        position: absolute;
                        top: 50%;
                        right: 10px;
                        transform: translateY(-50%);
                        pointer-events: none;
                    }
                    /* Styles for the custom dropdown menu */
                    
                    .custom-dropdown {
                        position: absolute;
                        top: 100%;
                        left: 0;
                        background-color: #fff;
                        border: 1px solid #ccc;
                        border-top: none;
                        width: 200px;
                        z-index: 1;
                        display: none;
                    }
                    /* Show the dropdown when the parent is hovered */
                    
                    .dropdown-container:hover .custom-dropdown {
                        display: block;
                    }
                    /* Style each option with icon and padding */
                    
                    .custom-dropdown option {
                        padding: 5px;
                        display: flex;
                        align-items: center;
                    }
                    /* Styles for the icons */
                    
                    .custom-dropdown .icon {
                        margin-right: 5px;
                    }
                    
                    .drop-container-data {
                        border-radius: 0.25rem;
                        width: 100%;
                    }
                    
                    .drop-container-data-annual {
                        border-radius: 0.25rem;
                        width: 100%;
                    }
                    
                    .drop-container-data-annual:hover .custom-value-data {
                        display: none;
                    }
                    
                    .drop-input-data {
                        /* padding: 10px 40px 10px 15px; */
                        padding: 8px;
                        background: #F4F7FA;
                        border: 1px solid #ced4da;
                        width: 100%;
                        border-radius: 0.25rem;
                        padding-right: 5px;
                        appearance: none;
                    }
                    
                    .custom-value-data {
                        width: 100%;
                        box-shadow: 0px 4px 8px 0px #00000026;
                        border-radius: 0.25rem;
                        padding: 0.5rem;
                    }
                    
                    .input-icon-data {
                        right: 15px;
                    }
                    
                    .input-icon-data svg {
                        width: 14px;
                        height: 14px;
                        color: #221F20;
                    }
                    
                    .kycLabel {
                        font-family: "Lato", sans-serif;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 26px;
                        letter-spacing: 0px;
                        text-align: left;
                        color: #221F20
                    }
                    
                    .drop-input-field {
                        margin-bottom: 40px;
                        margin-top: 10px;
                    }
                    
                    .email-icon {
                        height: 14px;
                        width: 14px;
                    }
                    
                    .card-div-data {
                        box-shadow: 0px 4px 12px 0px #0000001A;
                        margin-top: 20px;
                    }
                    
                    .first-account-holder-detail {
                        padding: 1.5rem 1.3rem;
                    }
                    
                    .primary-detail {
                        border-radius: 4px;
                        background-color: #626567;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 180px;
                    }
                    .secondary-detail {
                        position: absolute;
                        top:0;
                        left:0;
                        border-radius: 4px;
                        border-top-right-radius: 0;
                        border-bottom-left-radius: 0;
                        background-color: #626567;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 180px;
                    }
                    .seconadry_accordion_button_head{
                        margin-top: 20px;
                        display: block;
                    }

                    .minor-detail {
                        border-radius: 4px;
                        background-color: #626567;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 102px;
                        margin-top: 35px;
                    }
                    
                    .aadhar_div {
                        margin-top: 30px;
                    }
                    
                    .form-control-input::placeholder {
                        font-size: 16px;
                    }
                    
                    .aadhar_div .btn {
                        padding: 10px 10px 10px 10px;
                        width: 60%;
                        background-color: #221F20;
                        border-color: #221F20;
                        color: #FFFFFF;
                    }
                    
                    .first_button-minor {
                        margin-top: 0;
                    }
                    
                    .account-holder-data {
                        font-family: "Lato", sans-serif;
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 24px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #ffffff;
                    }
                    
                    .CKYC-detail {
                        width: 461px;
                        font-family: "Lato", sans-serif;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 24px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #4B4C4D;
                        margin-top: 12px;
                    }
                    
                    .name-data {
                        font-family: "Lato", sans-serif;
                        font-size: 18px;
                        font-weight: 600;
                        line-height: 28px;
                        letter-spacing: 0em;
                        text-align: left;
                    }
                    
                    .profile-details {
                        display: flex;
                        justify-content: space-between;
                    }
                    
                    .sec-col-div img {
                        border-radius: 8px;
                    }
                    
                    .naming-details {
                        display: flex;
                        gap: 15px;
                    }
                    
                    .first-child-div {
                        margin-top: 13px;
                    }
                    
                    .heading-data {
                        font-family: "Lato", sans-serif;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 24px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #4B4C4D;
                    }
                    
                    .sub-heading-data {
                        font-family: "Lato", sans-serif;
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 24px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #221F20;
                    }
                    
                    .custom-hr {
                        background-color: #8C989F;
                    }
                    
                    .address-detail {
                        display: flex;
                        justify-content: space-between;
                    }
                    
                    .address-detail-blog {
                        width: 240px;
                        font-family: "Lato", sans-serif;
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 24px;
                        letter-spacing: 0em;
                        text-align: left;
                    }
                    .address-detail-blog-adhar {
                        width: 100%;
                        font-family: "Lato", sans-serif;
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 24px;
                        letter-spacing: 0em;
                        text-align: left;
                    }
                    
                    .Communication-address {
                        font-family: "Lato", sans-serif;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 24px;
                        letter-spacing: 0em;
                        text-align: left;
                    }
                    
                    .cheking-button-data {
                        display: flex;
                        justify-content: space-between;
                        margin-top: 10px;
                    }
                    
                    .custom-button {
                        background: #F4F7FA;
                        border-radius: 4px;
                        border: 1px solid #8C989F;
                    }
                    
                    .custom-button-first {
                        padding: 10px 50px 10px 15px;
                    }
                    
                    .custom-button-sec {
                        padding: 10px 15px 10px 20px;
                    }
                    
                    .radio-button-data {
                        margin-left: 5px;
                    }
                    
                    .textparentdata {
                        margin-bottom: 0px;
                    }
                    
                    .fixed-deposit {
                        font-family: "Lato", sans-serif;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 24px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #626567
                    }
                    
                    .card-div-data-sec {
                        margin-top: 30px;
                    }
                    
                    .drop-container-data:hover .custom-value-data {
                        display: none;
                    }

                    .afterAdharVarificationDesktop{
                        display: none;
                        margin-bottom: 40px;
                        margin-top: 40px;
                    }
                    .afterAdharVarificationMobile{
                        display: none;
                        margin-bottom: 0px;
                        margin-top: -20px;
                    }

                    .beforeAdharVarificationMobile{
                        padding: 10px;
                    }
                    .custom-button-data.btn-danger.disabled {
                        color: #8C989F;
                        background-color: #E6E7E9;
                        border-color: #E6E7E9;
                    }

                    .custom-button-data.btn-danger.disabled svg {
                        fill:#8C989F;
                    }
                    /* shraddha css */
                    
                    .kycDropDown {
                        padding: 8px;
                        background-color: #F4F7FA;
                        border: 1px solid #CED4DA;
                        width: 100%;
                        border-radius: 0.25rem;
                        padding-right: 5px;
                        color: #221F20;
                    }
                    
                    .kycDropDown option {
                        font-size: 17px;
                        font-weight: 500;
                        color: #221F20;
                    }
                    
                    .kycDropDown:focus {
                        outline: none !important;
                        outline-width: 0 !important;
                        box-shadow: none;
                        -moz-box-shadow: none;
                        -webkit-box-shadow: none;
                        border: solid 1.5px #8C989F;
                    }
                    
                    .kycVerifyButton {
                        background-color: #221F20;
                        color: #FFFFFF;
                        padding: 10px 47px;
                        border-radius: 4px;
                        width: 145px;
                        margin-bottom: 40px;
                    }
                    
                    #AddNewAddressDropDown {
                        display: none;
                    }
                    
                    .AddNewAddressSubDiv {
                        display: flex;
                    }
                    
                    .AddNewAddressImgContainer {
                        height: auto;
                        margin-bottom: 20px;
                    }
                    
                    .AddNewAddressImg {
                        width: 100%;
                        height: 13rem;
                    }
                    
                    .drivingLicense {
                        display: none;
                    }
                    
                    .voterId {
                        display: none;
                    }
                    
                    .enterPassport {
                        display: none;
                    }

                    .kyc_accordion_item{
                        box-shadow: 0px 4px 12px 0px #0000001A;
                    }

                    .kyc_accordion_button{
                        position: relative;
                        color: #221F20;
                        border-radius: 4px;
                    }
                    .kyc_accordion_button:not(.collapsed) {
                        color: #221F20;
                        background-color: transparent;
                        box-shadow: unset;
                    }
                    .kyc_accordion_button .collapsed.seconadry_accordion_button_head {
                       display: none !important;
                    }
                    .kyc_accordion_button:not(.collapsed):after {
                       filter: invert(30%);
                       position: absolute;
                       top: 14px;
                       right: 10px;
                    }
                    .kyc_accordion_button::after{
                        position: absolute;
                        top: 14px;
                        right: 10px;
                    }
                    .second-account-holder-detail{
                        margin-top: -12%;
                        padding: 1.5rem 1.3rem;
                    }
                    .kyc_accordion_body{
                        padding: 0%;
                    }

                    .secondary_account_mobile{
                        display: none;
                    }
                    .secondary_account_desktop{
                        display: block;
                    }
                    @media only screen and (min-width: 320px) and (max-width: 1399px) {
                        .cheking-button-data {
                            width: 100%;
                            display: flex;
                            flex-direction: row;
                            gap: 10px;
                        }
                        .custom-button{
                            width:100%;
                        }
                        .custom-button-sec {
                            padding: 10px 15px 10px 16px;
                        }
                        .secondary_account_mobile{
                            display: block;
                        }
                        .secondary_account_desktop{
                            display: none;
                        }
                        .address-detail{
                            display: block;
                        }
                        .address-detail-blog{
                            width: 100%;
                        }
                        .card-div-data{
                            position: relative;
                        }
                        .aadhar_div {
                            margin-top: 0px;
                            margin-bottom: 30px;
                        }
                        .stampImgContainer {
                            right: 20px;
                            top: 40px;
                            width: auto;
                        }
                        .dropdown-input {
                            width: 100%;
                        }
                        .address-detail-blog {
                            width: 100%;
                        }
                        .CKYC-detail {
                            width: 100%;
                            padding-top: 20px;
                        }
                        .minor-detail {
                            width: 100%;
                        }
                        .custom-dropdown {
                            width: 100%;
                        }
                        .sec-col-div {
                            margin-top: 10px;
                            justify-content: center;
                            display: flex;
                        }
                        .address-detail {
                            display: block;
                        }
                        .address-details-sec-div {
                            margin-top: 10px;
                        }
                        .sec-col-div img {
                            width: 100px;
                            height: 104px
                        }
                        .name-data{
                            font-size: 16px;
                        }
                    }
                    @media only screen and (min-width: 320px) and (max-width: 567px) {
                        .right-side-div h1{
                            font-size: 14px;
                        }
                        .card-div-data{
                            margin-top: 10px;
                        }
                        .account-holder-data{
                            font-size: 12px;
                        }
                        .CKYC-detail{
                            font-size: 10px;
                            line-height: 16px;
                            padding-top: 15px;
                        }
                        .heading-data{
                            font-size: 14px;
                        }
                        .sub-heading-data{
                            font-size: 14px;
                        }
                        .leftcolkycHeading{
                            font-size: 20px;
                            font-weight: 700;
                            line-height: 10px;
                            text-align-last: center;
                            color: #ffffff;
                        }
                        .leftColContent{
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 20px;
                            text-align-last: center;
                            color: #ffffff;
                            margin-top: 20px;
                            margin-bottom: 20px;
                        }
                        .kyccard {
                            padding: 10px 5px;
                        }
                        .d-flex{
                            display: block !important;
                        }
                        .stampImgContainer {
                            right: -20px;
                            top: 30px;
                            width: auto;
                        }
                        .stampImg {
                            width: 60%;
                            height: auto
                        }
                        .kycdetail{
                            border-top-left-radius: 0px
                        }
                        .primary-detail{
                            position: absolute;
                            top:0;
                            left:0;
                            border-top-right-radius: 0;
                            border-bottom-left-radius: 0;
                        }
                        .custom-button{
                            font-size: 12px;
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-start;
                            align-items: center; 
                        }
                        .custom-button-sec{
                            padding: 10px;
                        }
                        .custom-button-first{
                            padding: 10px;
                        }
                        .Communication-address{
                            font-size: 12px;
                        }
                        .address_label{
                            font-size: 12px;
                        }
                        label.form-label{
                            font-size: 12px;
                        }
                        .form-select{
                            font-size: 14px;
                        }
                        .fixed-deposit{
                            font-size: 10px;
                        }
                        .drop-input-field{
                            margin-bottom: 16px;
                        }
                        .second-account-holder-detail{
                            margin-top: -12%;
                            padding: 0 1.3rem 1.5rem 1.3rem;
                        }

                    }
                    @media only screen and (min-width: 567px) and (max-width: 961px) {
                        .leftcolkycHeading{
                            font-size: 50px;
                            font-weight: 700;
                            text-align-last: center;
                            color: #ffffff;
                        }
                        .leftColContent{
                            font-size: 20px;
                            font-weight: 400;
                            text-align-last: center;
                            color: #ffffff;
                            margin-bottom: 20px;
                        }
                        .kyccard {
                            padding: 10px 5px;
                        }
                        .d-flex{
                            display: block !important;
                        }
                        .stampImg {
                            width: 80%;
                            height: auto
                        }
                        .kycdetail{
                            border-top-left-radius: 0px
                        }
                        .primary-detail{
                            position: absolute;
                            top:0;
                            left:0;
                            border-top-right-radius: 0;
                            border-bottom-left-radius: 0;
                        }
                        .kycdetail {
                            width: 100%;
                        }
                    }
                    @media only screen and (min-width: 992px) and (max-width: 1399px) {
                        .CKYC-detail {
                            width: 100%;
                            padding-top: 10px;
                        }
                    }

                  /* new update 29 Sep */
                    footer.footerDiv {
                        display: none !important;
                    } 