
  @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


body {
    background: #E6E7E9;
    font-family: 'Lato';
}
        
        .leftcard {
             margin: auto;
             padding: 100px 30px;
         }
         
         .logo {
             width: 318px;
             height: auto;
         }
         
         .logo img {
             width: 100%;
             height: auto;
         }
         
         .leftcard-contant h1 {
             color: #fff;
         }
         
         .container {
             padding-top: 50px;
             padding-bottom: 20px;
         }
         
         .leftcard-contant p {
             color: #fff;
         }
         
         .footertext {
            margin-top: 20px;
        }
         
         .footertext p {
             font-size: 10px;
             text-align: justify;
         }
         
         .card {
             border-radius: 20px;
             box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
             border: 0px;
         }
         
         .btn-primary {
             color: #fff;
             background-color: #e31837;
             border-color: #e31837;
             padding: 18px;
         }
         
         .btn-primary:hover {
             background: blue;
             box-shadow: rgba(255, 20, 106, 0.2) 0px 8px 24px;
         }
 
         
         a.btn.btn-info.next {
             display: flex;
             justify-content: space-between;
             width: 304px;
             padding: 12px;
             align-items: center;
             color: #fff;
             background-color: #e31837;
             border-color: #e31837;
             box-shadow: #dc3545 0px 3px 18px;
         }
         
        
         
        
         .form-control {
             padding: 10px 40px 10px 15px;
         }
         
         .tab-content {
             padding-right: 50px;
         }
         
         label.form-label {
             font-family: "Lato", sans-serif;
             font-size: 16px;
             font-weight: 500;
             line-height: 26px;
             letter-spacing: 0px;
             text-align: left;
             margin-bottom: 5px;
         }
         
        
         /*-----------MoniCss-------------*/
         
         .errorText {
             font-family: "Lato", sans-serif;
             font-size: 14px;
             font-weight: 400;
             line-height: 21px;
             letter-spacing: 0em;
             text-align: left;
             color: #e31837;
             margin-top: 5px;
         }
         
         .invest_fixed {
             font-family: "Lato", sans-serif;
             font-size: 20px;
             font-weight: 700;
             line-height: 30px;
             letter-spacing: 0em;
             text-align: left;
             margin-bottom: 30px;
             margin-top: 50px;
         }
         
         .textfildicons {
             position: absolute;
             right: 14px;
             top: 42px;
         }
         
         .textparent {
             position: relative;
             margin-bottom: 40px;
         }
         
         .check_kyc_data {
             padding: 15px 16px 15px 16px;
             margin-top: 150px;
             background-color: #f4f7fa;
             gap: 15px;
             border-radius: 4px;
         }
         
         .error-border {
             border-color: red;
             box-shadow: red;
         }
         
         ul {
             display: flex;
             list-style: none;
         }
         
         .kyc_paragraph {
             font-family: "Lato", sans-serif;
             font-size: 14px;
             font-weight: 400;
             line-height: 24px;
             letter-spacing: 0em;
             text-align: left;
         }
         
         .kyc_data_pan {
             display: flex;
         }
         
         .form-check-label_data {
             margin-left: 10px;
             font-family: "Lato", sans-serif;
             font-size: 14px;
             font-weight: 400;
             line-height: 24px;
             letter-spacing: 0em;
             text-align: left;
         }
         
         .input_data {
             width: 20px;
             height: 20px;
             border-radius: 5px;
         }
         
         .input_data:checked {
             border: 1px solid black;
             background-color: black;
         }
         
         .input_data:focus {
             border: 1px solid black;
             box-shadow: none;
         }
         
         .jointPanContainer_header {
             margin-bottom: 10px;
             color: #221f20;
             font-family: "Lato", sans-serif;
             font-size: 14px;
             font-weight: 500;
             letter-spacing: 0em;
             text-align: left;
         }
         
         .checkbox_button_data {
             width: 15%;
         }
         
         .checkbox_button_data:checked {
             border: 1px solid black;
             background-color: black !important;
         }
         
         .checkbox_button_data:focus {
             border: 1px solid black;
             box-shadow: none;
         }
         
         .button_label {
             color: #626567 !important;
             padding: 10px;
             border-radius: 4px !important;
             border: 1px solid #8c989f;
             height: 46px;
         }
         
         .checkbox_button_data+label {
             position: relative;
             padding-left: 25px;
             cursor: pointer;
             line-height: 1.5;
         }
         
         .checkbox_button_data+label:before {
             content: "";
             position: absolute;
             left: 0;
             top: 50%;
             transform: translateY(-50%);
             width: 18px;
             height: 18px;
             border: 2px solid black;
             border-radius: 50%;
         }
         
         .checkbox_button_data:checked+label:after {
             content: "";
             position: absolute;
             left: 5px;
             top: 50%;
             transform: translateY(-50%);
             width: 8px;
             height: 8px;
             background-color: black;
             border-radius: 50%;
         }
         
         .leftPanDetails {
             text-align-last: start;
             background-image: url("../Image/blur.png"), url("../Image/fd_img.png");
             opacity: 0.2px;
             background-size: cover;
             background-repeat: no-repeat;
             background-position: top left;
             padding: 0px;
             border-radius: 10px 0px 0px 10px;
             overflow: hidden;
         }
         
         .wrapper_div {
             display: flex;
             justify-content: center;
         }
         
         .main_left_div {
             display: flex;
             justify-content: space-evenly;
             padding: 10px 0px 60px 0px;
         }
         
         .in_just {
             font-family: "Lato", sans-serif;
             font-size: 18px;
             font-weight: 400;
             line-height: 8px;
             letter-spacing: 0em;
             text-align: left;
             color: #ffffff;
             margin-left: 31px;
         }
         
         .easy_step {
             font-family: "Lato", sans-serif;
             font-size: 27px;
             font-weight: 500;
             line-height: 50px;
             letter-spacing: 0em;
             text-align: left;
             color: #ffff;
             margin-left: 10px;
         }
         
         .img_div {
             margin-top: -25px;
         }
         
         .circle_content,
         .fixed_deposit_data {
             color: #ffffff;
         }
         
         .circle_content {
             font-family: "Lato", sans-serif;
             font-size: 16px;
             font-weight: 700;
             line-height: 30px;
             letter-spacing: 0px;
             text-align: left;
         }
         
         .first_div {
             display: flex;
             justify-content: center;
             align-items: center;
         }
         
         .circle_info {
             display: flex;
             gap: 20px;
             margin-bottom: 15px;
             position: relative;
         }
         
         .circle_data {
             margin-top: 20px;
             display: flex;
             justify-content: left;
             flex-direction: column;
         }
         
         .circle {
             width: 34px;
             height: 34px;
             border-radius: 50%;
             display: flex;
             justify-content: center;
             align-items: center;
             background-color: #ffffff;
             position: relative;
             z-index: 1;
         }
         
         .circle_info::before {
             content: "";
             position: absolute;
             top: -19px;
             left: 7%;
             width: 1px;
             height: 55%;
             background-color: #ffffff;
             z-index: 2;
         }
         
         .circle_info:first-child::before {
             display: none;
         }
         
         .invest_in {
             font-family: "Lato", sans-serif;
             font-size: 18px;
             font-weight: 400;
             line-height: 28px;
             letter-spacing: 0em;
             text-align: left;
         }
         
         .fixed_deposit_data {
             font-family: "Lato", sans-serif;
             font-size: 68px;
             font-weight: 700;
             line-height: 58px;
             letter-spacing: 0em;
             text-align: left;
         }
         
         .custom_header {
             border-bottom: 0;
             display: flex;
             justify-content: end;
         }
         
         .custom_footer {
             border-top: 0;
             display: flex;
             justify-content: center;
             padding: 0rem 2rem 3rem 2rem;
         }
         
         .custom_model,
         .custom_model_body {
             padding: 0px 10px 10px 10px;
         }
         
         .btn {
             width: 100%;
         }
         
         .btn_submit {
             width: 100%;
         }
         
         .custom_model {
             display: flex;
             justify-content: right;
             background-color: #ffffff;
             box-sizing: 0;
         }
         
         .custom_close {
             background: #ffffff;
             border: none;
         }
         
         .button_close_spn {
             background-color: #ffffff;
             width: 16px;
             height: 16px;
         }
         
         .custom-body,
         .custom-footer {
             padding: 0rem 2rem 2rem 2rem;
         }
         
         .enter_otp {
             font-family: "Lato", sans-serif;
             font-size: 20px;
             font-weight: 700;
             line-height: 30px;
             letter-spacing: 0em;
             text-align: left;
         }
         
         .send_mobile {
             font-family: "Lato", sans-serif;
             font-size: 14px;
             font-weight: 500;
             line-height: 24px;
             letter-spacing: 0em;
             text-align: left;
             color: #221f20;
         }
         
         .box_container {
             display: flex;
             justify-content: space-between;
             margin: 20px 0 20px;
         }
         
         .box_container_error {
             display: flex;
             justify-content: space-between;
             margin: 20px 0 10px 0px;
         }
         
         .modal_wrapper {
             margin-top: 140px;
         }
         
         .modal_content_data {
             border-radius: 8px;
         }
         
         .otp_msg {
             display: flex;
             gap: 4px;
         }
         
         .otp_second {
             font-family: "Lato", sans-serif;
             font-size: 14px;
             font-weight: 400;
             line-height: 24px;
             letter-spacing: 0em;
             text-align: left;
         }
         
         .timer {
             font-family: "Lato", sans-serif;
             font-size: 14px;
             font-weight: 600;
             line-height: 24px;
             letter-spacing: 0em;
             text-align: left;
         }
         
         .resend_otp {
             font-family: "Lato", sans-serif;
             font-size: 14px;
             font-weight: 600;
             line-height: 24px;
             letter-spacing: 0em;
             text-align: left;
             color: #0094ff;
         }
         
         .box_div {
             display: flex;
             text-align: center;
             align-items: center;
             width: 60px;
             height: 60px;
             border-radius: 4px;
             border: 1px solid #8c989f;
             background-color: #f4f7fa;
         }
         
         .box_div_error {
             display: flex;
             text-align: center;
             align-items: center;
             width: 60px;
             height: 60px;
             border-radius: 4px;
             border: 1px solid #e31837;
             background-color: #FFFAFB;
         }
         
         .newsubmitbtn_first {
             display: flex;
             justify-content: space-between;
             width: 304px;
             padding: 12px;
             align-items: center;
             color: #fff;
             background-color: #e31837;
             border-color: #e31837;
             /* box-shadow: #dc3545 0px 3px 18px; */
         }
         
         .first_button {
             margin-top: 20px;
         }
         
         .newsubmitbtn {
             display: flex;
             justify-content: space-between;
             width: 100%;
             padding: 12px;
             align-items: center;
             color: #fff;
             background-color: #e31837;
             border-color: #e31837;
             /* box-shadow: #dc3545 0px 3px 18px; */
         }
         
         .geberate_otp {
             width: 100%;
             display: flex;
             justify-content: space-between;
         }
         
         .form-check-input:checked {
             background-color: #000;
             border: 1px solid black;
         }
         
         .form-check-input:focus {
             box-shadow: none;
         }
         
         .newsubmitbtn.sec_btn {
             display: flex;
             justify-content: space-between;
             padding: 12px;
             width: 100%;
             align-items: center;
             color: #fff;
             background-color: #e31837;
             border-color: #e31837;
             box-shadow: #dc3545 0px 3px 18px;
         }
         
        
         /* bankDetails css */
         
         .check_kyc {
             margin-top: 20px;
             margin-bottom: 40px;
             background-color: #F4F7FA;
         }
         
         .kyc_data {
             padding: 10px 16px 10px 16px;
             display: flex;
         }
         
         .custom-button-data {
             background-color: #E31837;
         }
         
         .custom-button-data:disabled {
             background-color: #E6E7E9;
             border: 1px solid #E6E7E9;
             color: #8C989F;
         }
         
         .img_tag {
             color: #8C989F;
         }
         
         .form-check-label {
             margin-left: 10px;
             font-family: "Lato", sans-serif;
             font-size: 14px;
             font-weight: 400;
             line-height: 24px;
             letter-spacing: 0em;
             text-align: left;
         }
         
         .form-check-input {
             width: 35px;
         }
         
         .inputPan {
             width: 17px;
         }
         
         .paymentOptions {
             border: solid #8C989F 1.5px;
             border-radius: 4px;
             display: flex;
             flex-direction: column;
             justify-content: center;
             font-size: 0.7rem;
             font-weight: 600;
             align-items: center;
             padding: 1rem 2rem 1rem 2rem;
             margin-left: 1.7%;
             margin-right: 2%;
         }
         
         .paymentOptions:hover {
             border-color: black;
             background-color: #F4F7FA;
         }
         
         .paymentIconContainer {
             display: flex;
             flex-direction: column;
             justify-content: center;
             align-items: center;
             width: 2rem;
             padding-bottom: 0.5rem;
         }
         
         .paymentIcon {
             width: 100%;
             height: auto;
         }
         
         .ifscHeading {
             display: flex;
             justify-content: space-between;
             white-space: nowrap;
         }
         
         .ifscLink {
             white-space: nowrap;
         }
         
         .leftside {
            position: relative;
        }
         .bankDetailsLeftSide {
             border-top-left-radius: 20px;
             border-bottom-left-radius: 20px;
             text-align-last: start;
             background-color: black;
             background-image: url("../Image/blur.png"), url('../Image/bank_details_img.png');
             border-radius: 20px 0px 0px 20px;
             overflow: hidden;
             background-repeat: no-repeat;
             background-size: cover;
         }
         
         .paymentContent {
             font-size: 0.8rem;
             font-weight: 400;
             color: #221F20;
         }
         
         .paymentContent:hover {
             font-weight: 600;
         }
         
         .logoImgContainer {
             width: 318px;
         }
         
         .logoImg {
             border-top-left-radius: 20px;
             position: relative;
             left: -12px;
             width: 100%;
             height: auto;
         }
         
         .leftColHeading {
             color: #ffff;
             font-size: 68px;
             font-weight: 700;
         }
         
         .leftcard-content {
             padding-top: 30px;
         }
         
         .leftColContent {
             color: #ffff;
             font-size: 18px;
             font-weight: 400;
         }
         
         .stampImgContainer {
             position: absolute;
             width: 146px;
             right: 0;
         }
         
         .stampImg {
             width: 100%;
             height: auto;
         }
         
         span.footertext {
             color: red;
         }
         
         p.footertextparent {
             font-size: 12px;
         }
         
         .modal-footer {
             border-top: none;
         }
         
         .form-control:focus {
             color: #212529;
             outline: 0;
             box-shadow: none;
             border: 1px solid #ced4da;
         }
         
         .form-switch-input {
             background-color: #F4F7FA;
         }
         
         .form-switch-input:checked {
             background-color: #0094FF;
             border: #0094FF;
         }
         
         .strapper_div {
             display: flex;
             justify-content: center;
         }
         
         .card_div_data {
             display: flex;
             justify-content: space-between;
             background-color: #4D4D4F;
             border-radius: 10px;
             align-items: center;
             padding: 1.5rem;
         }
         
         .card_first_content {
             font-family: "Lato", sans-serif;
             font-size: 12px;
             font-weight: 500;
             line-height: 18px;
             letter-spacing: 0em;
             text-align: left;
             color: #FFFFFF;
         }
         
         .card_second_content {
             color: #FFFFFF;
             font-family: "Lato", sans-serif;
             font-size: 50px;
             font-weight: 600;
             line-height: 56px;
             letter-spacing: -1px;
             text-align: left;
         }
         
         .form-control::placeholder {
             font-family: "Lato", sans-serif;
             font-size: 12px;
             font-weight: 500;
             line-height: 26px;
             letter-spacing: 0px;
             text-align: left;
         }
         
         .form-switch-label {
             font-family: "Lato", sans-serif;
             font-size: 16px;
             font-weight: 500;
             line-height: 26px;
             letter-spacing: 0px;
             text-align: left;
         }
         .maincontant-m {
            padding: 0px 50px;
        }
         
         @media screen and (max-width: 767px) {
             .main_left_div {
                 padding: 0;
             }
             .img_div {
                 position: absolute;
                 top: 50px;
                 right: 0;
             }
             .content-data {
                 margin-top: 40px;
             }
             .fixed_deposit_data {
                 font-size: 40px;
                 line-height: 40px;
             }
             .invest_in {
                 font-size: 20px;
             }
             .in_just {
                 font-size: 11px;
             }
             .easy_step {
                 font-size: 16px;
             }
             .circle_content {
                 font-size: 10px;
             }
             .circle_info::before {
                 left: 17px;
             }
             .check_kyc_data {
                 margin-top: 0;
             }
             .strapper_div {
                 margin-top: 40px;
             }
             .first_button {
                 margin-bottom: 24px;
             }
             .form-switch {
                 margin-bottom: 40px;
             }
             .form-switch-label {
                 font-size: 12px;
             }
             .card_second_content {
                 font-size: 25px;
             }
             .card_first_content {
                 font-size: 12px;
             }
             .wrapper_div {
                 justify-content: left;
             }
         }
         
         @media only screen and (min-width: 768px) and (max-width: 1399px) {
             .content-data {
                 margin-top: 40px;
             }
             .fixed_deposit_data {
                 font-size: 40px;
                 line-height: 40px;
             }
             .invest_in {
                 font-size: 20px;
             }
             .in_just {
                 font-size: 11px;
             }
             .easy_step {
                 font-size: 16px;
             }
             .circle_content {
                 font-size: 10px;
             }
             .circle_info::before {
                 left: 17px;
             }
             .main_left_div {
                 display: block;
                 position: relative;
             }
             .img_div {
                 position: absolute;
                 top: -96px;
                 right: 0;
             }
             .card_div_data {
                 display: block;
             }
             .card_second_content {
                 font-size: 35px;
             }
             .wrapper_div {
                 justify-content: left;
                 display: block;
             }
         }
         .maincom {
            padding-top: 30px;
            padding-left: 26px;
            padding-right: 50px;
        }