.toggle-maine-right {
    padding: 50px 45px 50px 20px;
}

.pan-toggle-check-kyc {
    margin-top: 191px;
}

.pan-toggle {
    padding: 29px 30px 129px 30px;
}

.invest_fixed_toggle {
    margin-top: 0;
}

.first-button-data-toggle {
    margin-top: 20px;
}
