/* New upadte 18 sep */
.starcontainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
textarea#w3review {
  color: #ccc;
  padding: 5px;
  width: 100%;
  border: 1px solid #8C989F;
  border-radius: 6px;
}
img.successback {
  padding-right: 6px;
}
.custome-wrapper {
  text-align: center;
  margin-top: 20px;
}
.star-container.inactive {
  padding:  20px 5px;
}
.star-container.active {
  padding:  20px 5px;
}

.fa-star {
  font-size: 1.5em;
  color: #ffd700;
}

#submit {
  display: flex;
  justify-content: center;
  width: 304px;
  padding: 12px;
  align-items: center;
  color: #fff;
  background-color: #e31837;
  border-color: #e31837;
  cursor: pointer;
  border: 1px solid #e31837;
  font-size: 1rem;
  border-radius: 0.25rem;
}
#submit:disabled {
    cursor: not-allowed;
    background: #ccc;
    border-color: #ccc;
}
#message {
  text-align: center;
  margin-bottom: 2em;
}
#submit-section {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  top: 0;
  left: 0;
  place-items: center;
  border-radius: 0.5em;
}
.hide {
  display: none;
}
.show {
  display: grid;
}


.check-container {
    width: 6.25rem;
    height: 7.5rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
  }
  .check-container .check-background {
    width: 100%;
    height: calc(100% - 1.25rem);
    background: linear-gradient(to bottom right, #5de593, #41d67c);
    box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
    transform: scale(0.84);
    border-radius: 50%;
    animation: animateContainer 0.75s ease-out forwards 0.75s;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
  }
  .check-container .check-background svg {
    width: 65%;
    transform: translateY(0.25rem);
    stroke-dasharray: 80;
    stroke-dashoffset: 80;
    animation: animateCheck 0.35s forwards 1.25s ease-out;
  }
  .check-container .check-shadow {
    bottom: calc(-15% - 5px);
    left: 0;
    border-radius: 50%;
    background: radial-gradient(closest-side, #49da83, transparent);
    animation: animateShadow 0.75s ease-out forwards 0.75s;
  }
  
  @keyframes animateContainer {
    0% {
      opacity: 0;
      transform: scale(0);
      box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
    }
    25% {
      opacity: 1;
      transform: scale(0.9);
      box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
    }
    43.75% {
      transform: scale(1.15);
      box-shadow: 0px 0px 0px 43.334px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
    }
    62.5% {
      transform: scale(1);
      box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 21.667px rgba(255, 255, 255, 0.25) inset;
    }
    81.25% {
      box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset;
    }
    100% {
      opacity: 1;
      box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 0px rgba(255, 255, 255, 0.25) inset;
    }
  }
  @keyframes animateCheck {
    from {
      stroke-dashoffset: 80;
    }
    to {
      stroke-dashoffset: 0;
    }
  }

  
  @keyframes animateShadow {
    0% {
      opacity: 0;
      width: 100%;
      height: 15%;
    }
    25% {
      opacity: 0.25;
    }
    43.75% {
      width: 40%;
      height: 7%;
      opacity: 0.35;
    }
    100% {
      width: 85%;
      height: 15%;
      opacity: 0.25;
    }
  }



.check-container .check-background {
 
    background: linear-gradient(to bottom right, #4bae4f, #4bae4f);
   
}




.snowparent {
    position: relative;
}
.snow {
    width: 100%;
    height: 180px;
    
    background-image: url("../image-main/Group.svg");
    background-position: 0px 0px;
    animation: animatedBackground 10s linear infinite;
    position: absolute;
    top: 0;
}
.snow2 {
    width: 100%;
    height: 100vh;
   
    background-image: url("../image-main/Group.svg");
    background-position: 0px 0px;
    animation: animatedBackground 10s linear infinite;
    position: absolute;
    top: 0;
    
}

.snow div {
  width: 100%;
  height: 100%;
  background-image: url("../image-main/Group.svg");
  background-position: 0px 0px;
  animation: animatedBackground 15s linear infinite;
}

.cardparent {
    display: flex;
}
@keyframes animatedBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0px 300px;
  }
}

@media screen and (max-width:991px){
    .smallcardheading p {
        font-size: 12px !important;
        text-align: center;
    }
    p.smallcardbtntxt-first {
        font-size: 12px !important;
    }
    p.btntxt-first {
        display: none;
    }
    p.btntxt-second {
        margin-bottom: 0px;
        font-size: 14px !important;
    }
    p.success-textstyle {
        font-size: 14px;
    }
    .paragraphheading p {
        font-size: 16px;
    }
    /* 27sept 2023 new-update */

    .cardparent::-webkit-scrollbar{
        display: none;
      }
    

}
      
@media screen and (min-width:320px) and (max-width:991px){
.cardparent {
    overflow-y: hidden;
    overflow-x: auto;
}
.pl-0 {
    padding-left: 12px;
}

.smallcard {
    padding: 12px 12px !important;
    margin: 0px 6px;
}
}

@media screen and (max-width:767px){
.smallcardbtn-design {
    min-width: 108px;
}
.smallcard {
    min-width: 182px;
}
.btnicon img {
    height: 14px;
    width: 14px;
}
.leftColHeading.success {
    font-size: 20px;
}
.leftColContent {
    font-size: 12px;
}
.leftcardsuccess {
    padding: 0px 30px;
}
.leftcard-content {
    padding-top: 0px;
    padding-bottom: 49px;
}
.cust-d-flex{
    display:block;
}
}

@media screen and (min-width:767px){
.cust-d-flex{
    display:flex;
}
}
@media screen and (min-width:768px) and (max-width:1199px){
    .leftColHeading.success {
        font-size: 33px;
    }
    .success-contant {
        padding: 0px 20px 20px 20px;
    }

}

.success-submit {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
}
button.btn-back {
  height: 37px;
  width: 78px;
  border: 1px solid #000;
  border-radius: 0.25rem;
}
.bottomfix {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: flex-start;
  padding-top: 30px;
  padding-left: 50px;
}

.custome-wrapper h4 {
  font-size: 18px;
}


@media screen and (max-width:767px){
  button.btn-back {
    width: 304px;
}
.success-contant {
  height: auto !important;
  overflow: hidden !important;
}

footer.footerDiv {
  display: none;
}
.bottomfix {
  padding: 20px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  position: fixed;
  bottom: 0px;
  justify-content: center;
  z-index: 999;
  background: #fff;
}
.success-submit {
  padding-bottom: 35px;
}
.btn-success {
  margin-bottom: 20px;
}
}
.stamonmob {
  position: relative;
}
.stampsec {
  position: absolute;
  right: 20px;
  top: -40px;
  width: 54px;
  height: auto;
}
.stampsec img {
 
  width: 54px;
  height: auto;
}

.success-contant {
  height: 85vh;
  overflow: auto;
}
@media screen and (min-width:992px){
  .stampsec img {
 
    width: 100%;
    height: auto;
  }
  .stampsec {
    position: absolute;
    right: 20px;
    top: -40px;
    width: 134px;
    height: auto;
  }

}
