/*********** Responsive CSS Start Here*************/
@media only screen and (min-width: 769px) {
  /*********** Responsive dashboard View Start*************/
  .no_desktop_view {
    display: none;
  }
  .accountHolderDetails{
    position: relative;
  }
  .accountContainer {
    .bottomLightText_success {
      border-top: 1px solid $color_light_border;
      padding-top: 24px;
    }
    .border-success-page {
      border-top: 1px solid $color_light_border;
      margin: 24px 0;
    }
    .accountBox {
      .fdContents {
        &.fdContents_remove_margin {
          margin-top: 0;
        }
        &.with-border {
          position: relative;
        }
        &.with-border::after {
          content: "";
          position: absolute;
          top: 10%;
          right: 0;
          bottom: 0;
          @include custom-width-height(1px, 80%);
          background: $color_light_border;
        }
        &.fdContents_post_closure_ {
          min-height: auto;
        }
      }
    }
    .accountDetailsBox {
      padding-right: 0;
      .boldTitle {
        margin-bottom: 8px;
      }
      .loan_content {
        @include custom-font(14px, 400, 24px, 0.25px);
        color: $color_light_text;
        margin-bottom: 20px;
      }
      .right_side_data {
        .fdDetails {
          &.fdDetails_mob_post_sec::after {
            right: -25px;
          }
        }
        .ruppe_container {
          display: flex;
          position: relative;
          gap: 23px;
          align-items: center;
          place-items: center;
          &.ruppe_container_first_div {
            place-items: flex-start;
          }
          &.second_check {
            display: flex;
            justify-content: space-between;
            .finance_check {
              display: flex;
              .rupee_content_data {
                display: flex;
                flex-direction: column;
                margin-left: 21px;
              }
            }
          }
          .paid_wrapper {
            display: flex;
            width: fit-content;
            height: 24px;
            border-radius: 5px;
            position: absolute;
            // top:0;
            right: 0;
            &.remaining_amount {
              display: flex;
              white-space: nowrap;
              background: #fff0bc;
              color: #bd9400;
              @include custom-font(12px, 500, 16px, 0.4px);
            }
            padding: 4px 8px;
            border-color: #22c55e;
            background: linear-gradient(0deg, #bef4d2, #bef4d2),
              linear-gradient(0deg, #22c55e, #22c55e);
            color: #17823e;

            @include custom-font(12px, 500, 16px, 0.4px);
            span {
              img {
                margin-right: 4px;
                vertical-align: baseline;
              }
            }
          }
          &.brd-top {
            padding-top: 28px;
            margin-top: 28px;
            border-top: 1px solid $color_light_border;
          }
          .cardIcons_circle {
            &.cardIcons_circle_post_closure {
              @include custom-width-height(50px, 50px);
              background-color: $color_light_bg;
              border-radius: 50%;
              @include allCenter;
              margin-bottom: 5px;

              img {
                @include custom-width-height(28px, 28px);
              }
            }
          }
          .rupee_content {
            @include custom-font(20px, 700, 24px, 0);

            .loan_amount {
              @include custom-font(16px, 400, 24px, 0.5px);
            }
          }
        }
        .fixed_deposit_wrapper {
          background-color: $color_light_gray;
          border-radius: 8px;
          padding: 8px 23px 8px 24px;
          margin-top: 16px;
          &.fixed_deposit_second_wrapper {
            padding: 12px 16px 22px 16px;
            margin-top: 24px;
            .fixed_wrapper_check {
              display: flex;
              justify-content: space-between;
            }
          }
          .fdContents {
            margin-top: 0;
            .value {
              &.value_post{
                display: flex;
                justify-content: flex-start;
                place-items: flex-start;
               
              }
              img {
                margin-right: 8px;
                filter: unset;
              }
            }
            .fdDetails {
              .icic_label {
                @include custom-font(20px, 600, 24px, 0.15px);
                margin-bottom: 12px;
              }
              .strep_wrapper {
                max-height: 24px;
                padding: 0px 8px;
                border-radius: 8px;
                background-color: #e3e5ea;
                margin-bottom: 12px;
                width:149px;
                .strep_content {
                  @include custom-font(14px, 400, 24px, 0.25px);
                  color: #6b7280;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis; 
                }
              }
              &.fdDetails_mob_post::after {
                right: -43px;
              }
              &.fdDetails_mob_post_details::after {
                top: 36px;
                right:-79px;
              }
            }
          }
          background-color: $color_light_gray;
          border-radius: 8px;
          padding: 8px 23px 8px 24px;
          margin-top: 16px;
        }
      }
    }
  }
  .fdMainContent {
    &.fdMainContent_post_closure {
      border-bottom: 1px solid $color_light_border;
    }
    .darkRedText {
      color: $color_red_error;
    }
  }
  .fdContents {
    .fdDetails::after {
      right: 0px;
      background-color: $color_light_border;
      height: 52px;
      top: 0;
    }

    &.fdContents_post_closure_ {
      margin-bottom: 24px;
    }
  }
  .post_closure_text_data {
    @include custom-font(14px, 400, 24px, 0.25px);
    text-align: left;
    color: $color_light_text;
  }
  .right_side_data {
    .border-top-data {
      border-top: 1px solid $color_light_border;
      margin-top: 28px;
      margin-bottom: 28px;
    }
  }
  .border_bottom_post_closure {
    border-top: 1px solid $color_light_border;
    margin-top: 28px;
    color: $color_black_light;
    .list_Disclaimer {
      margin-top: 28px;
      @include custom-font(20px, 600, 24px, 0.15px);
      ul {
        text-align: left;
        padding-left: 1rem;
        margin-top: 12px;
        list-style: square;
        margin-bottom: 0;
        li {
          @include custom-font(16px, 500, 24px, 0);
          &.Disclaimer_first {
            margin-bottom: 12px;
          }
        }
      }
    }
  }
  /*----------post-closure-dashboard-UI-  end------------------------*/

  /*----------renewal-desktop-UI---start------------------------*/

  .renewal-div {
    display: flex;
    justify-content: space-between;
    place-items: flex-start;
  }
  .edit_img {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color_light_blue;
    border-bottom: 1px solid $color_light_blue;
    img {
      @include custom-width-height(14px, 14px);
      vertical-align: initial;
      margin-right: 5px;
    }
  }
  .renewal-circle {
    @include custom-width-height(60px, 60px);
    background-color: $color_white;
    border-radius: 50%;
    @include allCenter;
    margin-bottom: 5px;
    img {
      @include custom-width-height(36px, 36px);
    }
  }
  .accountBox {
    .fdContents {
      &.fdContents_renewal {
        margin-top: 32px;
      }
    }
    .fdMainContent {
      &.fdMainContent_renewal {
        padding-bottom: 32px;
      }
    }
    .renewal_wrapper_container {
      .fdContents {
        &.fdContents_renewal {
          margin-top: 32px;
        }
      }
    }
  }

  /*----------renewal-desktop-UI--- end------------------------*/

  /*----------renewal-review-desktop-UI--- end------------------------*/
  .accountContainer .accountBox .fdContents .fdDetails {
    &.fdetails_review::after {
      right: -30px;
    }
  }
  .accountBox {
    .fd_content_min_height {
      min-height: 325px;
      &.fd_content_min_height_success {
        min-height: 240px;
        border-top: 1px solid $color_light_border;
        margin-top: 24px;
        padding-top: 24px;
      }
      &.fd_content_min_height_post_closure {
        min-height: 106px;
      }
    }
    .bottomLightText {
      span {
        &.interest_rate {
          @include custom-font(14px, 700, 24px, 0.25px);
        }
      }
    }
    .fdContents {
      &.fdContents_success {
        min-height: 0;
      }
    }
    .heading_success {
      margin-bottom: 8px;
      display: flex;
      place-items: center;
    }
    .content_settled {
      @include custom-font(14px, 400, 24px, 0.25px);
      color: #6b7280;
    }
  }
  .accountContainer
    .accountDetailsBox
    .accountListContainer
    .accountList.accountList_review {
    padding-bottom: 0;
  }
  .accountContainer {
    .accountDetailsBox {
      .accountListContainer {
        .accountList {
          &.accountList_review {
            padding-bottom: 32px;
          }
          .accountHolderDetails {
            position: relative;
            .single_account_circle {
              position: absolute;
              right:0;
              top:10px;
              @include custom-width-height(88px, 88px);
              background-color: $color_light_bg;
              border-radius: 50%;
              @include allCenter;
              margin-bottom: 5px;
              display: flex;
              justify-content: center;
              place-items: center;
              align-items: center;
              img {
                @include custom-width-height(40px, 40px);
                margin-bottom: 0;
              }
            }
            &.accountHolderDetails_remove {
              margin-bottom: 0;
              padding-bottom: 0;
            }
            &.accountHolderDetails_review {
              align-items: flex-end !important;
            }

            .accountDetails {
              .accountMobile {
                margin-top: 24px;
              }
              .accountDetails_content {
                display: flex;
                align-items: flex-end;
                .accountType {
                  margin-left: 8px;
                }
              }
            }
          }
        }
      }
      .bottomText_review {
        margin-top: 17px;
      }
    }
  }

  .accountDetailsBox_success {
    .all_done {
      @include custom-font(34px, 600, 40px, 0.25px);
      margin-bottom: 16px;
      margin: 24px 0 16px 0;
      color: $color_black_light;
    }
    width: 100%;
    padding: 0 16px;
    .buttonContainer_success {
      @include setDisplayProperty(flex, center, center, row);
    }
    .email-content {
      @include custom-font(16px, 400, 24px, 0.5px);
      margin-bottom: 32px;
      width: 100% !important;
      color: $color_black_light;
    }
    .buttonContainer_success {
      .themeRedBtn {
        &.button_success_home {
          @include custom-width-height(38%, 40px);
        }
      }
    }
  }
  /*----------renewal-review-desktop-UI--- end------------------------*/
  /*----------renewal-form-desktop-UI--- start------------------------*/
  .bankDetailsMainContainer {
    .bottomContentBox {
      &.bottomContentBox_renewal_form {
        margin: 0;
      }
    }
    .main-form {
      .form_container {
        margin-top: 20px;
        min-height: 445px;
        .nominee_detail {
          margin-bottom: 24px;
          #secondColumn {
            display: none; // Hide by default
          }
          .form-control.nominee_value_data::placeholder {
            color: $color_black_light;
          }
          .form-label {
            margin-bottom: 8px;
            @include custom-font(14px, 400, 24px, 0.25px);
            color: $color_light_text;
          }
          .nominee_value_data {
            padding: 10px 18px 10px 18px;
            &.dobimg {
              background-image: url("../img/icons/VectorStroke.svg");
              background-repeat: no-repeat;
              background-position: right 13px center;
              background-size: 16px 17px;
            }
            &.dobimg::-webkit-calendar-picker-indicator {
              display: none;
            }
          }
          .nominee_value_data:focus {
            outline: none !important;
            outline-width: 0 !important;
            box-shadow: none;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            border: 1px solid $color_disabled_btn;
          }
          .form-select {
            &.nominee_value_data {
              padding-right: 20px;
              background-size: 16px 17px;
              option {
                @include custom-font(16px, 400, 24px, 0.5px);
                color: $color_black_light;
              }
            }
          }
        }
      }
    }
  }
  .accountDetailsBox_post{
    padding-bottom: 0;
  }
  /*----------renewal-form-desktop-UI--- end------------------------*/
}
@media only screen and (min-width: 1367px) and (max-width: 1399px) {
  .accountContainer .accountDetailsBox .accountListContainer .accountList .accountHolderDetails {
    position: relative;
    .themeRedBtn{
      &.themeRedBtn_joint_account{
        position: absolute;
        right: 0;
      }
    }
  }
}

@media only screen and (min-width: 992px) and (max-width: 1236px) {
  .accountContainer .accountDetailsBox .accountListContainer .accountList .accountHolderDetails {
    position: relative;
    .single_account_circle {
      position: absolute;
      right: 0;
      top: 30px;
    }
    .verifyBtn{
      &.verifyBtn_joint_account{
        position: absolute;
        right: 0;
      }
    }
     .themeRedBtn{
    &.themeRedBtn_joint_account{
      position: absolute;
      right: 0;
    }
  }
  }
  .no_desktop_view {
    display: none;
  }
  .icic_label {
    margin-bottom: 12px;
  }
  .accountContainer .accountDetailsBox .right_side_data .fixed_deposit_wrapper .fdContents .fdDetails .strep_wrapper{
    width:133px;
  }
  .accountContainer .accountDetailsBox .right_side_data .ruppe_container .cardIcons_circle.cardIcons_circle_post_closure img{
    width:25px;
    height:25px;
  }
  .accountContainer .accountDetailsBox .right_side_data .fixed_deposit_wrapper .fdContents .fdDetails .icic_label{
    font-size: 14px;
  }
  .accountContainer .accountDetailsBox .right_side_data .fixed_deposit_wrapper .fdContents .fdDetails .strep_wrapper .strep_content {
    font-size: 12px;
  }
  .fdContents .fdDetails .value{
    font-size: 12px;
  }
 
  .fdContents .fdDetails .label {
    font-size: 14px;
  }
  .accountContainer .accountDetailsBox .right_side_data .fixed_deposit_wrapper{
    padding: 12px 16px;
  }
  .accountContainer .accountDetailsBox .right_side_data .fixed_deposit_wrapper .fdContents .fdDetails.fdDetails_mob_post::after {
    right:-16px;
  }
  .accountContainer .accountDetailsBox .right_side_data .fixed_deposit_wrapper .fdContents .fdDetails.fdDetails_mob_post_details::after{
    right:-36px !important;
  }
  .accountContainer .accountDetailsBox .right_side_data .ruppe_container .rupee_content {
    font-size: 16px;
  }
  .accountContainer .accountDetailsBox .loan_content{
    margin-bottom: 16px;
  }
  .accountContainer .accountDetailsBox .right_side_data .ruppe_container.brd-top{
    padding-top: 24px;
    margin-top: 24px;
  }
  .accountContainer .accountDetailsBox .right_side_data .fixed_deposit_wrapper.fixed_deposit_second_wrapper{
    margin-top: 20px;
  }
  .border_bottom_post_closure .list_Disclaimer{
    font-size: 16px;
  }
  .accountDetailsBox_success {
    .all_done {
      @include custom-font(34px, 600, 40px, 0.25px);
      margin: 24px 0 16px 0;
    }
    .email-content {
      @include custom-font(16px, 400, 24px, 0.5px);
      margin-bottom: 32px;
    }
  }
  .accountContainer .accountBox {
    .right_side_data {
      .ruppe_container {
        display: flex;
        gap: 8px;
        align-items: center;
        place-items: center;
        margin-top: 16px;
        &.second_check {
          display: flex;
          justify-content: space-between;
          .finance_check {
            display: flex;
            .rupee_content_data {
              display: flex;
              flex-direction: column;
              margin-left: 21px;
            }
          }
        }
        .paid_wrapper {
          display: flex;
          width: fit-content;
          height: 24px;
          border-radius: 5px;
          &.remaining_amount {
            display: flex;
            white-space: nowrap;
            background: #fff0bc;
            color: #bd9400;
            @include custom-font(12px, 500, 16px, 0.4px);
          }
          padding: 4px 8px;
          border-color: #22c55e;
          background: linear-gradient(0deg, #bef4d2, #bef4d2),
            linear-gradient(0deg, #22c55e, #22c55e);
          color: #17823e;

          @include custom-font(12px, 500, 16px, 0.4px);
          span {
            img {
              margin-right: 4px;
              vertical-align: baseline;
            }
          }
        }
        .cardIcons_circle {
          @include custom-width-height(37px, 37px);
          background-color: $color_light_bg;
          border-radius: 50%;
          @include allCenter;
          margin-bottom: 5px;

          img {
            @include custom-width-height(16.5px, 16.5px);
          }
        }
        .rupee_content {
          @include custom-font(14px, 600, 24px, 0.25px);
          .loan_amount {
            @include custom-font(12px, 400, 16px, 0.5px);
          }
        }
      }
    }
    .fdContents {
      .fdDetails {
        .value_success {
          font-size: 11px;
        }
      }
    }
    .with-border::after {
      right: -10px;
    }
  }
  .accountContainer
    .accountBox
    .fdContents
    .accountContainer
    .accountDetailsBox
    .accountListContainer
    .accountList
    .accountHolderDetails
    .accountDetails
    .accountDetails_content {
    flex-direction: column;
  }
  .accountContainer {
    .content_settled {
      @include custom-font(12px, 400, 16px, 0);
      margin-top: 12px;
      color: $color_light_text;
    }
    .border-success-page {
      border-top: 1px solid $color_light_border;
      margin: 24px 0;
    }
    .accountDetailsBox {
      .accountListContainer {
        .accountList .accountHolderDetails {
          .single_account_circle {
            @include custom-width-height(88px, 88px);
            background-color: $color_light_bg;
            border-radius: 50%;
            @include allCenter;
            margin-bottom: 5px;
            display: flex;
            justify-content: center;
            place-items: center;
            align-items: center;
            img {
              @include custom-width-height(40px, 40px);
              margin-bottom: 0;
            }
          }
          .themeRedBtn {
            &.customBtn {
              padding: 12px 12px;
            }
          }
        }
      }
    }
    .accountBox {
      .fdContents {
        flex-wrap: wrap;
        .fdDetails {
          margin-bottom: 12px;
          .label {
            &.label_success {
              font-size: 10px;
            }
          }
        }
        .fdDetails::after {
          position: absolute;
        }
      }
    }
  }
  /*----------renewal-form-mini-desktop-UI--- start------------------------*/
  .bankDetailsMainContainer {
    .bottomContentBox {
      &.bottomContentBox_renewal_form {
        margin: 0;
      }
    }
    .main-form {
      .form_container {
        margin-top: 20px;
        min-height: 445px;
        .nominee_detail {
          margin-bottom: 24px;
          #secondColumn {
            display: none; // Hide by default
          }
          .form-control.nominee_value_data::placeholder {
            color: $color_black_light;
          }
          .form-label {
            margin-bottom: 8px;
            @include custom-font(14px, 400, 24px, 0.25px);
            color: $color_light_text;
          }
          .nominee_value_data {
            padding: 10px 18px 10px 18px;
            &.dobimg {
              background-image: url("../img/icons/VectorStroke.svg");
              background-repeat: no-repeat;
              background-position: right 13px center;
              background-size: 12px 14px;
            }
            &.dobimg::-webkit-calendar-picker-indicator {
              display: none;
            }
          }
          .nominee_value_data:focus {
            outline: none !important;
            outline-width: 0 !important;
            box-shadow: none;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            border: 1px solid $color_disabled_btn;
          }
          .form-select {
            &.nominee_value_data {
              padding-right: 20px;
              background-size: 16px 17px;
              option {
                @include custom-font(16px, 400, 24px, 0.5px);
                color: $color_black_light;
              }
            }
          }
        }
      }
    }
  }
  /*----------renewal-form-mini-desktop-UI--- end------------------------*/
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .accountContainer .accountDetailsBox .accountListContainer .accountList .accountHolderDetails {
    position: relative;
    .single_account_circle {
      position: absolute;
      right: 0;
      top: 10px;
    }
    .verifyBtn{
      &.verifyBtn_joint_account{
        position: absolute;
        right: 0;
      }
    }
  }
  .accountDetails{
    margin-bottom: 5px;
  }
  .accountDetailsBox_post{
    padding-bottom: 24px;
  }
  .accountDetailsBox .accountListContainer{
    min-height: 0;
  }
  .accountBox .fdContents.fdContents_success{
    margin-bottom: 24px;
  }
  .listTable .listTableBody .listTabledata .tableData {
    font-size: 14px;
  }
  .accountContainer .accountBox .fdContents.remove_margin {
    margin: 0;
  }
  .icic_label {
    margin-bottom: 12px;
  }
  .accountContainer .accountDetailsBox .right_side_data .fixed_deposit_wrapper .fdContents .fdDetails.fdDetails_mob_post_details::after{
    right: -141% !important;
  }
  .loan_amount{
    @include custom-font(14px, 400, 16px, 0.4px);

  }
  .accountContainer
    .accountDetailsBox
    .right_side_data
    .fixed_deposit_wrapper
    .fdContents
    .fdDetails.fdDetails_mob_post::after {
    right: -100%;
  }
  .buttonContainer_success {
    .themeRedBtn {
      &.button_success_home {
        height: 40px;
      }
    }
  }
  .accountContainer .accountBox .fdContents.with-border::after {
    right: 17%;
  }
  .accountDetailsBox_success {
    border-bottom: 1px solid $color_light_border;
    margin-bottom: 28px;
    .all_done {
      @include custom-font(24px, 700, 30px, 0);
      margin: 8px 0 16px 0;
    }
    .email-content {
      @include custom-font(12px, 400, 16px, 0);
    }
  }
  // .no_mobile_view {
  //   display: none !important;
  // }
  .no_desktop_ipad {
    display: block;
  }
  .accountContainer .accountBox {
    .right_side_data {
      .ruppe_container {
        display: flex;
        gap: 8px;
        align-items: center;
        place-items: center;
        margin-top: 16px;
        .finance_check {
          display: flex;
          .rupee_content_data {
            display: flex;
            flex-direction: column;
            margin-left: 21px;
            .loan_amount{
              @include custom-font(12px, 500, 16px, 0.4px);

            }
          }
        }
        &.second_check {
          display: flex;
          justify-content: space-between;
         
        }
        .paid_wrapper {
          display: flex;
          width: fit-content;
          height: 24px;
          border-radius: 5px;
          &.remaining_amount {
            display: flex;
            white-space: nowrap;
            background: #fff0bc;
            color: #bd9400;
            @include custom-font(12px, 500, 16px, 0.4px);
          }
          padding: 4px 8px;
          border-color: #22c55e;
          background: linear-gradient(0deg, #bef4d2, #bef4d2),
            linear-gradient(0deg, #22c55e, #22c55e);
          color: #17823e;

          @include custom-font(12px, 500, 16px, 0.4px);
          span {
            img {
              margin-right: 4px;
              vertical-align: baseline;
            }
          }
        }
        .cardIcons_circle {
          @include custom-width-height(37px, 37px);
          background-color: $color_light_bg;
          border-radius: 50%;
          @include allCenter;
          margin-bottom: 5px;

          img {
            @include custom-width-height(16.5px, 16.5px);
          }
        }
        .rupee_content {
          @include custom-font(14px, 600, 24px, 0.25px);
          .loan_amount {
            @include custom-font(12px, 400, 16px, 0.5px);
          }
        }
      }
    }
    .fdContents.with-border::after {
      height: 60%;
    }
  }
  .accountContainer .accountDetailsBox.accountDetailsBox_success_remove_margin {
    margin-top: 0;
    padding-top: 0;
  }
  .accountContainer .accountBox .fdContents {
    .remove_margin {
      margin: 0;
    }
  }
  .accountContainer {
    .termsConditionsContainer .checkbox-container {
      margin-top: 0;
    }
    .accountDetailsBox_success_remove_margin {
      margin-top: 0;
      padding-top: 0;
    }
    .accountDetailsBox
      .accountListContainer
      .accountList
      .accountHolderDetails
      .accountDetails.accountDetails_renewal {
      margin-bottom: 16px;
    }
    .accountDetailsBox {
      padding-left: 0;
      border-top: 1px solid $color_border;
      border-bottom: 1px solid $color_border;
      margin: 24px 0px;
      &.remove_border-top {
        border-top: unset;
      }
      .accountListContainer {
        .accountList .accountHolderDetails.accountHolderDetails_renewal {
          display: unset;
        }
        &.fdContents_success {
          min-height: 0;
        }
      }
    }
    .bottomLightText_success {
      border-top: unset;
      padding-top: 0;
      margin-top: 4px;
    }
    .accountContainer
      .accountDetailsBox
      .right_side_data
      .fixed_deposit_wrapper
      .fdContents
      .fdDetails
      .icic_label {
      @include custom-font(12px, 600, 24px, 0.25px);
    }
    .accountBox {
      .content_settled {
        @include custom-font(12px, 400, 16px, 0);
        margin-bottom: 16px;
      }
      .fdContents {
        &.fdContents_only_post {
          flex-wrap: initial;
        }
        .fdDetails {
          .strep_wrapper {
            width: fit-content;
            height: 24px;
            padding: 0px 8px;
            border-radius: 8px;
            background-color: #e3e5ea;
            margin-bottom: 12px;
            .strep_content {
              @include custom-font(10px, 400, 14px, 0);
              color: #6b7280;
            }
          }
          &.fdDetails_value {
            margin-bottom: 16px;
          }
          .value {
            &.value_success {
              margin-bottom: 0;
            }
          }
        }
      }
      .accountContainer .accountBox .fdContents.remove_margin {
        margin: 0;
      }
      .fd_content_min_height {
        min-height: 0;

        &.fd_content_min_height_success {
          border-top: unset;
          margin-top: 0;
          padding-top: 0;
        }

        &.fdContents_width {
          width: 100%;
        }
        .fdContents {
          &.fdContents_mobile_tab {
            margin-bottom: 24px;
          }
        }
      }
      .fdContents .fdDetails.fdetails_review::after {
        right: -44px;
      }
    }
  }
  .modal-dialog {
    max-width: unset;
  }
  /*----------renewal-form-mini-mobile-UI--- start------------------------*/
  .bankDetailsMainContainer {
    .boldTitle {
      @include custom-font(16px, 600, 24px, 0.15px);
    }
    .bottomContentBox {
      &.bottomContentBox_renewal_form {
        margin: 0;
      }
    }
    .main-form {
      .form_container {
        margin-top: 16px;
        min-height: 439px;
        .nominee_detail {
          margin-bottom: 24px;
          #secondColumn {
            display: none; // Hide by default
          }
          .form-control.nominee_value_data::placeholder {
            color: $color_black_light;
          }
          .form-label {
            margin-bottom: 8px;
            @include custom-font(12px, 400, 16px, 0);
            color: $color_light_text;
          }
          .nominee_value_data {
            padding: 10px 12px 10px 12px;
            &.dobimg {
              background-image: url("../img/icons/VectorStroke.svg");
              background-repeat: no-repeat;
              background-position: right 13px center;
              background-size: 12px 14px;
            }
            &.dobimg::-webkit-calendar-picker-indicator {
              display: none;
            }
          }
          .nominee_value_data:focus {
            outline: none !important;
            outline-width: 0 !important;
            box-shadow: none;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            border: 1px solid $color_disabled_btn;
          }
          .form-select {
            &.nominee_value_data {
              padding-right: 20px;
              background-size: 12px 14px;
              option {
                @include custom-font(14px, 400, 28px, 0.25px);
                color: $color_black_light;
              }
            }
          }
        }
      }
    }
  }
  /*----------renewal-form-mini-mobile-UI--- end------------------------*/
}

@media only screen and (max-width: $tablet) {
  /*********** Responsive dashboard View Start*************/
  .mob-wrapper .fixedDepositeContainer .fixedDepositDetailsData:last-child{
    margin-bottom: 0;
  }
  .accountDetails{
    margin-bottom: 5px;
  }
  .accountHolderDetails
  .accountContainer .accountDetailsBox .accountListContainer .accountList .accountHolderDetails {
    position: relative;
    .single_account_circle {
      position: absolute;
      right: 0;
      top: 10px;
    }
    .verifyBtn{
      &.verifyBtn_joint_account{
        position: absolute;
        right: 0;
      }
    }
  }
  .cardContainer_mobileView {
    margin-bottom: 24px;
    margin-top: 3px;
  }
  .accountContainer
    .accountDetailsBox
    .right_side_data
    .ruppe_container.second_check {
    place-items: flex-start;
  }
  .accountContainer
    .accountDetailsBox
    .right_side_data
    .fixed_deposit_wrapper
    .fdContents
    .value
    img {
    filter: unset;
  }
  .brd-top-post {
    border-top: 1px solid #e8e8e8;
    padding-top: 12px;
  }
  .buttonContainer_success {
    .themeRedBtn {
      &.button_success_home {
        height: 40px;
      }
    }
  }
  .accountContainer
    .accountDetailsBox
    .right_side_data
    .fixed_deposit_wrapper
    .fdContents.fdContents_only_post {
    display: flex;
    justify-content: space-between;
  }
  .accountContainer
    .accountDetailsBox
    .right_side_data
    .fixed_deposit_wrapper
    .fdContents
    .fdDetails {
    .strep_wrapper {
      width: fit-content;
      height: 24px;
      padding: 5px 14px;
      border-radius: 8px;
      background-color: #e3e5ea;
      margin-bottom: 12px;
      .strep_content {
        @include custom-font(10px, 400, 14px, 0);
        color: #6b7280;
      }
    }
  }
  .accountDetailsBox_success {
    .all_done {
      @include custom-font(24px, 700, 30px, 0);
      margin: 8px 0 12px 0;
    }
    .email-content {
      @include custom-font(12px, 400, 16px, 0);
    }
  }
  .dashboardDarkCard {
    .cardLabelHeading {
      &.cardLabelHeading_mob {
        text-align: left;
        @include custom-font(16px, 600, 24px, 0.15px);
      }
    }
    .cardLabelList_mob {
      ul {
        li {
          text-align: left;
          @include custom-font(12px, 500, 16px, 0.25px);
        }
      }
    }
    &.dashboardDarkCard_mob {
      padding: 16px 12px;
      height: auto;
      .newFdImage_mob {
        @include custom-width-height(auto, 111px);
      }
    }
    .advertisement_mob {
      width: 100%;
      .themeRedBtn {
        &.themeRedBtn_mob {
          height: 32px;
          @include custom-font(12px, 700, 16px, 1.25px);
        }
      }
    }
  }
  .fixed_deposit_summary {
    text-align: left;
    color: $color_black;
    @include custom-font(16px, 600, 24px, 0.15px);
    margin-bottom: 12px;
    margin-top: 16px;
  }
  .mobile_container {
    .fixed_deposit_summary {
      text-align: left;
      color: $color_black;
      @include custom-font(16px, 600, 24px, 0.15px);
    }
  }
  .lightBorderRight{
      border-right: 1px solid #CCCCCC;
  }
  .cardContainerMobile {
    padding: 8px 16px;
    background-color: $color_white;
    box-shadow: 0px 4px 8px 0px rgba($color_black, 0.05),
      0px 10px 15px 0px rgba($color_black, 0.05);
    border-radius: 5.14px;
    // @include setDisplayProperty(flex, space-between, center);
    .custom-tooltip {
      &.custom_tooltip {
        img {
          vertical-align: text-bottom;
        }
      }
    }
    .first_active_data {
      position: relative;
      display: flex;
      flex-direction: column;
      &:after {
        content: "";
        @include custom-width-height(1px, 80%);
        background: $color_border;
        position: absolute;
        right: -44px;
        top: 10%;
      }
    }
    .first_active_data {
      &:last-child {
        &:after {
          display: none;
        }
      }
    }
    .active_fds {
      text-align: center;
      color: $color_light_text;
      place-items: center;
      justify-content: center;
      @include custom-font(10px, 500, 14px, 0.4px);
      .custom_tooltip {
        .tooltip-text {
          width: 238px;
          height: fit-content;
          &.tooltip_mobile {
            left: -250px;
            top: -20px;
          }
        }
        .tooltip-text::after {
          right: -15px;
          top: 18px;
          left: auto;
          transform: rotate(-90deg);
        }
      }
    }
    .circle_div_mobile {
      display: flex;
      place-items: baseline;
      margin-top: 6px;
      gap: 6px;
      justify-content: center;

      .detail_price {
        text-align: left;
        color: $color_black_light;
        @include custom-font(14px, 600, 24px, 0.25px);
      }
    }
    .cardIcons_circle {
      @include custom-width-height(20px, 20px);
      background-color: $color_light_bg;
      border-radius: 50%;
      @include allCenter;
      margin-bottom: 5px;
      img {
        @include custom-width-height(10px, 10px);
      }
    }
    .card_wrapper_data {
      @include setDisplayProperty(flex, space-between, center);
    }
  }
  .fixedDepositDetailsData {
    .details_fixed_deposit {
      padding: 14px 16px;
      background-color: $color_white;
      box-shadow: 0px 4px 8px 0px rgba($color_black, 0.05),
        0px 10px 15px 0px rgba($color_black, 0.05);
      border-radius: 5.14px;
      margin-top: 12px;
      .auto_renewal_details {
        @include setDisplayProperty(flex, space-between, center);
        .FD_num {
          text-align: left;
          color: $color_black_light;
          @include custom-font(12px, 400, 16px, 0em);
        }
        .auto_renewal {
          display: flex;
          .auto_renewal_text {
            text-align: left;
            color: $color_light_text;
            @include custom-font(12px, 500, 16px, 0.25px);
          }
          .form-check-input_mob {
            margin-top: 0;
          }
          .form_switch_mob {
            padding-left: 8px;
          }
          .form-check-input-mob::before {
            content: "";
          }
          .form-check-input-mob::after {
            content: "";
          }
        }
      }
      .second_details {
        .Investment_details_content {
          @include setDisplayProperty(flex, space-between, center);
          margin: 12px 0 16px 0;
          .img_detail {
            display: flex;
            gap: 4px;
            margin-top: 4px;
            img {
              @include custom-width-height(15px, 15px);
              vertical-align: inherit;
            }
            .NA_text {
              text-align: left;
              color: $color_black_light;
              @include custom-font(14px, 400, 20px, 0.25px);
            }
            .percentage_text {
              text-align: left;
              color: $color_green_dark;
              @include custom-font(14px, 700, 20px, 0em);
            }
          }
          .text_content {
            text-align: left;
            color: $color_light_text;
            @include custom-font(12px, 400, 16px, 0em);
          }
        }
      }
      .third_details {
        @include setDisplayProperty(flex, space-between, center);
        .circle_arrow {
          @include custom-width-height(20px, 20px);
          @include allCenter;
          border-radius: 50%;
          background-color: $color_black;
          img {
            @include custom-width-height(12.5px, 12.5px);
          }
        }
        .pending_details {
          display: flex;
          gap: 7px;
          .red-bg-label {
            &.red_bg_label_mob {
              padding: 0.4rem;
            }
          }
          .green_label_mob {
            padding: 0.4rem;
          }
        }
      }
    }
    .showmorebtn_mob {
      @include setDisplayProperty(flex, center, center);
      margin-top: 12px;
      margin-bottom: 24px;
      text-align: left;
      color: $color_light_blue;
      @include custom-font(12px, 500, 20px, 0.25px);
      a {
        text-decoration: none;
      }
    }
  }
  .border_top_line {
    border-top: 1px solid $color_light_border;
    margin-bottom: 4px;
  }
  .dashboardDarkCardMobile {
    margin: 24px 0px;
    .cardLabelList {
      .percent_data {
        color: $color_white;
      }
    }
    .img_content {
      @include custom-width-height(110px, 111px);
      object-fit: cover;
    }
    .themeRedBtn {
      &.img {
        .img {
          @include custom-width-height(110px, 111px);
        }
      }
    }
  }
  /*********** Responsive dashboard View End*************/
  /*********** Responsive Quick-Actions-Mobile View Start*************/
  .col_data_ {
    position: relative;
    margin-top: 0;
  }
  .icic_label {
    margin-bottom: 12px;
    @include custom-font(12px, 600, 24px, 0.25px);
  }
  .strep_wrapper {
    margin-bottom: 12px;
  }
  .cardContainer_mobile_screen {
    margin-top: 12px;
    .fdDetailsBox_mobile_screen {
      padding: 12px 16px;
      height: fit-content;
      .fdHeader_mobile_screen {
        @include setDisplayProperty(flex, left, initial, column);
        .fdTenure_mobile_screen {
          margin-top: 8px;
          padding: 2px 8px;
          width: fit-content;
          font-size: 12px;
          img {
            margin-bottom: 2px;
          }
        }
        .boldTitle_mobile {
          margin-bottom: 8px;
          @include custom-font(16px, 600, 24px, 0.15px);
          text-align: left;
        }
      }
      .fdMainContent {
        padding: 16px 0;
        .fdInvestment_mobile_screen {
          .bigText_mob_screen {
            @include custom-font(16px, 600, 24px, 0.15px);
            text-align: left;
          }
          .lightText_mob_screen {
            @include custom-font(12px, 400, 16px, 0);
            text-align: left;
          }
        }
        .fdInvestment_sec_mobile_view {
          .lightText_line_text_mob_screen {
            @include custom-font(12px, 400, 16px, 0);
            text-align: right;
          }

          .darkGreenText_mob_screen {
            @include custom-font(16px, 600, 24px, 0.15px);
            text-align: right;
          }
        }

        .fdTenure_years_text {
          @include custom-font(12px, 500, 16px, 0.25px);
          text-align: center;
        }
      }
      .fdContents {
        &.fdContents_only_post {
          flex-wrap: initial;
        }
        &.fdContents_mob_screen {
          flex-wrap: wrap;
        }

        .fdDetails {
          width: 50%;
          margin-bottom: 12px;
          .icic_label {
            @include custom-font(20px, 600, 24px, 0.15px);
            margin-bottom: 12px;
          }
          .strep_wrapper {
            width: fit-content;
            height: 24px;
            padding: 0px 8px;
            border-radius: 8px;
            background-color: #e3e5ea;
            margin-bottom: 12px;
            .strep_content {
              @include custom-font(10px, 400, 14px, 0);
              color: #6b7280;
            }
          }
          .label {
            @include custom-font(12px, 500, 16px, 0.25px);
            text-align: left;
          }

          .value {
            @include setDisplayProperty(flex, flex-start, center);
            align-items: center;
            @include custom-font(14px, 500, 20px, 0.25px);
            text-align: left;
            color: $color_black_light;

            img {
              @include custom-width-height(15px, 15px);
              vertical-align: middle;
            }
          }
        }

        .fdDetails::after {
          position: initial;
        }
      }
    }
  }

  .third_col_data {
    .quickActionBanner {
      padding: 12px 24px 12px 16px;

      img.newFdImage {
        @include custom-width-height(95.99px, 94.9px);
        right: -20px;
        bottom: -14px;
      }
      .cardLabelHeading {
        @include custom-font(16px, 600, 24px, 0.15px);
        text-align: left;
        margin-bottom: 0;
      }
      .cardLabelList {
        margin: 8px 0 16px 0;
        ul {
          li {
            @include custom-font(12px, 500, 16px, 0.25px);
            text-align: left;
          }
        }
      }
      .themeRedBtn_mob {
        @include custom-width-height(fit-content, 32px);
        padding: 8px, 12px, 8px, 12px;
        @include custom-font(12px, 700, 16px, 1.25px);
        text-align: center;
      }
    }
  }
  .quick_actions_button_div {
    .quick_actions_button {
      background-color: $color_black;
      color: $color_white;
      @include custom-width-height(fit-content, 34px);
      border: none;
      outline: none;
      @include custom-font(12px, 600, 24px, 0.09px);
      @include allCenter;
      padding: 0px 12px;
      border-radius: 20px;
      position: fixed;
      bottom: 24px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 9;
    }
  }
  #cardContainer_mobile_view_ {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    box-shadow: 0px 1px 2px 0px rgba($color_black, 0.06),
      0px 1px 3px 0px rgba($color_black, 0.01);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    z-index: 10;
    transition: display 0.3s ease;
    .quickActionBox {
      padding: 20px 16px;
      .boldTitle {
        @include custom-font(16px, 600, 24px, 0.15px);
        margin-bottom: 16px;
        text-align: center;
      }
      .close_icon {
        position: absolute;
        display: flex;
        justify-content: right;
        top: 16px;
        right: 16px;
        cursor: pointer;
        img {
          @include custom-width-height(16px, 16px);
        }
      }
      .quickActionTabs {
        &.quickActionTabs_mob_screen {
          display: initial;
          .themeRedBtn_mob_Continue {
            padding: 12px 118px;
            @include custom-width-height(100%, 40px);
          }
          .boxRadioButton_mob {
            width: 100%;
            padding: 16px 12px 16px 0px;
            justify-content: flex-start;
            flex-direction: row;
            .quickActionLabel {
              margin-left: 8px;
            }
          }
          .boxRadioButton_mob:hover {
            background-color: $color_black_light;
            color: $color_white;
          }
          #actionButton {
            background-color: $color_disabled_btn;
            color: $color_white;
            padding: 10px 20px;
            border: none;
            cursor: not-allowed;
          }
          #actionButton.active {
            background-color: $color_red;
            cursor: pointer;
          }
        }
      }
    }
  }
  #cardContainer_mobile_view_.show {
    display: block;
  }
  /*********** Responsive Quick-Actions-Mobile View End*************/
  /******Responsive post-closure-Mobile-view start*******************/
  .cardContainer_leftside {
    background-color: $color_light_bg;
    box-shadow: none;
    .fdDetailsBox {
      .fdMainContent {
        .fdInvestment {
          .bigText {
            @include custom-font(16px, 600, 24px, 0.15px);
            &.darkRedText {
              color: $color_red_error;
            }
          }
        }
        img {
          width: 100%;
        }
      }
    }
  }
  .no_mobile_view {
    display: none !important;
  }
  .accountContainer {
    &.accountContainer_success {
      padding-bottom: 26px;
    }
    .accountDetailsBox {
      &.accountDetailsBox_success_remove_margin {
        margin-top: 0;
        padding-top: 0;
      }
    }
    padding: 12px 16px;
    .border-success-page {
      border-top: 1px solid $color_light_border;
      margin: 24px 0;
    }
    .termsConditionsContainer .checkbox-container {
      margin-top: 0;
    }
    .accountBox {
      padding: 12px 16px;
      .boldTitle {
        @include custom-font(16px, 600, 24px, 0.15px);
      }
      .fdContents {
        &.fdContents_post_closure_ {
          min-height: auto;
          flex-wrap: wrap;
          margin-bottom: 22px;
        }
        .fdDetails {
          &.remove_margin_bottom {
            margin-bottom: 0;
          }
        }

        .fdDetails::after {
          position: initial;
        }
      }
      .post_closure_text_data {
        @include custom-font(10px, 400, 14px, 0);
        text-align: left;
        color: $color_light_text;
      }
      .fdMainContent {
        .fdInvestment {
          .bigText {
            @include custom-font(16px, 600, 24px, 0.15px);
            &.darkRedText {
              color: $color_red_error;
            }
          }
        }
        &.fdMainContent_post_closure {
          img {
            width: 100%;
          }
          place-items: initial;
        }
      }
    }
    .border-top-data {
      border-top: 1px solid $color_light_border;
      margin-top: 24px;
      margin-bottom: 24px;
    }
    .border-top-data_ {
      border-top: 1px solid $color_light_border;
    }
    .accountDetailsBox {
      padding: 0px 0px 0px 0;
      .boldTitle {
        margin-bottom: 4px;
        @include custom-font(16px, 600, 24px, 0.15px);
      }
      .loan_content {
        @include custom-font(12px, 400, 16px, 0.25px);
        margin-bottom: 16px;
      }
      .right_side_data {
        .ruppe_container {
          display: flex;
          gap: 8px;
          align-items: center;
          place-items: center;
          margin-top: 16px;
          &.second_check {
            display: flex;
            justify-content: space-between;
            .finance_check {
              display: flex;
              .rupee_content_data {
                display: flex;
                flex-direction: column;
                margin-left: 21px;
                .loan_amount {
                  @include custom-font(12px, 400, 16px, 0);
                  color: #231f20;
                }
              }
            }
          }
          .paid_wrapper {
            display: flex;
            width: fit-content;
            height: 24px;
            border-radius: 5px;
            &.remaining_amount {
              display: flex;
              white-space: nowrap;
              background: #fff0bc;
              color: #bd9400;
              @include custom-font(12px, 500, 16px, 0.4px);
            }
            padding: 4px 8px;
            border-color: #22c55e;
            background: linear-gradient(0deg, #bef4d2, #bef4d2),
              linear-gradient(0deg, #22c55e, #22c55e);
            color: #17823e;

            @include custom-font(12px, 500, 16px, 0.4px);
            span {
              img {
                margin-right: 4px;
                vertical-align: baseline;
              }
            }
          }
          .cardIcons_circle {
            @include custom-width-height(37px, 37px);
            background-color: $color_light_bg;
            border-radius: 50%;
            @include allCenter;
            margin-bottom: 5px;

            img {
              @include custom-width-height(16.5px, 16.5px);
            }
          }
          .rupee_content {
            @include custom-font(14px, 600, 24px, 0.25px);
            .loan_amount {
              @include custom-font(12px, 400, 16px, 0.5px);
            }
          }
        }
        .fixed_deposit_wrapper {
          background-color: $color_light_gray;
          border-radius: 8px;
          padding: 12px 16px;
          margin-top: 16px;
          margin-bottom: 28px;
          .fdContents {
            margin-top: 0;
            flex-wrap: wrap;
            .fdDetails {
              width: 100%;
            }
            .value {
              img {
                margin-right: 8px;
              }
            }
            .fdDetails {
              &.fdDetails_mob_post::after {
                right: -22px;
              }
              &.fdDetails_mob_post {
                .value {
                  margin-bottom: 12px;
                }
              }

              &.fdDetails_MM {
                margin-bottom: 0px;

                .label {
                  margin-top: 7px;
                }
              }
            }
          }
          background-color: $color_light_gray;
          border-radius: 8px;
          margin-top: 16px;
        }
        .fdContents {
          .value {
            justify-content: initial;
          }
          .fdDetails {
            &.fdDetails_mob_post::after {
              position: initial;
            }
          }
        }
      }
    }
  }
  .buttonContainer {
    width: 100%;
  }
  .accountContainer
    .accountDetailsBox
    .right_side_data
    .fixed_deposit_wrapper
    .fdContents {
    &.fdContents_only_post {
      flex-wrap: initial;
    }
  }
  .fdContents {
    flex-wrap: wrap;
    .fdDetails {
      width: 50%;
      margin-bottom: 16px;
      &.fdDetails_mob_post_sec {
        margin-bottom: 16px;
      }
      .label {
        font-size: 12px;
        line-height: 16px;
      }
      .value {
        justify-content: flex-start;
        font-size: 14px;
        img {
          @include custom-width-height(15px, 15px);
        }
      }
      &::after {
        display: none;
      }
    }
    .fdDetails_mob_post {
      margin-bottom: 0px;
    }
  }
  /******Responsive post-closure-Mobile-view end*******************/
  /******Renewal-Summary-Mobile-view start*******************/
  .card_content_heading {
    margin-bottom: 12px;
    @include custom-font(16px, 600, 24px, 0.15px);
  }
  .renewal-div {
    display: flex;
    justify-content: space-between;
  }
  .edit_img {
    color: $color_light_blue;
    border-bottom: 1px solid $color_light_blue;
    img {
      @include custom-width-height(14px, 14px);
      vertical-align: initial;
    }
  }
  .renewal-circle {
    @include custom-width-height(46px, 46px);
    background-color: $color_white;
    border-radius: 50%;
    @include allCenter;
    margin-bottom: 5px;
    img {
      @include custom-width-height(25px, 25px);
    }
  }
  .accountBox {
    .renewal_wrapper_container {
      width: 50%;
      .fdContents {
        &.fdContents_renewal {
          margin-bottom: 36px;
        }
        .fdDetails::after {
          right: -17px;
        }
      }
    }
    .fdMainContent {
      &.fdMainContent_renewal {
        padding: 12px 0 16px 0;
      }
    }
    .renewal_wrapper_container {
      width: 100%;
    }
    .content_settled {
      @include custom-font(12px, 400, 16px, 0);
      margin-top: 12px;
      color: $color_light_text;
    }
  }
  .border-top-data {
    &.border-top-data_renewal {
      margin: 28px 0 16px 0;
    }
  }
  .termsConditionsContainer {
    .label {
      @include custom-font(14px, 400, 16px, 0);
    }
  }
  /******Renewal-Summary-Mobile-view end*******************/
  /******Renewal-Summary-Review-Mobile-view end*******************/
  .accountDetailsBox .accountListContainer .accountList .accountHolderDetails {
    .single_account_circle {
      @include custom-width-height(60px, 60px);
      background-color: $color_light_bg;
      border-radius: 50%;
      @include allCenter;
      margin-bottom: 5px;
      display: flex;
      justify-content: center;
      place-items: center;
      align-items: center;
      img {
        @include custom-width-height(25px, 25px);
        margin-bottom: 0;
      }
    }
    .accountDetails {
      &.accountDetails_renewal {
        margin-bottom: 18px;
      }
    }
    &.accountHolderDetails_renewal {
      display: unset;
    }
  }
  .accountContainer {
    &.accountContainer_success {
      padding-bottom: 26px;
    }
    .accountDetailsBox {
      .accountListContainer
        .accountList
        .accountHolderDetails
        .accountDetails
        .accountDetails_content {
        display: flex;
        align-items: center;
        .accountType {
          margin-left: 3px;
        }
      }
      .leftside_div {
        align-items: center;
        @include setDisplayProperty(flex, center, center, column);
        @include custom-font(24px, 700, 30px, 0px);
        .email-content {
          margin-top: 12px;
          width: 100%;
          text-align: center;
          @include custom-font(12px, 400, 16px, 0px);
        }
        .buttonContainer_success {
          button {
            width: 100%;
          }
        }
      }
      &.accountDetailsBox_success {
        border-top: none;
        border-bottom: none;
      }
      &.accountDetailsBox_success_remove_margin {
        margin-bottom: 0;
      }
    }
  }
  .accountContainer .accountBox {
    .bottomLightText {
      &.bottomLightText_success {
        margin-top: 4px;
      }
    }
    .content_settled {
      margin-bottom: 16px;
    }
    .fdContents {
      display: flex;
      justify-content: space-between;
      place-items: baseline;
      flex-direction: row;
      .fdDetails {
        &.fdDetails_value {
          margin-bottom: 16px;
        }
        .value {
          &.value_success {
            margin-bottom: 0;
          }
        }
      }
      &.remove_margin {
        margin: 0;
      }
      .fdDetails {
        &.fdContents_width {
          width: 100%;
        }
      }
    }
  }
  //******Renewal-Summary-Review-Mobile-view end*******************/
  .accountDetailsBox_success {
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 28px;
    padding-bottom: 28px;
    width: 100%;
    img {
      width: 100%;
    }
  }
  /*----------renewal-form-mobile-UI---start------------------------*/
  .bankDetailsMainContainer {
    .boldTitle {
      @include custom-font(16px, 600, 24px, 0.15px);
    }
    .bottomContentBox {
      &.bottomContentBox_renewal_form {
        margin: 0;
      }
    }
    .main-form {
      .form_container {
        margin-top: 16px;
        min-height: 439px;
        .nominee_detail {
          margin-bottom: 16px;
          #secondColumn {
            display: none; // Hide by default
          }
          .form-control.nominee_value_data::placeholder {
            color: $color_black_light;
          }
          .form-label {
            margin-bottom: 8px;
            @include custom-font(12px, 400, 16px, 0);
            color: $color_light_text;
          }
          .nominee_value_data {
            padding: 10px 12px 10px 12px;
            &.dobimg {
              background-image: url("../img/icons/VectorStroke.svg");
              background-repeat: no-repeat;
              background-position: right 13px center;
              background-size: 12px 14px;
            }
            &.dobimg::-webkit-calendar-picker-indicator {
              display: none;
            }
          }
          .nominee_value_data:focus {
            outline: none !important;
            outline-width: 0 !important;
            box-shadow: none;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            border: 1px solid $color_disabled_btn;
          }
          .form-select {
            &.nominee_value_data {
              padding-right: 20px;
              background-size: 12px 14px;
              option {
                @include custom-font(14px, 400, 28px, 0.25px);
                color: $color_black_light;
              }
            }
          }
        }
      }
    }
  }
  /*----------renewal-form-mobile-UI--- end------------------------*/
}
@media only screen and (max-width: $miniMobile) {
  /*********** Responsive dashboard View Start*************/
  .cardContainerMobile {
    .first_active_data::after {
      right: -32px;
    }
  }
  /*********** Responsive dashboard View End*************/
}

@media only screen and (min-width: 375px) and (max-width: 393px) {
  .accountContainer .accountDetailsBox .accountListContainer .accountList .accountHolderDetails .accountDetails .accountDetails_content .accountType{
    font-size: 12px;
  }
  .accountContainer .accountDetailsBox .accountListContainer .accountList .accountHolderDetails {
    position: relative;
    .verifyBtn{
      &.verifyBtn_joint_account{
        position: absolute;
        right: 0;
      }
    }
  }

}