/*********** Responsive CSS Start Here*************/
@media only screen and (min-width: 767px) {
  /*********** Responsive dashboard View Start*************/
  .no_desktop_view {
    display: none;
  }
  /*********** Responsive Quick-Actions-Mobile View End*************/
  .accountContainer {
    .accountBox {
      .fdContents {
        &.fdContents_post_closure_ {
          min-height: auto;
        }
      }
    }
    .accountDetailsBox {
      padding-right: 0;
      .boldTitle {
        margin-bottom: 8px;
      }
      .loan_content {
        @include custom-font(14px, 400, 24px, 0.25px);
        color: $color_light_text;
      }
      .right_side_data {
        .fdDetails {
          &.fdDetails_mob_post_sec::after {
            right: -25px;
          }
        }
        .ruppe_container {
          display: flex;
          gap: 23px;
          align-items: center;
          place-items: center;
          margin-top: 24px;
          .cardIcons_circle {
            &.cardIcons_circle_post_closure {
              @include custom-width-height(50px, 50px);
              background-color: $color_light_bg;
              border-radius: 50%;
              @include allCenter;
              margin-bottom: 5px;

              img {
                @include custom-width-height(28px, 28px);
              }
            }
          }
          .rupee_content {
            @include custom-font(20px, 700, 24px, 0);

            .loan_amount {
              @include custom-font(16px, 400, 24px, 0.5px);
            }
          }
        }
        .fixed_deposit_wrapper {
          background-color: $color_light_gray;
          border-radius: 8px;
          padding-top: 8px;
          padding-bottom: 8px;
          padding-right: 23px;
          padding-left: 24px;
          margin-top: 16px;
          .fdContents {
            margin-top: 0;
            .value {
              img {
                margin-right: 8px;
              }
            }
            .fdDetails {
              &.fdDetails_mob_post::after {
                right: -43px;
              }
            }
          }
          background-color: $color_light_gray;
          border-radius: 8px;
          padding: 8px 23px 8px 24px;
          margin-top: 16px;
        }
      }
    }
  }
  .fdMainContent {
    &.fdMainContent_post_closure {
      border-bottom: 1px solid $color_light_border;
    }
    .darkRedText {
      color: $color_red_error;
    }
  }
  .fdContents {
    .fdDetails::after {
      right: -20px;
      background-color: $color_light_border;
      height: 52px;
      top: 0;
    }

    &.fdContents_post_closure_ {
      margin-bottom: 24px;
    }
  }
  .post_closure_text_data {
    @include custom-font(14px, 400, 24px, 0.25px);
    text-align: left;
    color: $color_light_text;
  }
  .right_side_data {
    .border-top-data {
      border-top: 1px solid $color_light_border;
      margin-top: 28px;
      margin-bottom: 28px;
    }
  }
  .border_bottom_post_closure {
    border-top: 1px solid $color_light_border;
    margin-top: 28px;
    color: $color_black_light;
    .list_Disclaimer {
      margin-top: 28px;
      @include custom-font(20px, 600, 24px, 0.15px);
      ul {
        text-align: left;
        padding-left: 1rem;
        margin-top: 12px;
        list-style: square;
        margin-bottom: 0;
        li {
          @include custom-font(16px, 500, 24px, 0);
          &.Disclaimer_first {
            margin-bottom: 12px;
          }
        }
      }
    }
  }
  /*----------post-closure-dashboard-UI-  end------------------------*/

  /*----------renewal-desktop-UI---start------------------------*/

  .renewal-div {
    display: flex;
    justify-content: space-between;
    place-items: flex-start;
  }
  .edit_img {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color_light_blue;
    border-bottom: 1px solid $color_light_blue;
    img {
      @include custom-width-height(14px, 14px);
      vertical-align: initial;
      margin-right: 5px;
    }
  }
  .renewal-circle {
    @include custom-width-height(60px, 60px);
    background-color: $color_white;
    border-radius: 50%;
    @include allCenter;
    margin-bottom: 5px;
    img {
      @include custom-width-height(36px, 36px);
    }
  }
  .accountBox {
    .fdContents {
      &.fdContents_renewal {
        margin-top: 32px;
      }
    }
    .fdMainContent {
      &.fdMainContent_renewal {
        padding-bottom: 32px;
      }
    }
    .renewal_wrapper_container {
      width: 50%;

      .fdContents {
        &.fdContents_renewal {
          margin-top: 32px;
        }
        .fdDetails::after {
          right: -17px;
        }
      }
    }
  }

  /*----------renewal-desktop-UI--- end------------------------*/

  /*----------renewal-review-desktop-UI--- end------------------------*/
  .accountContainer .accountBox .fdContents .fdDetails {
    &.fdetails_review::after {
      right: -30px;
    }
  }
  .accountBox {
    .fd_content_min_height {
      min-height: 325px;
    }
    .bottomLightText {
      span {
        &.interest_rate {
          @include custom-font(14px, 700, 24px, 0.25px);
        }
      }
    }
    .fdContents {
      &.fdContents_success {
        min-height: 0;
      }
    }
    .heading_success {
      margin-bottom: 8px;
    }
    .content_settled {
      @include custom-font(14px, 400, 24px, 0.25px);
      color: #6b7280;
    }
  }
  .accountContainer .accountDetailsBox .accountListContainer .accountList.accountList_review{
    padding-bottom: 0;
  }
  .accountContainer {
    .accountDetailsBox {
      .accountListContainer {
        .accountList {
          &.accountList_review {
            padding-bottom: 32px;
          }
          .accountHolderDetails {
           
                &.accountHolderDetails_remove{
                    margin-bottom: 0;
                    padding-bottom: 0;
                }
                &.accountHolderDetails_review{
                    align-items: flex-end !important;
                }
            
            .accountDetails {
                .accountMobile{
                    margin-top: 24px;
                }
              .accountDetails_content {
                display: flex;
                .accountType {
                  margin-left: 3px;
                }
              }
            }
          }
        }
      }
      .bottomText_review {
        margin-top: 17px;
      }
      .leftside_div {
        align-items: center;
        @include setDisplayProperty(flex, center, center, column);
        .email-content {
          width: 364px;
          text-align: center;
        }
        .buttonContainer_success {
          button {
            width: 238px;
            height: 40px;
          }
        }
      }
    }
  }
  /*----------renewal-review-desktop-UI--- end------------------------*/
}

@media only screen and (min-width: 992px) and (max-width: 1210px) {
  .accountContainer
    .accountDetailsBox
    .accountListContainer
    .accountList
    .accountHolderDetails
    .accountDetails
    .accountDetails_content {
    flex-direction: column;
  }
  .accountContainer {
    .accountDetailsBox {
      .accountListContainer {
        .accountList .accountHolderDetails {
          .themeRedBtn {
            &.customBtn {
              padding: 12px 12px;
            }
          }
        }
      }
    }
    .accountBox {
      .fdContents {
        flex-wrap: wrap;
        .fdDetails {
          margin-bottom: 12px;
        }
        .fdDetails::after {
          position: initial;
          gap: 10px;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .accountContainer {
    .termsConditionsContainer .checkbox-container {
        margin-top: 0;
      }
      .accountDetailsBox .accountListContainer .accountList .accountHolderDetails .accountDetails.accountDetails_renewal{
        margin-bottom: 16px;
      }
    .accountDetailsBox {
      padding-left: 0;
      border-top:1px solid $color_border;
      border-bottom: 1px solid $color_border;
      margin: 24px 0px;
      .accountListContainer {
        .accountList .accountHolderDetails.accountHolderDetails_renewal{
            display: unset;
        }
        &.fdContents_success {
          min-height: 0;
        }
      }
    }
    .accountBox {
      .fd_content_min_height {
        min-height: 0;
        .fdContents {
          &.fdContents_mobile_tab {
            margin-bottom: 24px;
          }
        }
      }
      .fdContents .fdDetails.fdetails_review::after {
        right: -44px;
      }
    }
  }
  .modal-dialog{
    max-width: unset;
  }
}

@media only screen and (max-width: $tablet) {
  /*********** Responsive dashboard View Start*************/
  .cardContainer_mobileView {
    margin-bottom: 24px;
    margin-top: 3px;
  }
  .dashboardDarkCard {
    .cardLabelHeading {
      &.cardLabelHeading_mob {
        text-align: left;
        @include custom-font(16px, 600, 24px, 0.15px);
      }
    }
    .cardLabelList_mob {
      ul {
        li {
          text-align: left;
          @include custom-font(12px, 500, 16px, 0.25px);
        }
      }
    }
    &.dashboardDarkCard_mob {
      padding: 16px 12px;
      height: auto;
      .newFdImage_mob {
        @include custom-width-height(auto, 111px);
      }
    }
    .advertisement_mob {
      width: 100%;

      .themeRedBtn {
        &.themeRedBtn_mob {
          height: 32px;
          @include custom-font(12px, 700, 16px, 1.25px);
        }
      }
    }
  }
  .fixed_deposit_summary {
    text-align: left;
    color: $color_black;
    @include custom-font(16px, 600, 24px, 0.15px);
    margin-bottom: 12px;
    margin-top: 16px;
  }
  .mobile_container {
    .fixed_deposit_summary {
      text-align: left;
      color: $color_black;
      @include custom-font(16px, 600, 24px, 0.15px);
    }
  }
  .cardContainerMobile {
    padding: 8px 16px;
    background-color: $color_white;
    box-shadow: 0px 4px 8px 0px rgba($color_black, 0.05),
      0px 10px 15px 0px rgba($color_black, 0.05);
    border-radius: 5.14px;
    @include setDisplayProperty(flex, space-between, center);
    .custom-tooltip {
      &.custom_tooltip {
        img {
          vertical-align: text-bottom;
        }
      }
    }
    .first_active_data {
      position: relative;
      display: flex;
      flex-direction: column;
      &:after {
        content: "";
        @include custom-width-height(1px, 80%);
        background: $color_border;
        position: absolute;
        right: -44px;
        top: 10%;
      }
    }
    .first_active_data {
      &:last-child {
        &:after {
          display: none;
        }
      }
    }
    .active_fds {
      text-align: left;
      color: $color_light_text;
      @include custom-font(10px, 500, 14px, 0.4px);
      &.investment_fds {
        white-space: nowrap;
      }
      .custom_tooltip {
        .tooltip-text {
          &.tooltip_mobile {
            left: -235px;
          }
        }
        .tooltip-text::after {
          left: 80%;
        }
      }
    }
    .circle_div_mobile {
      display: flex;
      place-items: baseline;
      margin-top: 6px;
      gap: 6px;

      .detail_price {
        text-align: left;
        color: $color_black_light;
        @include custom-font(14px, 600, 24px, 0.25px);
      }
    }
    .cardIcons_circle {
      @include custom-width-height(20px, 20px);
      background-color: $color_light_bg;
      border-radius: 50%;
      @include allCenter;
      margin-bottom: 5px;
      img {
        @include custom-width-height(10px, 10px);
      }
    }
    .card_wrapper_data {
      @include setDisplayProperty(flex, space-between, center);
    }
  }
  .fixedDepositDetailsData {
    // margin-top: 24px;
    .details_fixed_deposit {
      padding: 14px 16px;
      background-color: $color_white;
      box-shadow: 0px 4px 8px 0px rgba($color_black, 0.05),
        0px 10px 15px 0px rgba($color_black, 0.05);
      border-radius: 5.14px;
      margin-top: 12px;
      .auto_renewal_details {
        @include setDisplayProperty(flex, space-between, center);
        .FD_num {
          text-align: left;
          color: $color_black_light;
          @include custom-font(12px, 400, 16px, 0em);
        }
        .auto_renewal {
          display: flex;
          .auto_renewal_text {
            text-align: left;
            color: $color_light_text;
            @include custom-font(12px, 500, 16px, 0.25px);
          }
          .form-check-input_mob {
            margin-top: 0;
          }
          .form_switch_mob {
            padding-left: 8px;
          }
          .form-check-input-mob::before {
            content: "";
          }
          .form-check-input-mob::after {
            content: "";
          }
        }
      }
      .second_details {
        .Investment_details_content {
          @include setDisplayProperty(flex, space-between, center);
          margin: 12px 0 16px 0;
          .img_detail {
            display: flex;
            gap: 4px;
            margin-top: 4px;
            img {
              @include custom-width-height(15px, 15px);
              vertical-align: inherit;
            }
            .NA_text {
              text-align: left;
              color: $color_black_light;
              @include custom-font(14px, 400, 20px, 0.25px);
            }
            .percentage_text {
              text-align: left;
              color: $color_green_dark;
              @include custom-font(14px, 700, 20px, 0em);
            }
          }
          .text_content {
            text-align: left;
            color: $color_light_text;
            @include custom-font(12px, 400, 16px, 0em);
          }
        }
      }
      .third_details {
        @include setDisplayProperty(flex, space-between, center);
        .circle_arrow {
          @include custom-width-height(20px, 20px);
          @include allCenter;
          border-radius: 50%;
          background-color: $color_black;
          img {
            @include custom-width-height(12.5px, 12.5px);
          }
        }
        .pending_details {
          display: flex;
          gap: 7px;
          .red-bg-label {
            &.red_bg_label_mob {
              padding: 0.4rem;
            }
          }
          .green_label_mob {
            padding: 0.4rem;
          }
        }
      }
    }
    .showmorebtn_mob {
      @include setDisplayProperty(flex, center, center);
      margin-top: 12px;
      margin-bottom: 24px;
      text-align: left;
      color: $color_light_blue;
      @include custom-font(12px, 500, 20px, 0.25px);
      a {
        text-decoration: none;
      }
    }
  }
  .border_top_line {
    border-top: 1px solid $color_light_border;
    margin-bottom: 4px;
  }
  .dashboardDarkCardMobile {
    margin: 24px 0px;
    .cardLabelList {
      .percent_data {
        color: $color_white;
      }
    }
    .img_content {
      @include custom-width-height(110px, 111px);
      object-fit: cover;
    }
    .themeRedBtn {
      &.img {
        .img {
          @include custom-width-height(110px, 111px);
        }
      }
    }
  }
  /*********** Responsive dashboard View End*************/
  /*********** Responsive Quick-Actions-Mobile View Start*************/
  .col_data_ {
    position: relative;
    margin-top: 0;
  }
  .cardContainer_mobile_screen {
    margin-top: 12px;
    .fdDetailsBox_mobile_screen {
      padding: 12px 16px;
      height: fit-content;
      .fdHeader_mobile_screen {
        @include setDisplayProperty(flex, left, initial, column);
        .fdTenure_mobile_screen {
          margin-top: 8px;
          padding: 2px 8px;
          width: fit-content;
          font-size: 12px;
          img {
            margin-bottom: 2px;
          }
        }
        .boldTitle_mobile {
          margin-bottom: 8px;
          @include custom-font(16px, 600, 24px, 0.15px);
          text-align: left;
        }
      }
      .fdMainContent {
        padding: 16px 0;
        .fdInvestment_mobile_screen {
          .bigText_mob_screen {
            @include custom-font(16px, 600, 24px, 0.15px);
            text-align: left;
          }
          .lightText_mob_screen {
            @include custom-font(12px, 400, 16px, 0);
            text-align: left;
          }
        }
        .fdInvestment_sec_mobile_view {
          .lightText_line_text_mob_screen {
            @include custom-font(12px, 400, 16px, 0);
            text-align: right;
          }

          .darkGreenText_mob_screen {
            @include custom-font(16px, 600, 24px, 0.15px);
            text-align: right;
          }
        }

        .fdTenure_years_text {
          @include custom-font(12px, 500, 16px, 0.25px);
          text-align: center;
        }
      }

      .fdContents {
        &.fdContents_mob_screen {
          flex-wrap: wrap;
        }

        .fdDetails {
          width: 50%;
          margin-bottom: 12px;

          .label {
            @include custom-font(12px, 500, 16px, 0.25px);
            text-align: left;
          }

          .value {
            @include setDisplayProperty(flex, flex-start, center);
            align-items: center;
            @include custom-font(14px, 500, 20px, 0.25px);
            text-align: left;
            color: $color_black_light;

            img {
              @include custom-width-height(15px, 15px);
              vertical-align: middle;
            }
          }
        }

        .fdDetails::after {
          position: initial;
        }
      }
    }
  }

  .third_col_data {
    .quickActionBanner {
      padding: 12px 24px 12px 16px;

      img.newFdImage {
        @include custom-width-height(95.99px, 94.9px);
        right: -20px;
        bottom: -14px;
      }
      .cardLabelHeading {
        @include custom-font(16px, 600, 24px, 0.15px);
        text-align: left;
        margin-bottom: 0;
      }
      .cardLabelList {
        margin: 8px 0 16px 0;
        ul {
          li {
            @include custom-font(12px, 500, 16px, 0.25px);
            text-align: left;
          }
        }
      }
      .themeRedBtn_mob {
        @include custom-width-height(fit-content, 32px);
        padding: 8px, 12px, 8px, 12px;
        @include custom-font(12px, 700, 16px, 1.25px);
        text-align: center;
      }
    }
  }
  .quick_actions_button_div {
    .quick_actions_button {
      background-color: $color_black;
      color: $color_white;
      @include custom-width-height(fit-content, 34px);
      border: none;
      outline: none;
      @include custom-font(12px, 600, 24px, 0.09px);
      @include allCenter;
      padding: 0px 12px;
      border-radius: 20px;
      position: fixed;
      bottom: 24px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 9;
    }
  }
  #cardContainer_mobile_view_ {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    box-shadow: 0px 1px 2px 0px rgba($color_black, 0.06),
      0px 1px 3px 0px rgba($color_black, 0.01);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    z-index: 10;
    transition: display 0.3s ease;
    .quickActionBox {
      padding: 20px 16px;
      .boldTitle {
        @include custom-font(16px, 600, 24px, 0.15px);
        margin-bottom: 16px;
        text-align: center;
      }
      .close_icon {
        position: absolute;
        display: flex;
        justify-content: right;
        top: 16px;
        right: 16px;
        cursor: pointer;
        img {
          @include custom-width-height(16px, 16px);
        }
      }
      .quickActionTabs {
        &.quickActionTabs_mob_screen {
          display: initial;
          .themeRedBtn_mob_Continue {
            padding: 12px 118px;
            @include custom-width-height(100%, 40px);
          }
          .boxRadioButton_mob {
            width: 100%;
            padding: 16px 12px 16px 0px;
            justify-content: flex-start;
            flex-direction: row;
            .quickActionLabel {
              margin-left: 8px;
            }
          }
          .boxRadioButton_mob:hover {
            background-color: $color_black_light;
            color: $color_white;
          }
          #actionButton {
            background-color: $color_disabled_btn;
            color: $color_white;
            padding: 10px 20px;
            border: none;
            cursor: not-allowed;
          }
          #actionButton.active {
            background-color: $color_red;
            cursor: pointer;
          }
        }
      }
    }
  }
  #cardContainer_mobile_view_.show {
    display: block;
  }
  /*********** Responsive Quick-Actions-Mobile View End*************/
  /******Responsive post-closure-Mobile-view start*******************/
  .cardContainer_leftside {
    background-color: $color_light_bg;
    box-shadow: none;
    .fdDetailsBox {
      .fdMainContent {
        .fdInvestment {
          .bigText {
            @include custom-font(16px, 600, 24px, 0.15px);
            &.darkRedText {
              color: $color_red_error;
            }
          }
        }
        img {
          width: 100%;
        }
      }
    }
  }
  .no_mobile_view {
    display: none !important;
  }
  .accountContainer {
    padding: 12px 16px;
    .termsConditionsContainer .checkbox-container {
      margin-top: 0;
    }
    .accountBox {
      padding: 12px 16px;
      .boldTitle {
        @include custom-font(16px, 600, 24px, 0.15px);
      }
      .fdContents {
        &.fdContents_post_closure_ {
          min-height: auto;
          flex-wrap: wrap;
          margin-bottom: 22px;
        }
        .fdDetails {
          &.remove_margin_bottom {
            margin-bottom: 0;
          }
        }

        .fdDetails::after {
          position: initial;
        }
      }
      .post_closure_text_data {
        @include custom-font(10px, 400, 14px, 0);
        text-align: left;
        color: $color_light_text;
      }
      .fdMainContent {
        .fdInvestment {
          .bigText {
            @include custom-font(16px, 600, 24px, 0.15px);
            &.darkRedText {
              color: $color_red_error;
            }
          }
        }
        &.fdMainContent_post_closure {
          img {
            width: 100%;
          }
          place-items: initial;
        }
      }
    }
    .border-top-data {
      border-top: 1px solid $color_light_border;
      margin-top: 24px;
      margin-bottom: 24px;
    }
    .border-top-data_ {
      border-top: 1px solid $color_light_border;
    }
    .accountDetailsBox {
      padding: 0px 0px 0px 0;
      .boldTitle {
        margin-bottom: 4px;
        @include custom-font(16px, 600, 24px, 0.15px);
      }
      .loan_content {
        @include custom-font(12px, 400, 16px, 0.25px);
        margin-bottom: 16px;
      }
      .right_side_data {
        .ruppe_container {
          display: flex;
          gap: 8px;
          align-items: center;
          place-items: center;
          margin-top: 16px;
          .cardIcons_circle {
            @include custom-width-height(37px, 37px);
            background-color: $color_light_bg;
            border-radius: 50%;
            @include allCenter;
            margin-bottom: 5px;

            img {
              @include custom-width-height(16.5px, 16.5px);
            }
          }
          .rupee_content {
            @include custom-font(14px, 600, 24px, 0.25px);
            .loan_amount {
              @include custom-font(12px, 400, 16px, 0.5px);
            }
          }
        }
        .fixed_deposit_wrapper {
          background-color: $color_light_gray;
          border-radius: 8px;
          padding: 12px 16px;
          margin-top: 16px;
          margin-bottom: 28px;
          .fdContents {
            margin-top: 0;
            flex-wrap: wrap;
            .fdDetails {
              width: 100%;
            }
            .value {
              img {
                margin-right: 8px;
              }
            }
            .fdDetails {
              &.fdDetails_mob_post::after {
                right: -22px;
              }
              &.fdDetails_mob_post {
                .value {
                  margin-bottom: 12px;
                }
              }

              &.fdDetails_MM {
                margin-bottom: 0px;

                .label {
                  margin-top: 7px;
                }
              }
            }
          }
          background-color: $color_light_gray;
          border-radius: 8px;
          margin-top: 16px;
        }
        .fdContents {
          .value {
            justify-content: initial;
          }
          .fdDetails {
            &.fdDetails_mob_post::after {
              position: initial;
            }
          }
        }
      }
    }
  }
  .buttonContainer {
    width: 100%;
  }
  .fdContents {
    flex-wrap: wrap;
    .fdDetails {
      width: 50%;
      margin-bottom: 16px;
      &.fdDetails_mob_post_sec {
        margin-bottom: 16px;
      }
      .label {
        font-size: 12px;
        line-height: 16px;
      }
      .value {
        justify-content: flex-start;
        font-size: 14px;
        img {
          @include custom-width-height(15px, 15px);
        }
      }
      &::after {
        display: none;
      }
    }
    .fdDetails_mob_post {
      margin-bottom: 0px;
    }
  }
  /******Responsive post-closure-Mobile-view end*******************/
  /******Renewal-Summary-Mobile-view start*******************/
  .card_content_heading {
    margin-bottom: 12px;
    @include custom-font(16px, 600, 24px, 0.15px);
  }
  .renewal-div {
    display: flex;
    justify-content: space-between;
  }
  .edit_img {
    color: $color_light_blue;
    border-bottom: 1px solid $color_light_blue;
    img {
      @include custom-width-height(14px, 14px);
      vertical-align: initial;
    }
  }
  .renewal-circle {
    @include custom-width-height(46px, 46px);
    background-color: $color_white;
    border-radius: 50%;
    @include allCenter;
    margin-bottom: 5px;
    img {
      @include custom-width-height(25px, 25px);
    }
  }
  .accountBox {
    .renewal_wrapper_container {
      width: 50%;
      .fdContents {
        &.fdContents_renewal {
          margin-bottom: 36px;
        }
        .fdDetails::after {
          right: -17px;
        }
      }
    }
    .fdMainContent {
      &.fdMainContent_renewal {
        padding: 12px 0 16px 0;
      }
    }
    .renewal_wrapper_container {
      width: 100%;
    }
    .content_settled {
      @include custom-font(12px, 400, 16px, 0);
      margin-top: 12px;
      color: $color_light_text;
    }
  }
  .border-top-data {
    &.border-top-data_renewal {
      margin: 28px 0 16px 0;
    }
  }
  .termsConditionsContainer {
    .label {
      @include custom-font(14px, 400, 16px, 0);
    }
  }
  /******Renewal-Summary-Mobile-view end*******************/
  /******Renewal-Summary-Review-Mobile-view end*******************/
  .accountDetailsBox .accountListContainer .accountList .accountHolderDetails {
    .accountDetails {
      &.accountDetails_renewal {
        margin-bottom: 18px;
      }
    }
    &.accountHolderDetails_renewal {
      display: unset;
    }
  }
  .accountContainer {
    .accountDetailsBox {
        .accountListContainer
        .accountList
        .accountHolderDetails
        .accountDetails
        .accountDetails_content {
            display: flex;
            .accountType {
              margin-left: 3px;
            }
        }
      .leftside_div {
        align-items: center;
        @include setDisplayProperty(flex, center, center, column);
        .email-content {
          width: 100%;
          text-align: center;
        }
        .buttonContainer_success {
          button {
            width: 100%;
          }
        }
      }
      &.accountDetailsBox_success {
        border-top: none;
        border-bottom: none;
      }
    }
  }

  //******Renewal-Summary-Review-Mobile-view end*******************/
}

@media only screen and (max-width: $miniMobile) {
  /*********** Responsive dashboard View Start*************/
  .cardContainerMobile {
    .first_active_data::after {
      right: -32px;
    }
  }

  /*********** Responsive dashboard View End*************/
}
