.button-addition {
  @include custom-width-height(100%, 40px);
}
.additional_text {
  margin-left: 20px;
}
.joint_account_text {
  margin: 32px 0 6px 0;
  @include custom-font(20px, 600, 24px, 0.15px);
}
.label_text {
  color: #6b7280;
  @include custom-font(14px, 400, 24px, 0.25px);
  margin-bottom: 9px;
}
.themeRedBtn {
  &.button-addition {
    border: 1px solid $color_light_border;
    background-color: $color_white;
    color: $color_dull_gray;
  }
}
.boldTitle_add {
  margin-bottom: 35px;
}
.label-add {
  @include custom-font(14px, 400, 24px, 0.25px);
  color: $color_light_text;
  margin-bottom: 5px;
}
.formControl_add {
  border-radius: 8px;
  padding: 10px 16px;
  @include custom-font(16px, 400, 24px, 0.5px);
}
.form-control:focus {
  box-shadow: none;
  border-color: #ced4da;
}
.add-min-height {
  min-height: 240px;
}
.border-bottom-add {
  padding-bottom: 32px;
  border-bottom: 1px solid $color_light_border;
}
.noteContent-add {
  background: $color_light_bg;
  padding: 3px 16px;
  border-radius: 7px;
  margin-top: 16px;
  width: max-content;
}
.customBtn_add {
  height: 46px;
  width: 100%;
}
.joint-wrapper-div {
  display: none;
}
.nominee-wrapper-div {
  display: none;
}
.check_btn_add {
  background-color: $color_black !important;
  color: $color_white !important;
}

.fdContents_review {
  margin-top: 0;
}
.review-details-wrapper {
  padding: 28px 32px;
  background: #f3f4f6;
  border-radius: 12px;
  margin-top: 20px;
}
.edit_wrap_add {
  width: fit-content;
  a {
    text-decoration: none;
  }
  img {
    vertical-align: baseline;
  }
}
.edit_img_add {
  color: #0094ff;
  border-bottom: 1px solid #0094ff;
  width: fit-content;
  text-decoration: none;
}
.nominee_span {
  margin-left: 10px;
}
.details_section {
  margin-top: 32px;
  border-top: 1px solid#d9d9d9;
  padding: 32px 0;
  border-bottom: 1px solid#d9d9d9;
}
.contact_section {
  margin-top: 32px;
}

.subHeading_add {
  @include custom-font(20px, 600, 24px, 0.15px);
  span {
    @include custom-font(14px, 500, 24px, 0);
  }
}

.fdContents .fdDetails {
  .value {
    &.value_add {
      place-items: flex-start;
      justify-content: flex-start;

      img {
        @include custom-width-height(18px, 18px);
        margin-right: 10px;
      }
    }
    &.value_add_text {
      @include custom-font(20px, 500, 20px, 0);
      color: #221f20;
      margin-top: 8px;
    }
    &.value_text_data {
      line-height: 19px;
    }
  }
  .label {
    &.add_label {
      font-weight: 400;
    }
    &.approved_amount {
      @include custom-font(14px, 400, 24px, 0);
      color: #4b4c4d;
    }
    &.review_approved_amount {
      @include custom-font(14px, 400, 24px, 0);

      color: #221f20;
      .value {
        @include custom-font(16px, 500, 19px, 0);
      }
    }
  }
}
.email_data_add {
  margin-top: 10px;
}
.email_text {
  @include custom-font(14px, 400, 24px, 0);

  margin-bottom: 2px;
}
.email_details_add {
  @include custom-font(16px, 500, 30px, 0);

  margin-bottom: 12px;
  span {
    img {
      margin-right: 8px;
    }
  }
}
.email_content_add {
  @include custom-font(14px, 400, 24px, 0);
}
.col-border-add {
  border-right: 1px solid #d9d9d9;
}
.customCardContainer {
  padding: 24px 32px;
  background-color: $color_white;
  box-shadow: 0px 4px 8px 0px rgba($color_black, 0.05),
    0px 10px 15px 0px rgba($color_black, 0.05);
  border-radius: 8px;
  margin-top: 16px;
}
.add_bank_details {
  border-radius: 8px;
  border: 1px solid #d9d9d9;
  padding: 20px 21px;
}
#add_bank_details_ {
  display: none;
}
.add_bank_name {
  display: flex;
  justify-content: space-between;
  place-items: center;
}
.ICICI_bank {
  @include custom-font(34px, 600, 40px, 0.25px);
}
.banglore_name {
  @include custom-font(14px, 400, 24px, 0.25px);
  padding: 4px 8px;
  color: #6b7280;
  background: #f3f4f6;
  border-radius: 8px;
  display: flex;
}
.fdContents .fdDetails {
  &.add_fd_details::after {
    right: -46px;
  }
}
.fdContents .fdDetails .value {
  &.value_add_filter {
    img {
      filter: initial;
    }
  }
}
.add_form_label {
  margin: 15px 0 16px 0;
  @include custom-font(20px, 600, 24px, 0.15px);
}
.add_bank_name {
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 24px;
}
.credit_details {
  @include custom-font(14px, 500, 24px, 0.1px);
  color: #6b7280;
  margin: 5px 0 32px 0;
}
.add_parent {
  margin: 13px 0 24px 0;
}
.upi_details {
  min-height: calc(50vh - 127px);
}
.payment_box_add {
  align-items: center;
  @include setDisplayProperty(flex, center, center, column);
  padding: 26px 51px;
}
.first_primary_detail {
  padding: 24px;
  background: #f3f4f6;
  border-radius: 6px;
}
.content_details_data {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 19px;
}
.name_data_add {
  @include custom-font(20px, 600, 24px, 0.15px);
  margin-bottom: 12px;
}

.categories_add {
  display: flex;
  justify-content: flex-start;
  place-items: center;
}
.dob_margin{
  margin-right: 26px;
}
.categories_value{
  @include custom-font(14px, 400, 24px, 0);
  color: #4b4c4d;
 
}
.dob_data{
  @include custom-font(16px, 500, 24px, 0);
}
.categories_para{
  margin:14px 0 0 0;
}
.second_primary_detail_content{
  img{
    border-radius: 5px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1399px) {
  .payment_box_add{
    padding: 12px 0;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .ICICI_bank {
    font-size: 18px;
  }
 
}
@media only screen and (min-width: 992px) and (max-width: 1014px) {
  .fdContents .fdDetails.add_fd_details::after {
    right: -24px;
  }
}
@media only screen and (min-width: 1008px) and (max-width: 1074px) {
  .fdContents .fdDetails.add_fd_details::after {
    right: -31px;
  }
}
@media only screen and (max-width: 991px) {
  .upi_details {
    min-height: 0;
  }
  .payment_box_add{
    padding: 12px 0px;
    min-width: auto;
  }
  .add_form_label {
    margin-bottom: 14px;
    font-size: 16px;
  }
  .fdContents .fdDetails.add_fd_details::after {
    position: initial;
  }
  .no_mobile_screen {
    display: none;
  }
  .boldTitle_add {
    margin-bottom: 8px;
  }
  .secondary_margin {
    margin-top: 16px;
  }

  .review-details-wrapper {
    padding: 0;
    background: unset;
    border-radius: unset;
    border-top: 1px solid #d9d9d9;
    margin-top: 24px;
  }

  .fdContents {
    &.add_fdContents {
      margin-top: 0;
    }
    .fdDetails {
      &.add_fdDetails {
        width: 100%;
        margin-bottom: 0;
        margin-top: 16px;
      }
    }
  }
  .col-border-add {
    border-right: unset;
  }
  .add-min-height {
    min-height: 0;
  }
  .noteContent-add {
    width: auto;
  }
  .joint_account_text {
    @include custom-font(16px, 600, 24px, 0.15px);
  }
  .label_text {
    @include custom-font(12px, 400, 16px, 0);
  }
  .joint_account_text {
    margin-top: 16px;
  }
  .repayment-buttonContainer-add {
    margin-top: 12px;
  }

  .border-bottom-add {
    padding-bottom: 15px;
  }
  .termsConditionsContainer .checkbox-container {
    &.checkbox_add {
      margin-top: 17px;
    }
  }
  .terms_label {
    line-height: 17px;
  }
  .additional_text {
    margin-left: 0;
  }
  .ICICI_bank {
    @include custom-font(20px, 600, 20px, 0.1px);
  }
  .credit_details {
    font-size: 13px;
  }
}
@media only screen and (max-width: 767px) {
  .customCardContainer {
    background-color: transparent;
    box-shadow: none;
    padding: 16px;
    margin-top: 0;
  }
 
  .boldTitle_add {
    @include custom-font(14px, 600, 24px, 0);
  }
  .subHeading_add {
    @include custom-font(14px, 600, 24px, 0);
  }
  .email_details_add {
    @include custom-font(14px, 600, 24px, 0);
    margin-bottom: 8px;
  }
  .email_text {
    @include custom-font(12px, 400, 24px, 0);
  }
  .email_content_add {
    @include custom-font(12px, 400, 16px, 0);
  }
  .add_btn_revew {
    margin: 0 18px 0 18px;
  }
  .add_commonBackBtn {
    margin-left: 15px;
  }
  .fdContents {
    .fdDetails {
      .value {
        &.value_add {
          justify-content: flex-start;
        }
        &.value_add_text {
          @include custom-font(14px, 500, 19px, 0);
          color: #221f20;
        }
      }

      &.value_text_data {
        line-height: 18px;
      }
      .label {
        &.add_label {
          font-weight: 400;
          color: #4b4c4d;
        }
        &.approved_amount {
          @include custom-font(12px, 400, 24px, 0);
          color: #4b4c4d;
        }
        &.review_approved_amount {
          @include custom-font(12px, 400, 24px, 0);
          color: #4b4c4d;

          .value {
            @include custom-font(16px, 500, 19px, 0);
          }
        }
      }
    }
  }
  .mobCustomCardContainer {
    padding: 16px;
    background-color: $color_white;
    box-shadow: 0px 4px 8px 0px rgba($color_black, 0.05),
      0px 10px 15px 0px rgba($color_black, 0.05);
    border-radius: 8px;
    margin-bottom: 20px;
  }
  .details_section {
    margin-top: 0px;
    border-top: unset;
    border-bottom: unset;
    padding: 11px;
  }
  .mobCustomCardContainer_contact {
    padding: 16px;
    background-color: $color_white;
    box-shadow: 0px 4px 8px 0px rgba($color_black, 0.05),
      0px 10px 15px 0px rgba($color_black, 0.05);
    border-radius: 8px;
    margin-top: 0;
  }
}
