.button-addition {
  width: 100%;
  height: 40px;
}
.additional_text {
  margin-left: 20px;
}
.joint_account_text {
  margin: 32px 0 6px 0;
  @include custom-font(20px, 600, 24px, 0.15px);
}
.label_text {
  color: #6b7280;
  @include custom-font(14px, 400, 24px, 0.25px);
  margin-bottom: 9px;
}
.themeRedBtn{
    &.button-addition{
        border: 1px solid $color_light_border;
        background-color: $color_white;
        color: $color_dull_gray;
    }  
}
.label-add{
    @include custom-font(14px, 400, 24px, 0.25px);  
    color: $color_light_text;
    margin-bottom: 5px;

}
.formControl_add{
    border-radius: 8px;
    padding: 10px 16px;
    @include custom-font(16px, 400, 24px, 0.5px);  

}
.form-control:focus{
    box-shadow: none;
    border-color: #ced4da;
}
.add-min-height{
    min-height: 240px;
}
.border-bottom-add{
    padding-bottom: 38px;
    border-bottom: 1px solid $color_light_border;
}
.noteContent-add{
    background: $color_light_bg;
    padding: 3px 16px;
    border-radius: 7px;
    margin-top: 16px;
    width: max-content;

}
.customBtn_add{
    height:46px;
}
.joint-wrapper-div{
    display: none;
}
.nominee-wrapper-div{
    display: none;
}
