@keyframes fadeInAnimate{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes animateVerifiedButton {
    0%{
        width: 0;
        height: 0;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    50%{
        width: 100%;
        height: 0;
        border-top-color: $color_green_dark;
        border-right-color: $color_green_dark;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    100%{
        width: 100%;
        height: 100%;
        border-top-color: $color_green_dark;
        border-right-color: $color_green_dark;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
}

@keyframes animateVerifiedButton2 {
    0%{
        width: 0;
        height: 0;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: $color_green_dark;
    }
    50%{
        width: 0;
        height: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: $color_green_dark;
        border-left-color: $color_green_dark;
    }
    100%{
        width: 100%;
        height: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: $color_green_dark;
        border-left-color: $color_green_dark;
    }
}

@keyframes slideInRightAnimation {
    from {
      margin-left: 100%;
      width: 100%;
    }
    to {
      margin-left: 0%;
      width: 100%;
    }
  }