html,
.main_body_error_wrapper {
  height: 100%;
  margin: 0;
}
.main_body_error_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text_error_data {
  margin-top: 20px;
  @include custom-font(60px, 400, 72px, -0.5px);
}
.accountDetailsBox_error {
  display: flex;
  justify-content: center;
  place-items: center;
  flex-direction: column;
 
  padding: 0 230px 0 230px
}

.somthing_text {
  @include custom-font(24px, 400, 32px, -0.18px);
  margin: 16px 0 32px 0;
}
 
  .button_success_error {
    height: 40px;
    width:153px
  }


@media only screen and (max-width: 991px) {
    .accountDetailsBox_error{
        padding: 0 40px 0 40px
    }
  .text_error_data {
    @include custom-font(24px, 700, 30px, 0);
  }
  .somthing_text {
    @include custom-font(12px, 400, 16px, 0);
  }
}
