.row {
    // --bs-gutter-x: 0rem;
}
.textparent {
    position: relative;
}
        .textfildicons {
    position: absolute;
    top: 36px;
    right: 16px;
}
.textparent {
    position: relative;
}
.infoText {
    font-size: 14px;
    font-family: 'Georama';
    color: #6B7280;
    font-weight: 500;
    margin-top: 5px;
}
.textparent label.form-label.formLabel {
    font-size: 14px;
    color: #6B7280;
    font-weight: 400;
}
.customRedBtn {
    background-color: #E31837;
    color: #FFFFFF;
    width: -moz-fit-content;
    width: fit-content;
    height: 44px;
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 0 12px 0 12px;
    font-size: 12px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: normal;
    display: flex;
    justify-content: center;
    place-items: center;
    cursor: pointer;
    margin-top: 16px;
}

.smalltext {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.15px;
    margin-bottom: 16px;
    border-bottom: 0px solid #ccc !important;
}

ul.customeul {
    margin-top: 16px;
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0px;
}

.sideimage {
    text-align: end;
}
.custmalign-item {
    align-items: flex-end;
}
.custborder-right{
    border-right: 1px solid #ccc;
}


.custborder-bottom {
    // border-bottom: 1px solid #ccc;
    margin-top: 20px;
}
.accordion-button:not(.collapsed) {
    color: #231F20;
    background-color: unset;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
}
.custHeader h4 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    font-family: 'Georama';
    color: #231F20;
}
.custHeader{
    margin-top: 32px;
    margin-bottom: 17px;
}
.accordion-body {
    font-size: 14px;
}
.customeli{
margin-bottom: 17px;}

ul.custliststyle :before {
    height: 6px;
    width: 6px;
    background: #6B7280;
    content: "";
    display: inline-block;
    transform: rotate(45deg);
    margin-left: 5px;
    margin-right: 12px;
    margin-bottom: 3px;
}
ul.custliststyle{
  list-style: none;
  padding-left: 0px;
}

.card-section-2.card-section-2FD.card-sectionFD {
    border: 1px solid #E3E5EA;
}

.bgimage {
    background-image:url(../img/ulbg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    background-color: #ccc;
    padding: 20px 20px;
    border-radius: 4px;
}
.custHeader.newcustHeader {
    margin-top: 0px;
}
.accordion-button {
    padding: 12px 16px;
}

.accountContainer .accountBox .fdContents.custtbl {
    min-height: auto;
}

.textparent.custtextparent {
    margin-top: 24px;
}

.boldHeader.customeboldHeader {
    margin-bottom: 16px;
}
.accountHolderName.smallName span{
    color: #6B7280;
    font-size: 14px;
    font-weight: 400;
}
.notesection {
    // border-bottom: 1px solid #E8E8E8;
    margin-top: 28px;
}
.vl {
    border-left: 1px solid #E8E8E8;
   
  }
  .accountDetailsBox.accountDetailsBox2 {
    padding-bottom: 0px;
}
.boldHeader-bottom-margin {
    margin-bottom: 24px;
}
.notesection p {
    margin-bottom: 28px;
}

.tooltipdesign {
    background: #1084CB;
    color: #fff;
    padding: 5px 12px;
    font-size: 12px;
    align-items: center;
    display: inline-flex;
    border-radius: 25px;
}

.notesection p {
    font-size: 14px;
    color: #6B7280;
}

.info-icon.info-icon2 {
    margin-left: 5px;
    align-items: center;
    display: flex;
}
.info-icon2.custom-tooltip .tooltip-text {
    background-color: #080707;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.4px;
    line-height: 16px;
    padding: 16px;
    display: none;
    position: absolute;
    top: auto;
    bottom: 24px;
    /* left: -114%; */
    left: -100px;
    width: -moz-max-content;
    width: max-content;
    z-index: 99;
}
.info-icon2.custom-tooltip .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 11%;
    margin-left: 59px;
    border-width: 8px;
    border-style: solid;
    border-color: #080707 transparent transparent transparent;
}
.info-icon2.custom-tooltip {
    position: relative;
    cursor: pointer;
}
.info-icon2.custom-tooltip:hover .tooltip-text, .custom-tooltip:hover .tooltip-textTableData {
    display: block;
}
.explore-section h6 {
    font-size: 14px;
}
.explore-section {
    background-image:url(../img/ulbg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    background-color: #ccc;
    padding: 12px 16px;
    border-radius: 8px;
    margin-top: 20px;
}
.mt-12{
    margin-top: 12px;
}
p.small-text {
    color: #231F20;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0px;
}
.section-parent {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 24px;
    margin-right: 25px;
}

.value.custvalue {
    display: flex;
}
.fdDetails.customefdDetails:after {
    content: "";
    position: absolute;
    border-right: 1px solid #ccc;
    height: 50px;
    right: 35px;
    top: 15px;
}
.custpostion{
    position: relative;
}
.section-parent p {
    font-size: 14px;
    background: #000;
    display: inline-block;
    padding: 2px 8px;
    color: #fff;
    border-radius: 10px;
    margin-bottom: 0px;
}
.section-parent span {
    margin-right: 5px;
}
.section-parent .label {
    color: #6B7280;
    font-size: 14px;
    margin: 12px 0px;
    font-weight: 500;
}

p.notifiy {
    color: #6B7280;
    font-family: 'Georama';
    font-size: 14px;
    font-weight: 500;
    padding-top: 17px;
}
p.notifiy.notifiy2 {
padding-bottom: 1rem;
border-bottom: 1px solid #ccc;}

.br-1::after {
    content: "";
    position: absolute;
    left: 58%;
    top: 0;
    height: 56vh;
    border-right: 1px solid #ccc;
}
.br-1::before {
    border-bottom: 1px solid #cccccc;
    content: "";
    position: absolute;
    bottom: 50px;
    width: 98%;
}
.accountHolderName.smallName.smallNameFD {
    font-size: 14px;
    font-weight: 500;
}
p.reco {
    margin-bottom: 0px;
    margin-right: 5px;
}

.custmalign-item{
    .customeul{
        li{
            .smalltext{
                &.customesmalltext{
                 border-bottom:unset;
             
                 }
             }
        }
    }
  }
  .accountBox.darkBg.custdarkBg {
    padding: 12px 32px;
}
.fdContents.custtbl.custfdContents {
    margin-top: 0px;
    position: relative;
}
.custimetop-table {
    display: flex;
    justify-content: space-between;
}
.desabletext p {
    background: #E3E5EA;
    color: #6B7280;
}

.fdContents .fdDetails .value.crousalvalue {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #ccc;
    padding: 12px;
    border-radius: 8px;
    font-size: 10px;
    font-weight: 500;
    line-height: 14px;
    width: 150px;
}
.owl-carousel.cutomecrousal .owl-stage-outer {
   
    height: unset;
}
.card-section {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 32px;
    border-radius: 8px;
    background: #fff;
}
.card-section-2 {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 32px;
    border-radius: 8px;
    background: #fff;
    padding-bottom: 0px;
}


.cardContainer.accountContainer.bgremove {
    background: unset;
    box-shadow: none;
}
.row.customealign {
    align-items: center;
}

.row.customealign .customRedBtn.themeRedBtn_mob {
    margin-top: 0px;
}

.align-item {
    display: flex;
    align-items: center;
}













// MOBILE RESPONSIVE//
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .card-section-2 {
        display: block;
        margin-top: 24px;
    }


.accountBox.darkBg.custdarkBg {
   
    margin-top: 12px;
}

}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .logoutbtn:before {
        top: 36px !important;
    }
    .bg-white {
        padding: 0px 0px !important;
    }
    .boldHeader.boldHeaderFd span {
        display: none;
    }
    .boldHeader.boldHeader-bottom-margin span {
        display: none;
    }
   
    .customenone {
        display: none;
    }
    .accountBox.darkBg.custdarkBg {
        padding: 8px 12px;
        margin-top: 16px;
    }
    .accountBox.darkBg.custdarkBg {
        padding: 8px 12px;
        margin-top: 16px;
    }
    .fdContents.custtbl.custfdContents .fdDetails.customeborder {
        margin-bottom: 0px;
    }
    .fdContents.custtbl.custfdContents {
        margin-bottom: 0px;
    }
    .custome-flex-row {
        flex-direction: row;
    }
    .custborder-right {
        border-right: 0px;
    }
    ul.customeul {
        display: block ;
    }
    .sideimage {
        display: none ;
    }
    .owl-carousel.owl-theme.cutomecrousal.owl-loaded.owl-drag {
        display: block ;
    }
    .card-section-2 {
        margin-top: 20px;
    }
    .card-section-2 {
        display: none;
    }
    .customRedBtn.themeRedBtn_mob {
        display: none;
    }
    .text-end {
        text-align: left!important;
    }
    .fdDetails.customefdDetails:after {
        content: "";
       
        display: none;
    }

}
@media screen and (max-width: 767px) { 
.info-icon2.custom-tooltip .tooltip-text {
    
    left: -20px;
}
}
@media screen and (min-width: 771px) { 
    .value.crousalvalue .roundBackgroundIcon {
        margin-bottom: 8px;
    }
    ul.customeul {
        display: block;
    }
    
    
    .owl-carousel.owl-theme.cutomecrousal.owl-loaded.owl-drag {
        display: none;
    }
    .card-section-2 {
        display: block;
    }
    // button.btn.themeRedBtn {
    //     display: none;
    // }
   

}

@media screen and (max-width: 991px) { 
    .accountContainer .accountBox .fdContents .fdDetails:after{
        display: none;
    }

    .fdDetails.customenone {
        display: none;
    }
    .br-1::after {
     
        display: none;
    }
    .br-1::before {
       
        display: none;
    }
    .section-parent {
        
        margin-right: 0px;
    }
   
}

@media screen and (min-width: 768px) { 
    .info-icon2.custom-tooltip .tooltip-text::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 27%;
        margin-left: 223px;
        border-width: 8px;
        border-style: solid;
        border-color: #080707 transparent transparent transparent;
    }
    .info-icon2.custom-tooltip .tooltip-text {
        background-color: #080707;
        border-radius: 8px;
        color: #FFFFFF;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.4px;
        line-height: 16px;
        padding: 16px;
        display: none;
        position: absolute;
        top: auto;
        bottom: 25px;
        /* left: -114%; */
        left: -242px;
        width: -moz-max-content;
        width: max-content;
        z-index: 99;
    }
}

@media screen and (max-width: 424px) { 
    .info-icon2.custom-tooltip:hover .tooltip-text, .custom-tooltip:hover .tooltip-textTableData {
        display: block;
        flex-wrap: wrap;
        width: 260px;
    }
    .info-icon2.custom-tooltip .tooltip-text::after {
      
        left: 16%;
    }
}


.section-parent.section-parent2 {
    margin-right: 0px;
}
.abc {
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 991px) {
.custome-displaynone{
    display: none;
}
}





//////////////////////// PROFILE CSS ABHISHEK SRIVASTAV 2-01-2024 ////////////////////////////////

.customealignitem {
    align-items: center;
    position: relative;
    flex-direction: row;
}
.logoutbtn {
    text-align: end;
}
.profiel-bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 24px 32px;
    display: flex;
    align-items: center;
    background: url("../img/profile.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: inherit;
}
.profile-dp {
    height: 108px;
    width: 108px;
    border: 2px solid #fff;
    border-radius: 50%;
    position: relative;
}
.editprofile {
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.profilename p {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    margin-left: 20px;
    margin-bottom: 0px;
}
.bg-white {
    /* background-color: #fff !important; */
    padding: 24px 0px;
    /* background-color: #FFFFFF !important; */
    /* box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05), 0px 10px 15px 0px rgba(0, 0, 0, 0.05); */
    border-radius: 8px;
}
.box-secont-text {
    display: flex;
    align-items: center;
}
.box-secont-text p {
    margin-bottom: 0px;
    margin-left: 8px;
    font-weight: 500;
}
.box-first-text p {
    color: #6B7280;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.1px;
    margin-bottom: 12px;
    margin-top: 12px;
}
.boxsection {
    border: 1px solid #E8E8E8;
    padding: 12px 16px;
    border-radius: 8px;
    margin-bottom: 12px;
    position: relative;
}
.logoutbtn:before {
    content: "";
    position: absolute;
    border-bottom: 1px solid #1084CB;
    width: 72px;
    top: 50px;
}
.box-first-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a.commonBackBtn.custborder {
    border-bottom: 2px solid #1084CB;
}
.box-secont-text.customebox {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


button.editprofile {
    border-radius: 50%;
    border: 0px;
}
.modalbtndesign {
    justify-content: center;
    display: flex;
}
.modalbtndesign .box-first-text {
    padding: 0px 10px 21px 10px;
}

// profile portfolio page css//

.boxwithoutborder {
    border: 0px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: white;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16px' height='16px' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M6.1018 8C5.02785 8 4.45387 9.2649 5.16108 10.0731L10.6829 16.3838C11.3801 17.1806 12.6197 17.1806 13.3169 16.3838L18.8388 10.0731C19.5459 9.2649 18.972 8 17.898 8H6.1018Z' fill='%23212121'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
   background: url("../img/chevron-down\ .svg") white no-repeat calc(100% - 10px) !important; /* Better placement regardless of input width */
    background-position: right 0.5rem center;
    padding: 0.25rem 2rem 0.25rem 0.75rem;
    width: 100%;
    border-radius: 8px;
    border-color: #D6D6D6;
}
.boxsection.boxwithoutborder {
    padding: 12px 0px;
}

.boldTitle.newboldTitle.boldTitle_profile {
    color: #6B7280;
    font-size: 14px;
}
.boldTitle.newboldTitle.boldTitle_profile span.form-check.form-switch {
    padding: 0px 12px;
}
.boldTitle.newboldTitle.boldTitle_profile span.form-check.form-switch .form-check-input::after {
    top: -3px;
}
.boldTitle.newboldTitle.boldTitle_profile span.form-check.form-switch .form-check-input::before {
    top: -3px;
}
.bankDetailsMainContainer.cust {
    border-radius: 0px 0px 8px 8px;
}
.profiel-bg {
    border-radius: 8px 8px 0px 0px;
}
.logoutbtn.customelogout {
    display: none;
}
.custrow{
        flex-direction: row;
    }


@media only screen and (min-width: 320px) and (max-width: 767px) {
    .profilename p {
        font-size: 14px;
    }
    .box-secont-text p {
        font-size: 14px;
    }


.boxsection.custboxsec {
    border: 1px solid #E8E8E8;
    padding-bottom: 12px;
    margin-bottom: 0px;
    border-radius: 0;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
}

.logoutbtn.customelogout {
    text-align: center;
    margin-top: 16px;
    display: block;
}
.logoutbtn {
    display: none;
}
.imgsec img {
    height: 40px;
    width: 40px;
}
.profile-dp.custdp {
    height: auto;
    width: 40px;
}
.custimgebtn img {
    width: 24px;
    height: auto;
}
.editprofile {
    position: absolute;
    bottom: -10px;
    right: -10px;
}
.profile-dp {
    border: 1px solid #fff;
    background: #fff;
}
}


// ////////// repayment/////////
.m-b16 {
    margin-bottom: 16px;
}
.section-parent.removeborder {
    border: 0px;
}
.payment-text p {
    margin-bottom: 0px;
}
.parent .col-lg-4.col-md-4 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
}
.payment-box {
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 12px 20px;
    min-width: 120px;
}
.payment-text p {
    font-size: 14px;
    color: #6B7280;
    margin-bottom: 0px;
    margin-top: 8px;
}
.payment-box:hover {
    background: #000;
    border: 1px solid #000;
    cursor: pointer;
}
.payment-box:hover .payment-text p {
    background: #000;
    color: #fff;
}
.payment-box:hover .paymentimg img {
    background: #fff;
   
}
.paymentimg img {
    background: #ccc;
    width: 40px;
    height: auto;
    border-radius: 50%;
    padding: 8px;
}
.paymentnote p {
    color: #6B7280;
    margin-bottom: 0px;
    padding:6px 12px;
    background: #F3F4F6;
    border-radius: 8px;
}
.custnft{
    display: none;

}
.custnet{
    display: none;

}
.custupi{
    display: none;

}
.payment-box.greenactive {
    background: #000;
}
.payment-box.greenactive .payment-text p {
    color: #fff;
}
.payment-box.greenactive .paymentimg img {
    background: #fff;
}
.custminhight{
    min-height: 314px;
}
.custminhight {
    min-height: 314px;
    position: relative;
}
.paybg {
    position: absolute;
    bottom: 0px;
    left: 10%;
}
.paybg img {
    width: 90%;
}
.paymentnote {
    margin-top: 24px;
}
#more {display: none;}
.disclaimer p {
    background: unset;
    color: #333333;
}
.custdesignbtn {
    border: 0px;
    background: 0px;
    color: #1084CB;
}

.bankDetailsMainContainer.bankDetailsMainContainer_profile.customeallpadding {
    padding: 20px 32px 20px 32px;
}
@media only screen and (min-width: 320px) and (max-width: 991px) {
.cutomemt-20{
    margin-top: 12px;
   
}

.payment-box {
    padding: 12px 0px;
    min-width: 100px;
}
}
@media only screen and (min-width: 992px) and (max-width: 1399px) {
    .payment-box {
        min-width: 100px;
    }
    .payment-box {
        padding: 12px 0px;
        min-width: 90px;
    }
    .custminhight.custminhight2 {
        min-height: 312px;
    }
   

}

// .customepayment{
//   -webkit-transition:  height 0.5s ease;
//   -moz-transition: height 0.5s ease;
//   -ms-transition: height 0.5s ease;
//   -o-transition: height 0.5s ease;
//   transition: height 0.5s ease;
//   transition-delay:0.2s;}



.showSingle{

    opacity: 1;
    -webkit-transition:  height 0.8s ease;
    -moz-transition: height 0.5s ease;
    -ms-transition: height 0.5s ease;
    -o-transition: height 0.5s ease;
    transition: height 0.5s ease;
    transition-delay:0.5s;}

    #section {
        width: 100%;
        word-wrap: break-word;
      }
      
      .moretext {
        display: none;
      }
      .article p {
        margin-bottom: 0px;
        color: #4D4D4F;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.25px;
    }
    a.moreless-button {
        text-decoration: none;
        cursor: pointer;
    }
    @media screen and (min-width: 992px) { 
    .custminhight.custminhight2 {
        min-height: 334px;
        position: relative;
    }
}



// additional-fix-depositcss//
// .monthsection p {
//     font-size: 16px;
//     color: #ADADAD;
//     font-weight: 500;
//     line-height: 24px;
// }
// .monthsection p {
//     font-size: 16px;
//     color: #ADADAD;
//     font-weight: 500;
//     line-height: 24px;
//     padding: 10px 26px;
//     border: 1px solid;
//     border-radius: 8px;
//     margin-right: 12px;
// }
// .monthbox ul {
//     display: flex;
//     align-items: center;
//     align-content: space-around;
// }
// .monthbox ul li {
//     list-style: none;
// }

// .quickActionBox .quickActionTabs.custquickAction label {
   
//     display: flex;
//     border: 1px solid #E8E8E8;
//     margin-bottom: 16px;
//     border-radius: 8px;
//     padding: 10px 26px;
//     cursor: pointer;
//     transition: all linear 0.2s;
//     width: unset;
// }


.opinion-scale {
    margin-bottom: 1em;
  }
  .opinion-scale ul {
    list-style: none;
    display: table;
    width: 100%;
    table-layout: fixed;
    margin-bottom: 0.5em;
    padding-left: 0px;
  }
  .opinion-scale li {
    display: contents;
    width: 2%;
    word-break: break-word;
  }
  .opinion-scale li input[type=radio] {
    display: none;
  }
  .opinion-scale li input[type=radio]:checked + label {
    background-color: #000;
    color: whitesmoke;
    border-color: #000;
  }
  .opinion-scale li label {
    background-color: white;
    color: #adadad;
    border: 1px solid #D6D6D6;
    text-align: center;
    line-height: 2em;
    padding: 10px 26px;
    border-radius: 8px;
    margin-right: 12px;
    margin-top: 3px;
}
  .opinion-scale .opinion-labels {
    margin-bottom: 0;
  }
  .opinion-scale .opinion-label label {
    color: #363636;
  }
  .opinion-scale .opinion-label.min {
    text-align: left;
  }
  .opinion-scale .opinion-label.mid {
    text-align: center;
  }
  .opinion-scale .opinion-label.max {
    text-align: right;
  }
  label.label.is-large p {
    margin-bottom: 0px;
}
.opinion-scale.custopinion-scale li label {
  
    width: 107px;
    padding: 10px;
}