.row {
    // --bs-gutter-x: 0rem;
}
.textparent {
    position: relative;
}
        .textfildicons {
    position: absolute;
    top: 36px;
    right: 16px;
}
.textparent {
    position: relative;
}
.infoText {
    font-size: 14px;
    font-family: 'Georama';
    color: #6B7280;
    font-weight: 500;
    margin-top: 5px;
}
.textparent label.form-label.formLabel {
    font-size: 14px;
    color: #6B7280;
    font-weight: 400;
}
.customRedBtn {
    background-color: #E31837;
    color: #FFFFFF;
    width: -moz-fit-content;
    width: fit-content;
    height: 44px;
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 0 12px 0 12px;
    font-size: 12px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: normal;
    display: flex;
    justify-content: center;
    place-items: center;
    cursor: pointer;
    margin-top: 16px;
}

.smalltext {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.15px;
    margin-bottom: 16px;
    border-bottom: 0px solid #ccc !important;
}

ul.customeul {
    margin-top: 16px;
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0px;
}

.sideimage {
    text-align: end;
}
.custmalign-item {
    align-items: flex-end;
}
.custborder-right{
    border-right: 1px solid #ccc;
}


.custborder-bottom {
    // border-bottom: 1px solid #ccc;
    margin-top: 20px;
}
.accordion-button:not(.collapsed) {
    color: #231F20;
    background-color: unset;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
}
.custHeader h4 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    font-family: 'Georama';
    color: #231F20;
}
.custHeader{
    margin-top: 32px;
    margin-bottom: 17px;
}
.accordion-body {
    font-size: 14px;
}
.customeli{
margin-bottom: 17px;}

ul.custliststyle :before {
    height: 8px;
    width: 8px;
    background: #231F20;
    content: "";
    display: inline-block;
    transform: rotate(45deg);
    margin-right: 20px;
}
ul.custliststyle{
  list-style: none;
  padding-left: 0px;
}

.bgimage {
    background-image:url(../img/ulbg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    background-color: #ccc;
    padding: 20px 20px;
    border-radius: 4px;
}
.custHeader.newcustHeader {
    margin-top: 0px;
}
.accordion-button {
    padding: 12px 16px;
}

.accountContainer .accountBox .fdContents.custtbl {
    min-height: auto;
}

.textparent.custtextparent {
    margin-top: 24px;
}

.boldHeader.customeboldHeader {
    margin-bottom: 16px;
}
.accountHolderName.smallName span{
    color: #6B7280;
    font-size: 14px;
    font-weight: 400;
}
.notesection {
    border-bottom: 1px solid #E8E8E8;
    margin-top: 28px;
}
.vl {
    border-left: 1px solid #E8E8E8;
   
  }
  .accountDetailsBox.accountDetailsBox2 {
    padding-bottom: 0px;
}
.boldHeader-bottom-margin {
    margin-bottom: 24px;
}
.notesection p {
    margin-bottom: 28px;
}

.tooltipdesign {
    background: #1084CB;
    color: #fff;
    padding: 5px 12px;
    font-size: 12px;
    align-items: center;
    display: inline-flex;
    border-radius: 25px;
}

.notesection p {
    font-size: 14px;
    color: #6B7280;
}

.info-icon.info-icon2 {
    margin-left: 5px;
    align-items: center;
    display: flex;
}
.info-icon2.custom-tooltip .tooltip-text {
    background-color: #080707;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.4px;
    line-height: 16px;
    padding: 16px;
    display: none;
    position: absolute;
    top: auto;
    bottom: 24px;
    /* left: -114%; */
    left: -22vw;
    width: -moz-max-content;
    width: max-content;
    z-index: 99;
}
.info-icon2.custom-tooltip .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 70%;
    margin-left: 59px;
    border-width: 8px;
    border-style: solid;
    border-color: #080707 transparent transparent transparent;
}
.info-icon2.custom-tooltip {
    position: relative;
    cursor: pointer;
}
.info-icon2.custom-tooltip:hover .tooltip-text, .custom-tooltip:hover .tooltip-textTableData {
    display: block;
}
.explore-section h6 {
    font-size: 14px;
}
.explore-section {
    background-image:url(../img/ulbg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    background-color: #ccc;
    padding: 12px 16px;
    border-radius: 8px;
    margin-top: 20px;
}
.mt-12{
    margin-top: 12px;
}
p.small-text {
    color: #231F20;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0px;
}
.section-parent {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 24px;
    margin-right: 25px;
}

.value.custvalue {
    display: flex;
}
.fdDetails.customefdDetails:after {
    content: "";
    position: absolute;
    border-right: 1px solid #ccc;
    height: 50px;
    right: 35px;
    top: 15px;
}
.custpostion{
    position: relative;
}
.section-parent p {
    font-size: 14px;
    background: #000;
    display: inline-block;
    padding: 2px 8px;
    color: #fff;
    border-radius: 10px;
    margin-bottom: 0px;
}
.section-parent span {
    margin-right: 5px;
}
.section-parent .label {
    color: #6B7280;
    font-size: 14px;
    margin: 12px 0px;
    font-weight: 500;
}

p.notifiy {
    color: #6B7280;
    font-family: 'Georama';
    font-size: 14px;
    font-weight: 500;
    padding-top: 17px;
}
.br-1::after {
    content: "";
    position: absolute;
    left: 58%;
    top: 0;
    height: 56vh;
    border-right: 1px solid #ccc;
}
.br-1::before {
    border-bottom: 1px solid #cccccc;
    content: "";
    position: absolute;
    bottom: 50px;
    width: 98%;
}

.custmalign-item{
    .customeul{
        li{
            .smalltext{
                &.customesmalltext{
                 border-bottom:unset;
             
                 }
             }
        }
    }
  }
  .accountBox.darkBg.custdarkBg {
    padding: 12px 32px;
}
.fdContents.custtbl.custfdContents {
    margin-top: 0px;
    position: relative;
}
.custimetop-table {
    display: flex;
    justify-content: space-between;
}
.desabletext p {
    background: #E3E5EA;
    color: #6B7280;
}

.fdContents .fdDetails .value.crousalvalue {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #ccc;
    padding: 12px;
    border-radius: 8px;
    font-size: 10px;
    font-weight: 500;
    line-height: 14px;
    width: 150px;
}
.owl-carousel.cutomecrousal .owl-stage-outer {
   
    height: unset;
}
.card-section {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 32px;
    border-radius: 8px;
    background: #fff;
}
.card-section-2 {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 32px;
    border-radius: 8px;
    background: #fff;
    padding-bottom: 0px;
}


.cardContainer.accountContainer.bgremove {
    background: unset;
    box-shadow: none;
}
.row.customealign {
    align-items: center;
}

.row.customealign .customRedBtn.themeRedBtn_mob {
    margin-top: 0px;
}

.align-item {
    display: flex;
    align-items: center;
}













// MOBILE RESPONSIVE//
@media only screen and (min-width: 768px) and (max-width: 991px) {


.accountBox.darkBg.custdarkBg {
   
    margin-top: 12px;
}

}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .boldHeader.boldHeader-bottom-margin span {
        display: none;
    }
    .fdDetails.customenone {
        display: none;
    }
    .customenone {
        display: none;
    }
    .accountBox.darkBg.custdarkBg {
        padding: 8px 12px;
        margin-top: 16px;
    }
    .accountBox.darkBg.custdarkBg {
        padding: 8px 12px;
        margin-top: 16px;
    }
    .fdContents.custtbl.custfdContents .fdDetails.customeborder {
        margin-bottom: 0px;
    }
    .fdContents.custtbl.custfdContents {
        margin-bottom: 0px;
    }
    .custome-flex-row {
        flex-direction: row;
    }
    .custborder-right {
        border-right: 0px;
    }
    ul.customeul {
        display: block ;
    }
    .sideimage {
        display: none ;
    }
    .owl-carousel.owl-theme.cutomecrousal.owl-loaded.owl-drag {
        display: block ;
    }
    .card-section-2 {
        margin-top: 20px;
    }
    .card-section-2 {
        display: none;
    }
    .customRedBtn.themeRedBtn_mob {
        display: none;
    }
    .text-end {
        text-align: left!important;
    }
    .fdDetails.customefdDetails:after {
        content: "";
       
        display: none;
    }

}

@media screen and (min-width: 771px) { 
    .value.crousalvalue .roundBackgroundIcon {
        margin-bottom: 8px;
    }
    ul.customeul {
        display: block;
    }
    
    
    .owl-carousel.owl-theme.cutomecrousal.owl-loaded.owl-drag {
        display: none;
    }
    .card-section-2 {
        display: block;
    }
    button.btn.themeRedBtn {
        display: none;
    }
   

}

@media screen and (max-width: 991px) { 
    .br-1::after {
     
        display: none;
    }
    .br-1::before {
       
        display: none;
    }
    .section-parent {
        
        margin-right: 0px;
    }
   
}