.instruction_details {
  padding: 24px 20px;
  border-radius: 8px;
  margin-top: 40px;
}
/*------rating-css-start-here----------*/
.star-rating {
  display: flex;
  flex-direction: row-reverse;
  font-size: 39px;
  justify-content: space-between;
  text-align: center;
  width: 215px;
}

.star-rating input {
  display: none;
}

.star-rating label {
  color: #e6e7e9;
  cursor: pointer;
  width: 35px;
  height: 35px;
  display: flex;
  place-items: center;
}

.star-rating :checked ~ label {
  color: #ffc700;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  color: #ffc700;
}

.experience_text {
  margin: 8px 0 16px 0;
  @include custom-font(16px, 500, 24px, 0);
  color: #6b7280;
}
.feedback_label {
  color: #221f20;
  margin-top: 18px;
  @include custom-font(16px, 400, 26px, 0);
}
/*--rating-css-end-here--*/

/*--new-changes-added-31jan-start--*/

.bankDetailsMainContainer .textparent {
  &.text_parent_changes {
    .formLabel {
      margin-top: 8px;
    }
    .textfildicons {
      top: 48.5px;
    }
  }
}

.forgot_text {
  text-align: right;
  @include custom-font(14px, 400, 20px, 0.0015px);
  color: $color_light_text;
  margin: 8px 0 0 0;
  span {
    font-weight: 500;
    color: #407bff;
  }
}
.listItems_sec {
  margin: 16px 0 25px 0;
}
/*--new-changes-added-31jan-end--*/

.custliststyle_instruction > :not(:last-child) {
  margin-bottom: 18px;
}
.fd_min_hight_get_user {
  min-height: calc(60vh - 127px);
}
.boldTitle_submission {
  @include custom-font(16px, 500, 24px, 0.15px);
}
ul.tds_instruct :before {
  height: 6px;
  width: 6px;
  background: #6b7280;
  content: "";
  display: inline-block;
  transform: rotate(45deg);
  margin-left: 5px;
  margin-right: 12px;
  margin-bottom: 3px;
}

.listItems ul {
  &.custliststyle_instruction {
    list-style-type: decimal;
    padding-left: 1rem;
    &.cust_second {
      li {
        @include custom-font(14px, 400, 22px, 0.15px);
        color: #6b7280;
      }
    }
    &.tds_instruct {
      padding-left: 0;
      list-style-type: unset;
      list-style: none;
      margin-top: 8px;
    }
    :last-child {
      margin-bottom: 0;
    }
    li {
      @include custom-font(16px, 500, 24px, 0.15px);
      color: #6b7280;
      span {
        color: #407bff;
        @include custom-font(14px, 500, 20px, 0.15px);
      }
    }
  }
}
.form_div {
  margin-top: 8px;
}
.instruction_details_second {
  display: flex;
  justify-content: space-between;
  place-items: center;
  align-items: center;
}
.descriptionBox_second {
  background-image: url(../img/abstract-blue-geometric-shapes-background.svg);
  background-repeat: no-repeat;
  padding: 16px 30px;
  background-size: cover;
  background-position: center;
  background-color: #f3f4f6;
  border-radius: 8px;
  &.margin_less {
    margin-top: 32px;
  }
}
.descriptionImage {
  img {
    width: 72px;
    height: auto;
  }
}

.listItems ul.custliststyle_instruction {
  &.add_instruction {
    li {
      margin-bottom: 2px;
    }
  }
}
.apply_loan_img {
  display: flex;
  place-items: center;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 768px) {
  .bankDetailsMainContainer .textparent {
    &.text_parent_changes .textfildicons {
      top: 36.5px;
    }
  }
  .instruction_details {
    padding: 16px;
    margin-top: 20px;
  }
  .boldTitle_submission {
    @include custom-font(14px, 500, 18px, 0);
  }

  .form_div {
    margin-top: 0;
  }
  .remove_bottom {
    margin-bottom: 10px;
  }
  .listItems ul {
    &.custliststyle_instruction {
      li {
        padding-left: 2px;
      }
    }
  }
}
