/*communication_wrapper-css-here-start*/
.communication_wrapper {
  background-color: $color_red;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
.live_tune_connect {
  padding: 8px 12px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.border-bottom-profile_row{
    border-bottom: 1px solid $color_border;
padding-bottom: 24px;

}
.border-bottom-profile {
  border-bottom: 1px solid $color_border;
}
/*communication_wrapper-css-here-end*/
.bankDetailsMainContainer .textparent .textfildicons {
  &.textfildicons_icons {
    img {
      @include custom-width-height(16px, 16px);
    }
  }
}
.modal .modal-content .modal-body .info-heading-container .info-heading {
  &.info-heading_profile_contact {
    font-size: 21px;
  }
}

.roundBackgroundIcon.roundBackgroundIcon_lfd {
  &.roundBackgroundIcon_profile {
    margin-right: 8px;
    @include custom-width-height(30px, 30px);

    img {
      @include custom-width-height(16px, 16px);
    }
  }
}

.boldTitle_profile {
  display: flex;
  place-items: center;
  align-items: center;
}

.main-form.fd_content_min_height {
  min-height: 480px;
}
.textparent_content {
  display: flex;
  justify-content: space-between;
  place-items: center;
}
.formLabel {
  a {
    text-decoration: none;
    color: #61b0e0;
  }
}
.openEyesIcon_profile {
  display: none;
}
.form-control {
  &.formControl_profile {
    border-radius: 8px !important;
  }
  &.formControl_profile:focus {
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border: 1px solid $color_disabled_btn;
  }
}
@media only screen and (max-width: 767px) {
  .communication_wrapper {
    display: none;
  }
  .bankDetailsMainContainer .bottomContentBox {
    &.bottomContentBox_profile {
      margin-top: 88px;
      margin-bottom: 0;
    }
  }
  .modal .modal-content .modal-body .info-heading-container .info-heading {
    &.info-heading_profile_contact {
      font-size: 15px;
    }
  }
  .textparent label.form-label.formLabel {
    &.formLabel_profile {
      @include custom-font(12px, 400, 16px, 0);
    }
  }
  .bankDetailsMainContainer .boldTitle {
    &.boldTitle_profile {
      @include custom-font(14px, 600, 24px, 0.25px);
    }
  }
  .roundBackgroundIcon.roundBackgroundIcon_lfd {
    &.roundBackgroundIcon_profile {
      @include custom-width-height(24px, 24px);
      img {
        @include custom-width-height(12px, 12px);
      }
    }
  }
  .buttonContainer button.themeRedBtn {
    &.themeRedBtn_profile {
      height: 40px;
    }
  }
}
