/*communication_wrapper-css-here-start*/
.communication_wrapper {
  background-color: $color_red;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
/*--new-changes-added-start--31jan-*/
.descriptionContainer {
  &.des_change {
    padding-bottom: 0;
    .descriptionBox {
      width: 100% !important;
      img {
        @include custom-width-height(37px, 37px);
        margin-right: 8px;
      }
      .descriptionContent {
        width: 71%;
        p {
          span {
            @include custom-font(16px, 600, 24px, 0.15px);
            color: $color_light_text;
          }
        }
      }
    }
  }
}
.modal .modal-content .modal-body {
  &.dash-popup {
    .info-heading-image {
      background-color: unset;
      img {
        @include custom-width-height(37px, 37px);
      }
    }

    .info-content {
      padding: 0 36px;
      @include custom-font(16px, 400, 24px, 0.5px);
      color: #231f20;
      margin: 12px 0;
    }
    .info-button {
      button {
        padding: 0 66px;
      }
    }
    .list_data_div {
      display: flex;
      justify-content: center;
      place-items: center;
      .custliststyle_instruction {
        margin-bottom: 25px;
        li {
          @include custom-font(16px, 400, 20px, 0.5px);

          margin-bottom: 0;
          color: #4d4d4f;
        }
      }
    }
  }
}

/*--new-changes-added-31jan-end--*/

.newPassword {
  border: 1px solid #ccc !important;
}
.reEnterPassword {
  border: 1px solid #ccc !important;
}
.reEnterPassword_else {
  border: 1px solid #ff0000 !important;
}

.pre-error-border {
  border: 1px solid red !important;
}

.pre-error-message {
  color: red;
  @include custom-font(14px, 400, 24px, 0);
}
.live_tune_connect {
  padding: 8px 12px;
  border-bottom: 1px solid $color_border;
}
.live_tune_connect:last-child {
  border-bottom: none;
}
.form_wrapper {
  border-bottom: 1px solid $color_border;
  padding-bottom: 32px;
}
.tds-text {
  margin-top: 32px;
  @include custom-font(16px, 700, 24px, 0);
}
#bank_details {
  display: none;
}
.accured_wrapper {
  display: flex;
  place-items: center;
  gap: 12px;
  margin-top: 22px;
}
.nav-tabs {
  border-bottom: unset;
}
.themeRedBtn_profile_accured {
  border-radius: 8px;
  padding: 9px 13px;
  color: $color_white;
  background: $color_black;
  align-items: center;
  box-shadow: 0px 4px 10px 0px #0000000f;
  @include custom-width-height(152px, 37px);
  border: 1px solid $color_dull_gray;
  color: $color_dull_gray;
  background: $color_white;
  @include allCenter;
  @include custom-font(14px, 500, 20px, 0);
}
.no_record {
  display: flex;
  flex-direction: column;
  align-items: center;
  place-items: center;
  @include custom-font(16px, 500, 24px, 0);
  color: $color_light_text;
  justify-content: center;
}
.bankDetailsMainContainer
  .textparent
  .textfildicons.textfildicons_profile_data {
  &.text_certificate {
    top: 83.2px;
  }
}
.tab-wrapper {
  gap: 8px;
}

.nav-item.nav-item-tab.nav-item-tab {
  .active {
    background-color: black;
    color: white;
  }
}
.nav-item {
  a {
    text-decoration: none;
    &:hover {
      color: unset;
    }
  }
}

.details_profile_bank {
  width: 100%;
  margin-bottom: 16px;
}
.add_new_details_profile {
  &.add_new_details_profile_certificate {
    margin: 28px 0 12px 0;
  }
  @include custom-font(16px, 700, 24px, 0);
}

.bankDetailsMainContainer .textparent .textfildicons {
  &.textfildicons_profile_data {
    top: 71.2px;
  }
}
.bankDetailsMainContainer .textparent .formLabel {
  &.formLabel_profile_label {
    margin: 8px 0 5px 0;
  }
}
.bankDetailsMainContainer_profile {
  padding: 20px 32px 45px 32px;
}
.listTable_profile {
  border: 1px solid $color_dull_gray;
  border-radius: 8px;
}

.listTable .listTableBody .listTabledata {
  &.listTabledata_profile {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}
.img_record {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.boxsection_profile {
  margin-bottom: 0;
  .box-first-text-profile {
    p {
      margin-top: 0;
      @include custom-font(14px, 500, 24px, 0.1px);
      color: $color_light_text;
    }
  }
  .box-secont-text {
    img {
      @include custom-width-height(20px, 20px);
    }
    p {
      @include custom-font(16px, 500, 24px, 0);
      color: $color_black_light;
    }
  }
}
.nominee_details {
  margin-top: 24px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.border-bottom-profile_row {
  border-bottom: 1px solid $color_border;
  padding-bottom: 32px;
}

/*communication_wrapper-css-here-end*/
.bankDetailsMainContainer .textparent .textfildicons {
  &.textfildicons_icons {
    img {
      @include custom-width-height(16px, 16px);
    }
  }
  &.textfildicons_profile_data {
    img {
      @include custom-width-height(16px, 16px);
    }
  }
  &.textfildicons_icons_cumulative {
    img {
      @include custom-width-height(20px, 20px);
    }
  }
}
.modal .modal-content .modal-body .info-heading-container .info-heading {
  &.info-heading_profile_contact {
    font-size: 21px;
  }
}
.heading_nominee {
  display: flex;
  place-items: center;
  align-items: center;
}
#commonHeading-repayment {
  &.commonHeading_repayment_profile {
    margin-right: 4px;
  }
}
.roundBackgroundIcon.roundBackgroundIcon_lfd {
  &.roundBackgroundIcon_profile {
    margin-right: 8px;
    @include custom-width-height(30px, 30px);

    img {
      @include custom-width-height(16px, 16px);
    }
  }
}

.boldTitle_profile {
  display: flex;
  place-items: center;
  align-items: center;
}

.listTable_profile {
  margin: 16px 0 32px 0;
  &.listTable_profile_tds_certificate {
    margin-bottom: 84px;
  }
}
.listTableBody_data {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fd_content_min_height_profile_pass {
  min-height: calc(50vh - 127px);
}
.fd_content_min_height_profile {
  min-height: calc(70vh - 127px);
}
.fd_content_min_height_add_new {
  min-height: calc(60vh - 127px);
}
.fd_content_min_height_profile_bank {
  min-height: calc(40vh - 127px);
}
.fd_content_min_height_accured {
  min-height: calc(50vh - 100px);
}
.no_certificate_wrapper_min_height {
  min-height: calc(40vh - 150px);
}
.quick_min_height {
  min-height: calc(40vh - 300px);
}

.no_certificate_wrapper {
  display: flex;
  place-items: center;
  @include custom-font(14px, 500, 20px, 0);
  margin-top: 15px;
}
.textparent_content {
  display: flex;
  justify-content: space-between;
  place-items: center;
}
.formLabel {
  a {
    text-decoration: none;
    color: #61b0e0;
  }
}
.openEyesIcon_profile {
  display: none;
}
.form-control {
  &.formControl_profile {
    border-radius: 8px !important;
  }
  &.formControl_profile:focus {
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border: 1px solid $color_disabled_btn;
  }
}
.dropdown_menu_profile {
  min-width: 12rem;
}
.bottomContentBox_profile {
  background-color: $color_light_bg;
  border-radius: 4px;
  color: $color_light_text;
  padding: 0px 8px 0px 8px;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 10px;
  @include custom-font(14px, 400, 24px, 0.25px);
  &.bottomContentBox_profile_tds_certificate {
    display: flex;
    align-items: center;
    background-color: #fff0bc;
    width: 100%;
    color: #231f20;
    padding: 12px;
    border-radius: 8px;
    @include custom-font(14px, 500, 20px, 0.25px);
    span {
      @include custom-font(14px, 400, 24px, 0.25px);
    }
    img {
      margin-right: 10px;
    }
  }
}
@media screen and (min-width: 769px) and (max-width: 1145px) {
  .listTable .listTableBody .listTabledata .tableData {
    &.tableData_profile_data {
      font-size: 10px;
    }
  }
  .listTable .listTableHead {
    &.listTableHead_nominee {
      font-size: 11px;
    }
  }
}
.listTable_profile_accured {
  margin-bottom: 0px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .bankDetailsMainContainer
    .textparent
    .textfildicons.textfildicons_profile_data {
    top: 63.2px;
  }

  .col_wrapper_profile {
    width: 100%;
  }
  .bankDetailsMainContainer_profile {
    padding: 12px 16px;
  }
}
.col_wrapper_profile_bottom {
  margin-bottom: 12px;
}

@media only screen and (max-width: 767px) {
  /*--new-changes-added-start--31jan-*/
  .fd_content_min_height_profile_pass {
    min-height: 0;
  }
  .modal .modal-content .modal-body {
    &.dash-popup {
      .info-content {
        padding: 0 14px;
        @include custom-font(12px, 400, 24px, 0.5px);
      }
      .info-button {
        button {
          padding: 0 66px;
        }
      }

      .list_data_div {
        .custliststyle_instruction {
          margin-bottom: 15px;
          li {
            @include custom-font(14px, 400, 20px, 0.5px);
          }
        }
      }
    }
  }

  .descriptionContainer {
    &.des_change {
      .descriptionBox {
        flex-direction: column;
        .descriptionContent {
          width: 100%;
          margin-top: 10px;
        }
      }
    }
  }
  /*--new-changes-added-end--31jan-*/
  .communication_wrapper {
    display: none;
  }

  .no_record {
    img {
      @include custom-width-height(186px, 100px);
    }
  }
  .no_certificate_wrapper {
    margin-top: 12px;
    @include custom-font(12px, 500, 16px, 0.25px);
  }
  .no_certificate_wrapper_min_height {
    min-height: calc(40vh - 88px);
  }
  .add_new_details_profile.add_new_details_profile_certificate {
    margin: 20px 0 0 0;
  }
  .tds-text {
    margin-top: 24px;
  }
  .fd_content_min_height_profile_bank {
    min-height: 0;
  }

  .bottomContentBox_profile {
    background-color: $color_light_bg;
    border-radius: 4px;
    color: $color_light_text;
    padding: 0px 8px 0px 8px;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: 10px;
    @include custom-font(14px, 400, 24px, 0.25px);
    &.bottomContentBox_profile_tds_certificate {
      @include custom-font(10px, 400, 14px, 0.25px);
      span {
        @include custom-font(10px, 400, 14px, 0.25px);
      }
    }
  }
  .tds-text {
    @include custom-font(12px, 700, 16px, 0.4px);
  }
  .bankDetailsMainContainer .textparent {
    .textfildicons {
      &.textfildicons_icons_cumulative {
        img {
          @include custom-width-height(16px, 16px);
        }
      }
    }
  }
  .boxsection_profile {
    .box-first-text-profile {
      p {
        @include custom-font(12px, 500, 16px, 0.25px);
      }
    }
    .box-secont-text {
      img {
        @include custom-width-height(16px, 16px);
      }
      p {
        @include custom-font(14px, 500, 20px, 0.25px);
      }
    }
  }
  .boxsection_profile_bottom {
    margin-bottom: 12px;
  }
  .bankDetailsMainContainer_profile {
    padding: 12px 16px;
  }
  .mob-wrapper
    .fixedDepositeContainer
    .fixedDepositDetailsData
    .details_fixed_deposit
    .second_details
    .Investment_details_content {
    &.Investment_details_content_profile {
      flex-wrap: wrap;
      justify-content: initial;
      margin-bottom: 0;
      .details_profile {
        width: 50%;
        margin-bottom: 16px;
      }
    }
  }
  .commonHeading_repayment_profile {
    @include custom-font(12px, 600, 16px, 0);
  }

  .mob-wrapper
    .fixedDepositeContainer
    .fixedDepositDetailsData
    .details_fixed_deposit
    .second_details
    .Investment_details_content
    .img_detail {
    .percentage_text_profile {
      @include custom-font(14px, 500, 20px, 0.25px);
      color: $color_black_light;
    }
  }
  .formControl_profile {
    @include custom-font(14px, 400, 20px, 0.25px);
  }
  .add_new_details_profile {
    margin: 14px 0 4px 0;
    @include custom-font(12px, 700, 16px, 0.4px);
  }
  .themeRedBtn_profile {
    padding: 0 8px 0 8px;
    height: 21px;
  }

  .bankDetailsMainContainer
    .textparent
    .textfildicons.textfildicons_profile_data {
    top: 58.2px;
  }

  .modal .modal-content .modal-body .info-heading-container .info-heading {
    &.info-heading_profile_contact {
      font-size: 15px;
    }
  }
  .textparent label.form-label.formLabel {
    &.formLabel_profile {
      @include custom-font(12px, 400, 16px, 0);
    }
  }
  .bankDetailsMainContainer .boldTitle {
    &.boldTitle_profile {
      @include custom-font(14px, 600, 24px, 0.25px);
    }
  }
  .roundBackgroundIcon.roundBackgroundIcon_lfd {
    &.roundBackgroundIcon_profile {
      @include custom-width-height(24px, 24px);
      img {
        @include custom-width-height(12px, 12px);
      }
    }
  }
  .buttonContainer button.themeRedBtn {
    &.themeRedBtn_profile {
      height: 40px;
    }
  }
}
