/*communication_wrapper-css-here-start*/
.communication_wrapper {
  background-color: $color_red;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
.live_tune_connect {
  padding: 8px 12px;
  border-bottom: 1px solid $color_border;
}
.live_tune_connect:last-child {
  border-bottom: none;
}
.add_new_details_profile {
  @include custom-font(16px, 700, 24px, 0);
}
.bankDetailsMainContainer .textparent .textfildicons {
  &.textfildicons_profile_data {
    top: 71.2px;
  }
}
.bankDetailsMainContainer .textparent .formLabel {
  &.formLabel_profile_label {
    margin: 8px 0 5px 0;
  }
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.border-bottom-profile_row {
  border-bottom: 1px solid $color_border;
  padding-bottom: 32px;
}



/*communication_wrapper-css-here-end*/
.bankDetailsMainContainer .textparent .textfildicons {
  &.textfildicons_icons {
    img {
      @include custom-width-height(16px, 16px);
    }
  }
}
.modal .modal-content .modal-body .info-heading-container .info-heading {
  &.info-heading_profile_contact {
    font-size: 21px;
  }
}

.heading_nominee {
  display: flex;
  place-items: center;
  align-items: center;
}
#commonHeading-repayment {
  &.commonHeading_repayment_profile {
    margin-right: 4px;
  }
}
.roundBackgroundIcon.roundBackgroundIcon_lfd {
  &.roundBackgroundIcon_profile {
    margin-right: 8px;
    @include custom-width-height(30px, 30px);

    img {
      @include custom-width-height(16px, 16px);
    }
  }
}

.boldTitle_profile {
  display: flex;
  place-items: center;
  align-items: center;
}

.min_height_profile_nominee {
  min-height: 270px;
}

.listTable_profile {
  margin: 16px 0 32px 0;
}

.textparent_content {
  display: flex;
  justify-content: space-between;
  place-items: center;
}
.formLabel {
  a {
    text-decoration: none;
    color: #61b0e0;
  }
}
.openEyesIcon_profile {
  display: none;
}
.form-control {
  &.formControl_profile {
    border-radius: 8px !important;
  }
  &.formControl_profile:focus {
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border: 1px solid $color_disabled_btn;
  }
}
.dropdown_menu_profile{
  min-width: 12rem;
}
@media only screen and (max-width: 767px) {
  .communication_wrapper {
    display: none;
  }
  .min_height_profile_nominee {
    min-height: 0;
  }
  .mob-wrapper
    .fixedDepositeContainer
    .fixedDepositDetailsData
    .details_fixed_deposit
    .second_details
    .Investment_details_content {
    &.Investment_details_content_profile {
      flex-wrap: wrap;
      justify-content: initial;
      margin-bottom: 0;
      .details_profile {
        width: 50%;
        margin-bottom: 16px;
      }
    }
  }
    .commonHeading_repayment_profile {
      @include custom-font(12px, 600, 16px, 0);
    }
  
  .mob-wrapper
    .fixedDepositeContainer
    .fixedDepositDetailsData
    .details_fixed_deposit
    .second_details
    .Investment_details_content
    .img_detail {
    .percentage_text_profile {
      @include custom-font(14px, 500, 20px, 0.25px);
      color: $color_black_light;
    }
  }
  .formControl_profile {
    @include custom-font(14px, 400, 20px, 0.25px);
  }
  .add_new_details_profile {
    margin: 14px 0 4px 0;
    @include custom-font(12px, 700, 16px, 0.4px);
  }
  .themeRedBtn_profile{
    padding: 0 8px 0 8px;
    height: 21px;
  }
  
  .bankDetailsMainContainer
    .textparent
    .textfildicons.textfildicons_profile_data {
    top: 54.2px;
  }
  .bankDetailsMainContainer .bottomContentBox {
    &.bottomContentBox_profile {
      margin-top: 88px;
      margin-bottom: 0;
    }
  }
  .modal .modal-content .modal-body .info-heading-container .info-heading {
    &.info-heading_profile_contact {
      font-size: 15px;
    }
  }
  .textparent label.form-label.formLabel {
    &.formLabel_profile {
      @include custom-font(12px, 400, 16px, 0);
    }
  }
  .bankDetailsMainContainer .boldTitle {
    &.boldTitle_profile {
      @include custom-font(14px, 600, 24px, 0.25px);
    }
  }
  .roundBackgroundIcon.roundBackgroundIcon_lfd {
    &.roundBackgroundIcon_profile {
      @include custom-width-height(24px, 24px);
      img {
        @include custom-width-height(12px, 12px);
      }
    }
  }
  .buttonContainer button.themeRedBtn {
    &.themeRedBtn_profile {
      height: 40px;
    }
  }
}
