@import "./_breakpoint.scss";

@media screen and (min-width: 768px) and (max-width: 1366px) {
    body{
        padding-top: 3rem;
    }
    .container{
        max-width: 100% !important;
    }
}

@media only screen and (max-width: $tablet) {
    /************Modal Start************/
    .modal {
        position: fixed;
        bottom: 0;
        top: auto;
        background: #fff;
        box-shadow: 0px 4px 10px 0px rgba($color_black, 0.06),
          0px 2px 6px 0px rgba($color_black, 0.06);
        padding: 0px;
        border-radius: 8px 8px 0 0;
        z-index: 9999;
        width: 100%;
        transition: all ease-in-out 600ms;
        transform: translate(0, 600px);
        height: fit-content;
        .modal-dialog{
            margin: 0px;
            .modal-content{
            box-shadow: none;
            border-radius: 0px;
            .modal-body{
                padding: 24px 16px;
                .info-heading-container{
                    margin-top: 4px;
                    .info-heading{
                        @include custom-font(16px, 600, 24px, 0.15px);
                    }
                }
                .info-button{
                     button{
                        width: 100%;
                     }
                    }
            } 
            }
        }
      }

      .modal.show {
        transform: translate(0, 0px) !important;
      }
      /************Modal End************/
    .mobChangeWidth {
        margin-top: 20px;
        display: flex;
        justify-content: flex-start;
        place-items: flex-start;
        overflow-x: auto;
        width: 100%;
        .customChangeWidth {
            min-width: 85%;
        }
    }
}