@import "./_breakpoint.scss";

@media screen and (min-width: 768px) and (max-width: 1366px) {
    body{
        padding-top: 3rem;
    }
    .container{
        max-width: 100% !important;
    }
}

@media only screen and (max-width: $tablet) {
    /************Modal Start************/
    .modal {
        position: fixed;
        bottom: 0;
        top: auto;
        background: #fff;
        box-shadow: 0px 4px 10px 0px rgba($color_black, 0.06),
          0px 2px 6px 0px rgba($color_black, 0.06);
        padding: 0px;
        border-radius: 8px 8px 0 0;
        z-index: 9999;
        width: 100%;
        transition: all ease-in-out 600ms;
        transform: translate(0, 600px);
        height: fit-content;
        .modal-dialog{
            margin: 0px;
            .modal-content{
            box-shadow: none;
            border-radius: 0px;
            .modal-body{
                padding: 24px 16px;
                .info-heading-container{
                    margin-top: 4px;
                    .info-heading{
                        @include custom-font(16px, 600, 24px, 0.15px);
                    }
                    .info-heading-image{
                        max-width: 28px;
                            max-height: 28px;
                            img{
                                width: 16px;
                                height: 16px;
                            }
                        }
                }
                .info-button{
                     button{
                        width: 100%;
                     }
                    }
            }
            }
        }
      }

      .modal.show {
        transform: translate(0, 0px) !important;
      }
      /************Modal End************/
      .mt-20{
        margin-top: 12px;
      }
      .row{
        flex-direction: column;
      }

      .buttonContainer{
        position: unset;
        margin-top: 20px;
        width: 100%;
      }
    .mobChangeWidth {
        margin-top: 20px;
        display: flex;
        justify-content: flex-start;
        place-items: flex-start;
        overflow-x: auto;
        width: 100%;
        .customChangeWidth {
            min-width: 87%;
        }
    }

    .accountContainer {
        padding: 12px 16px;
        .accountDetailsBox {
            padding: 24px 0px 8px 0;
            border-top: 1px solid #E8E8E8;
            border-bottom: 1px solid #E8E8E8;
            margin: 24px 0px;
        }
        .accountBox {
            padding: 12px 16px;
            .heading{
                font-size: 16px;
                line-height: 24px;
            }
            .fdContents {
                min-height: unset;
                margin: 16px 0px 10px 0px;
                flex-wrap: wrap;
                .fdDetails {
                    width: 50%;
                    margin-bottom: 12px;
                    .label {
                        font-size: 12px;
                        line-height: 18px;
                    }
                    .value {
                        font-size: 14px;
                        margin-bottom: 8px;
                        .roundBackgroundIcon {
                            width: 20px;
                            height: 20px;
                            img{
                                width: 12px;
                                height: 12px;
                            }
                        }
                    }
                }
            }
        }
    }

    .mob-text-right{
        text-align: right;
    }

    .bottomLightText {
        font-size: 12px;
        line-height: 18px;
    }
    .accountDetailsBox {
        padding: 24px 0px 16px 0px;
        .accountListContainer {
            min-height: auto;
            .accountList {
                padding: 16px 0px;
                .accountHolderDetails{
                    padding-bottom: 0px;
                    .accountDetails{
                        .accountMobile {
                            font-size: 14px;
                            img {
                                width: 15px;
                                height: 15px;
                            }
                        }
                    } 
                } 
            }
        }
    }
    .customBtn {
        height: 32px;
        font-size: 12px;
        padding: 0 15px;
    }

    .fdMainContent{
        place-items: flex-start;
        padding: 18px 0px;
        .fdInvestment{
             .bigText{
                @include custom-font(16px, 600, 24px, 0.15px);
             }
        }
        .fdTenure{
            img{
                max-width: 52px;
            }
        }
        .fdInvestment{
             .lightText{
                margin-top: 4px;
             }
            }
    }
    .commonHeading {
        margin-top: 12px;
    }

    .fdDetailsBox {
        padding: 12px 16px;
        height: calc(100vh - 180px);
        position: relative;
    }
    .boldTitle {
        font-size: 16px;
    }
    .fDList{
        ul{
            li{
                .fDListContent{
                    label {
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 16px;
                        letter-spacing: 0.25px;
                    }
                }
            }
        }
    }

    .roundBackgroundIcon{
        max-width: 20px;
        max-height: 20px;
        margin-right: 8px;
        img{
            width: 12px;
            height: 12px;
        }
    }
    .fDList{
        min-height: fit-content;
        ul{
            li {
                .fDListContent{
                    width: 65%;
                }
                .fDListValue {
                    width: 35%;
                    font-size: 12px;
                    flex-wrap: nowrap;
                    display: flex;
                    justify-content: flex-end;
                    span {
                        font-size: 12px;
                        line-height: 18px;
                        padding: 3px 5px;
                    }
                }
            }
        }
    }
    .bottomDescription{
        .descriptionContent {
            border-top: none;
            padding: 16px 0px 0px 0px;
            font-size: 11px;
            line-height: 16px;
            letter-spacing: 0.4px;
        }
    }
    .borrowFundContainer{
        margin-bottom: 0px;
        padding-bottom: 20px;
        border-bottom: 1px solid #E8E8E8;
        .borrowFundBox{
            .borrowFundContent {
                font-size: 10px;
                font-weight: 500;
                line-height: 16px;
                letter-spacing: normal;
                width: calc(100% - 60px);
            }
        }
    }

    .borrowFundFDContainer{
        .borrowFDList{
            border: none;
            border-bottom: 1px solid #E8E8E8;
            padding: 16px 0px 16px 0px;
            border-radius: 0px;
            .headingLabel {
                left: 0px;
                font-size: 12px;
                line-height: 20px;
                top: -12px;
                padding: 2px 8px;
            }
            .borrowFDBox{
                .borrowFDContent{
                    .label {
                        font-size: 10px;
                        line-height: 14px;
                    }
                    .value {
                        font-size: 12px;
                        line-height: 16px;
                        img {
                            width: 15px;
                            height: 15px;
                        }
                    }
                } 
            }
            &:last-child {
                border-bottom: 0px;
                margin-bottom: 16px;
            }
        }
    }

    .borrowFdBottomBox {
        padding: 8px 12px;
        .heading {
            font-size: 12px;
            line-height: 16px;
        }
        .borrowFdBottomList{
            .borrowFdListRow{
                padding: 6px 0px;
                .fDListContent{
                    label {
                        font-size: 10px;
                        line-height: 14px;
                    }
                }
                .fDListValue {
                    font-size: 10px;
                    line-height: 16px;
                    span {
                        font-size: 10px;
                        line-height: 14px;
                    }
                }
            }

        }
    }

    .mob_buttonContainer{
        position: absolute;
        top: auto;
        left: auto;
        width: 91%;
        bottom: 12px;
        margin-top: 0px;
    }
    .buttonContainer{
        button.themeRedBtn {
            height: 32px;
            font-size: 12px;
            letter-spacing: 1.25px;
        }
    }
    .customChangeWidth {
        margin-right: 16px;
    }

    .verifyBtn{
        padding: 0px !important;
        &::after, &::before{
        animation: none !important;
        }
        img{
            width: 28px;
            height: 28px;
            margin-right: 0px;
        }
        label{
            display: none;
        }
    }
    // .fdContents {
    //     .fdDetails{
    //         margin-bottom: 12px;
    //         .value{
    //             justify-content: flex-start;
    //         }
    //     } 
    // }
    .accountHolderDetails{
        .accountDetails{
            .bankName {
                font-size: 22px;
                margin-bottom: 0px !important;
            }
        } 
        .bankLocation{
            margin-bottom: 0px;
        }
    } 

    .mob_p_0{
        padding: 0 !important;
    }

    .accountDetailsBox{
        .accountListContainer{
            .accountList{
                .accountHolderDetails{
                    .accountDetails{
                        .accountHolderName {
                            font-size: 18px;
                            line-height: 24px;
                        }
                    } 
                } 
            } 
        } 
    }

    .boldHeader {
        font-size: 18px;
        line-height: 20px;
    }

    .cardContainer_mobile_screen{
        .fdDetailsBox_mobile_screen {
            .fdMainContent {
                .fdTenure_years_text {
                    margin-top: 25px;
                    &::before{
                        display: none;
                    }
                    &::after{
                        top: -21px;
                        right: 12px;
                        width: 52px;
                        background-image: url(../img/icons/Union_big.svg);
                    }
                }
            }
        }
    } 

    .brd-top{
        border-top: 1px solid #E8E8E8;
        padding-top: 16px;
    }
}