@import url('https://fonts.googleapis.com/css2?family=Georama:wght@300;400;500;600;700;800&display=swap');

$primaryFont: 'Georama', sans-serif;
$color_black_light: #231F20;
$color_white: #FFFFFF;
$color_black: #000000;
$color_black_dark: #080707;
$color_red: #E31837;
$color_red_dark: #c7142f;
$color_red_error: #DC2626;
$color_light_red: #FCE3E7;
$color_light_bg: #F3F4F6;
$color_light_text: #6B7280;
$color_green: #22C55E;
$color_light_green: #BEF4D2;
$color_green_dark: #17823E;
$color_green_light: #BEF4D2;
$color_border: #E8E8E8;
$color_black_light_1: #4D4D4F;
$color_light_blue: #1084CB;
$color_light_gray: #F5F5F5;
$color_light_border: #D6D6D6;
$color_disabled_btn: #DCDCDC;
$color_light_gray2 : #D1D5DB;
$color_link_blue: #61B0E0
