@import url("https://fonts.googleapis.com/css2?family=Georama:wght@300;400;500;600;700;800&display=swap");
/********************Toggle Switch Start**********************/
@import url("https://fonts.googleapis.com/css2?family=Georama:wght@300;400;500;600;700;800&display=swap");
.form-check-input {
  position: relative;
  border: 1px solid #4D4D4F;
  width: 37px !important;
  height: 18px !important;
  background-image: url("../img/icons/circle.svg") !important;
  cursor: pointer;
  transition: background-position 0.3s ease-in-out !important;
  float: none !important;
  margin-left: 0px !important;
}

.form-check-input:focus {
  border-color: #4D4D4F;
  outline: 0;
  box-shadow: none;
}

.form-check-input:checked:focus {
  border-color: #17823E;
}

.form-check-input::before {
  content: "NO";
  font-size: 9px;
  font-weight: 400;
  position: absolute;
  left: 19px;
  right: 0;
  top: auto;
  bottom: -18px;
  opacity: 1;
  color: #4D4D4F;
}

.form-check-input::after {
  content: "YES";
  font-size: 9px;
  position: absolute;
  left: 4px;
  right: auto;
  top: auto;
  bottom: -18px;
  opacity: 0;
  color: #17823E;
}

.form-check-input:checked {
  background-image: url("../img/icons/circle-green.svg") !important;
  border: 1px solid #17823E;
  background-color: #FFFFFF;
}

.form-check-input:checked::before {
  opacity: 0;
}

.form-check-input:checked::after {
  opacity: 1;
}

/********************Toggle Switch End**********************/
/***************Tooltip Start**********************/
.custom-tooltip {
  position: relative;
  cursor: pointer;
}
.custom-tooltip .tooltip-text {
  background-color: #080707;
  border-radius: 8px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.4px;
  line-height: 16px;
  padding: 16px;
  display: none;
  position: absolute;
  top: auto;
  bottom: 24px;
  left: -25px;
  right: auto;
  width: -moz-max-content;
  width: max-content;
  z-index: 99;
}
.custom-tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  top: 98%;
  left: 12%;
  margin-left: -7px;
  border-width: 8px;
  border-style: solid;
  border-color: #080707 transparent transparent transparent;
}
.custom-tooltip .tooltip-textTableData {
  background-color: #080707;
  border-radius: 8px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.4px;
  line-height: 16px;
  padding: 16px;
  display: none;
  position: absolute;
  top: auto;
  bottom: 40px;
  left: -26px;
  right: auto;
  width: -moz-max-content;
  width: max-content;
  z-index: 99;
}
.custom-tooltip .tooltip-textTableData::after {
  content: "";
  position: absolute;
  top: 98%;
  left: 12%;
  margin-left: -7px;
  border-width: 8px;
  border-style: solid;
  border-color: #080707 transparent transparent transparent;
}
.custom-tooltip:hover .tooltip-text, .custom-tooltip:hover .tooltip-textTableData {
  display: block;
}

/***************Tooltip End**********************/
/***********************************Custom Checkbox Start**********************/
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 4px;
  border: 1px solid #231F20;
  background-color: #FFFFFF;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: #231F20;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 6px;
  top: 2px;
  width: 6px;
  height: 11px;
  border: 1px solid #FFFFFF;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

/***********************************Custom Checkbox End**********************/
.btn.disabled, .btn:disabled, fieldset:disabled .btn {
  background-color: #DCDCDC;
  color: #FFFFFF;
}

.btn:hover {
  color: #FFFFFF;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Georama", sans-serif;
}

a {
  color: #1084CB;
}

body {
  min-height: calc(100vh + 5px);
  padding-top: 3rem;
  color: #231F20;
  background-color: #F3F4F6;
}

.all-center {
  display: flex;
  justify-content: center;
  place-items: center;
}

.font-bolder {
  font-weight: 700 !important;
}

.font-bold {
  font-weight: 600 !important;
}

.dark-green-font {
  color: #17823E !important;
}

.text-center {
  text-align: center !important;
}

.wd-8 {
  width: 8%;
}

.wd-11 {
  width: 11%;
}

.wd-12 {
  width: 12%;
}

.wd-13 {
  width: 13%;
}

.wd-15 {
  width: 15%;
}

.wd-14 {
  width: 14%;
}

.wd-50 {
  width: 50%;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.pd-32 {
  padding: 32px;
}

.wd-100 {
  width: 100%;
}

.strongText {
  font-weight: 600;
}

/*********Header Start****************/
nav {
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05), 0px 10px 15px 0px rgba(0, 0, 0, 0.05);
  padding: 0 !important;
  height: 52px;
}
nav .navbar-brand {
  display: flex;
  justify-content: center;
  place-items: center;
}
nav .navbar-nav li.nav-item {
  margin-left: 24px;
}
nav .navbar-nav li.nav-item a.nav-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 33px;
  letter-spacing: normal;
  height: 51px;
  color: #FFFFFF;
}
nav .navbar-nav li.nav-item a.nav-link:after {
  display: block;
  content: "";
  border-bottom: solid 1px #FFFFFF;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  border-top: none;
  border-right: none;
  border-left: none;
  margin-left: 0px;
}
nav .navbar-nav li.nav-item a.nav-link:hover {
  color: #FFFFFF;
}
nav .navbar-nav li.nav-item a.nav-link:hover:after {
  transform: scaleX(1);
}
nav .navbar-nav li.nav-item a.dropdown-toggle img.toggle-icon {
  width: 16px;
  height: 16px;
  transition: transform 250ms ease-in-out;
}
nav .navbar-nav li.nav-item ul.dropdown-menu {
  border-radius: 8px;
  top: 51px;
  left: auto;
  right: 0;
  padding: 0px;
  border: none;
  overflow: hidden;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.06), 0px 2px 6px 0px rgba(0, 0, 0, 0.06);
}
nav .navbar-nav li.nav-item ul.dropdown-menu li {
  padding: 0px 24px;
}
nav .navbar-nav li.nav-item ul.dropdown-menu li a {
  border-bottom: 1px solid #D6D6D6;
  padding: 16px 0px;
  font-weight: 500;
  color: #231F20;
}
nav .navbar-nav li.nav-item ul.dropdown-menu li a:hover {
  background-color: #F5F5F5;
}
nav .navbar-nav li.nav-item ul.dropdown-menu li a img {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}
nav .navbar-nav li.nav-item ul.dropdown-menu li:hover {
  background-color: #F5F5F5 !important;
}
nav .navbar-nav li.nav-item ul.dropdown-menu li:last-child a {
  border-bottom: 0px;
}
nav .navbar-nav li.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}
nav .navbar-nav li.nav-item.dropdown:hover img.toggle-icon {
  transform: rotate(180deg);
}
nav .userAvatar {
  display: flex;
  justify-content: center;
  place-items: center;
}
nav .userAvatar img {
  width: 32px;
  height: 32px;
  -o-object-fit: cover;
     object-fit: cover;
}

/*********Header End****************/
/************Button Start ***********************/
.themeRedBtn {
  background-color: #E31837;
  color: #FFFFFF;
  width: -moz-fit-content;
  width: fit-content;
  height: 27px;
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 0 12px 0 12px;
  font-size: 12px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: normal;
  display: flex;
  justify-content: center;
  place-items: center;
  cursor: pointer;
}
.themeRedBtn img {
  margin-left: 8px;
  transition: transform 250ms ease-in-out;
}
.themeRedBtn:hover {
  background-color: #c7142f;
}

/************Button End ***********************/
.cardContainer {
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05), 0px 10px 15px 0px rgba(0, 0, 0, 0.05);
  background-color: #FFFFFF;
  border-radius: 8px;
}

/********************Dashboard Start*********************/
.dashboardCard {
  padding: 16px;
  min-height: 129px;
}
.dashboardCard .cardIcons {
  width: 36px;
  height: 36px;
  background-color: #F3F4F6;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  place-items: center;
  margin-bottom: 5px;
}
.dashboardCard .cardUserName {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: normal;
}
.dashboardCard .cardLabel {
  color: #6B7280;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: normal;
}
.dashboardCard .cardLabelValue {
  color: #231F20;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: normal;
}

.dashboardDarkCard {
  position: relative;
  background-color: #231F20;
  color: #FFFFFF;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05), 0px 10px 15px 0px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  padding: 16px;
  overflow: hidden;
  min-height: 129px;
}
.dashboardDarkCard .cardLabelHeading {
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0.15px;
}
.dashboardDarkCard .cardLabelList ul {
  margin-bottom: 5px;
  list-style-type: square;
  padding-left: 16px;
}
.dashboardDarkCard .cardLabelList ul li {
  font-size: 13px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.1px;
}
.dashboardDarkCard .cardLabelList ul li span {
  color: #22C55E;
}
.dashboardDarkCard .newFdImage {
  position: absolute;
  bottom: 0;
  right: 0;
}

.listTable .listTableHead {
  background-color: #231F20;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  place-items: center;
  height: 48px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.25px;
}
.listTable .listTableBody .listTabledata {
  display: flex;
  justify-content: center;
  place-items: center;
  background-color: #FFFFFF;
}
.listTable .listTableBody .listTabledata:hover {
  background-color: #F5F5F5;
}
.listTable .listTableBody .listTabledata .tableData {
  height: 52px;
  border-bottom: 1px solid #E8E8E8;
  font-size: 16px;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: 0.15px;
}
.listTable .listTableBody .listTabledata .tableData .form-switch {
  padding-left: 0px;
  display: flex;
  justify-content: center;
  place-items: center;
}
.listTable .showMoreBtn {
  display: flex;
  justify-content: center;
  place-items: center;
  height: 48px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.1px;
  line-height: 24px;
  background-color: #FFFFFF;
}
.listTable .showMoreBtn a {
  color: #1084CB;
  text-decoration: none;
}

#expend {
  display: none;
}

#expend + .smalldesc {
  max-height: 209px;
  overflow: hidden;
  transition: all 0.5s ease;
}

#expend:checked + .smalldesc {
  max-height: 364px;
}

label.showMoreBtn {
  color: #1084CB;
  text-decoration: underline;
  cursor: pointer;
}
label.showMoreBtn img {
  margin-left: 4px;
}

#homeHideBtn {
  display: none;
}

.rotate {
  transform: rotate(180deg);
}

.info-icon {
  margin-left: 6px;
}

.red-bg-label {
  font-size: 12px !important;
  font-weight: 400 !important;
  height: 24px !important;
  display: flex;
  justify-content: center;
  place-items: center;
  width: 100%;
  border-radius: 5px;
  color: #E31837;
  background-color: #FCE3E7;
}
.red-bg-label img {
  margin-right: 5px;
}

.green-bg-label {
  font-size: 12px !important;
  font-weight: 400 !important;
  height: 24px !important;
  display: flex;
  justify-content: center;
  place-items: center;
  width: 100%;
  border-radius: 5px;
  color: #17823E;
  background-color: #BEF4D2;
}
.green-bg-label img {
  margin-right: 5px;
}

.fdAvailBanner {
  padding: 32px 28px;
  height: 316px;
}
.fdAvailBanner .cardLabelHeading {
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: normal;
}
.fdAvailBanner .cardLabelList {
  margin-bottom: 16px;
}
.fdAvailBanner .cardLabelList ul li {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: normal;
}
.fdAvailBanner .themeRedBtn {
  height: 44px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 1.25px;
}

.custom-dropdown button {
  border: none;
  outline: none;
}
.custom-dropdown button::after {
  display: none;
}
.custom-dropdown button.show img {
  transform: rotate(180deg);
}
.custom-dropdown ul {
  padding: 0;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.06), 0px 2px 6px 0px rgba(0, 0, 0, 0.06);
  border: none;
  overflow: hidden;
}
.custom-dropdown ul li {
  padding: 0px 12px;
}
.custom-dropdown ul li a {
  border-bottom: 1px solid #D6D6D6;
  padding: 5px 0px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: normal;
}
.custom-dropdown ul li a span {
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.4px;
}
.custom-dropdown ul li a:hover {
  background-color: #F5F5F5;
}
.custom-dropdown ul li:hover {
  background-color: #F5F5F5;
}
.custom-dropdown ul li:last-child a {
  border-bottom: 0px;
}

#moreListData {
  display: none;
}

/********************Dashboard End*********************/
/********************Chart Start*********************/
#chartContainer {
  padding: 18px;
  width: 100%;
  height: 316px;
}
#chartContainer canvas {
  width: 100%;
  max-height: 280px;
}
#chartContainer a.canvasjs-chart-credit {
  display: none;
}

/********************Chart End*********************/
/***************Modal Start**************************/
.modal .modal-content {
  border-radius: 8px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.06), 0px 2px 6px 0px rgba(0, 0, 0, 0.06);
  border: none;
}
.modal .modal-content .modal-body {
  padding: 40px 24px;
}
.modal .modal-content .modal-body .btn-close {
  position: absolute;
  top: 16px;
  right: 16px;
  background: none;
  display: flex;
  justify-content: center;
  place-items: center;
  padding: 0px;
  opacity: 1;
}
.modal .modal-content .modal-body .info-heading-container {
  display: flex;
  justify-content: center;
  place-items: center;
}
.modal .modal-content .modal-body .info-heading-container .info-heading-image {
  margin-right: 12px;
  background-color: #F3F4F6;
  display: flex;
  justify-content: center;
  place-items: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
}
.modal .modal-content .modal-body .info-heading-container .info-heading {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.18px;
  text-align: center;
}
.modal .modal-content .modal-body .info-content {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: center;
  margin: 20px 0px 16px 0px;
}
.modal .modal-content .modal-body .info-button {
  display: flex;
  justify-content: center;
  place-items: center;
}
.modal .modal-content .modal-body .info-button button {
  outline: none;
  border: none;
  height: 44px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 1.25px;
  padding: 0 50px;
}

/***************Modal End**************************/
/********************Preclosure FD Start******************/
.commonBackBtn {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #1084CB;
  cursor: pointer;
}
.commonBackBtn:hover {
  color: #1084CB;
  opacity: 0.9;
}
.commonBackBtn img {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.commonHeading {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.18px;
  margin: 16px 0 20px 0;
}

.tableBodyWithHeight {
  min-height: calc(100vh - 460px);
  background-color: #FFFFFF;
}

.descriptionContainer {
  background-color: #FFFFFF;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex;
  justify-content: center;
  place-items: center;
  flex-direction: row;
  padding: 24px 0px;
}
.descriptionContainer .descriptionBox {
  width: 96%;
  display: flex;
  justify-content: flex-start;
  place-items: center;
  flex-direction: row;
  background-image: url("../img/abstract-blue-geometric-shapes-background.svg");
  background-repeat: no-repeat;
  padding: 20px 24px;
  background-size: cover;
  background-position: right;
  background-color: #F3F4F6;
  border-radius: 8px;
}
.descriptionContainer .descriptionBox .descriptionImage {
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 12px;
}
.descriptionContainer .descriptionBox .descriptionContent p {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #6B7280;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  place-items: center;
  flex-direction: row;
  padding: 24px 0px;
}
.buttonContainer button.themeRedBtn {
  height: 44px;
  padding: 0 24px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 1.25px;
}

/********************Preclosure FD End********************/
/********************** Quick Action Start******************/
.darkGreenText {
  color: #17823E;
}

.boldTitle {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.15px;
}

.fdDetailsBox {
  padding: 24px 32px 36px 32px;
}
.fdDetailsBox .fdHeader {
  display: flex;
  justify-content: space-between;
  place-items: center;
  flex-direction: row;
}
.fdDetailsBox .fdHeader .fdTenure {
  background-color: #F3F4F6;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.25px;
  color: #6B7280;
  padding: 4px 8px;
}
.fdDetailsBox .fdHeader .fdTenure img {
  margin-right: 4px;
}

.fdMainContent {
  display: flex;
  justify-content: space-between;
  place-items: center;
  flex-direction: row;
  padding: 24px 0px;
  border-bottom: 1px solid #E8E8E8;
}
.fdMainContent .fdInvestment {
  display: flex;
  justify-content: flex-start;
  place-items: flex-start;
  flex-direction: column;
}
.fdMainContent .fdInvestment .bigText {
  font-size: 34px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0.25px;
}
.fdMainContent .fdInvestment .lightText {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.25px;
  color: #6B7280;
  margin-top: 8px;
}
.fdMainContent .fdTenure {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: normal;
  position: relative;
}
.fdMainContent .fdTenure::before {
  content: "";
  position: absolute;
  top: 8px;
  right: 0;
  bottom: 0;
  left: -45px;
  width: 38px;
  height: 9px;
  background-color: #D6D6D6;
}
.fdMainContent .fdTenure::after {
  content: "";
  position: absolute;
  top: 1px;
  right: -46px;
  bottom: 0;
  left: auto;
  width: 38px;
  height: 23px;
  background-image: url("../img/icons/Union.svg");
  background-repeat: no-repeat;
}

.fdContents {
  display: flex;
  justify-content: space-between;
  place-items: baseline;
  flex-direction: row;
  margin-top: 24px;
}
.fdContents .fdDetails {
  display: block;
  position: relative;
}
.fdContents .fdDetails::after {
  content: "";
  position: absolute;
  top: 10px;
  right: -18px;
  bottom: auto;
  left: auto;
  width: 1px;
  height: 35px;
  background-color: #E8E8E8;
}
.fdContents .fdDetails:last-child::after {
  display: none;
}
.fdContents .fdDetails .label {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #6B7280;
  margin-bottom: 4px;
}
.fdContents .fdDetails .value {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: normal;
  display: flex;
  justify-content: center;
  place-items: center;
}
.fdContents .fdDetails .value img {
  width: 20px;
  height: 20px;
  margin-right: 4px;
  filter: invert(0) brightness(0);
}

.quickActionBox {
  padding: 24px 32px;
}
.quickActionBox .quickActionTabs {
  display: flex;
  flex-wrap: wrap;
}
.quickActionBox .quickActionTabs label {
  width: 48%;
  display: flex;
  justify-content: flex-start;
  place-items: flex-start;
  flex-direction: column;
  border: 1px solid #E8E8E8;
  margin-bottom: 16px;
  margin-right: 16px;
  border-radius: 8px;
  padding: 4px 12px 16px 12px;
  cursor: pointer;
}
.quickActionBox .quickActionTabs label:nth-child(even) {
  margin-right: 0px;
}
.quickActionBox .quickActionTabs label img {
  width: 20px;
  height: 20px;
  margin-bottom: 4px;
}
.quickActionBox .quickActionTabs label .quickActionLabel {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.25px;
}

.boxRadioButton input[type=radio] {
  opacity: 0;
}

.boxRadioButton.active {
  background-color: #231F20;
  color: #FFFFFF;
  transition: all 0.2s linear;
}
.boxRadioButton.active img {
  filter: invert(1) brightness(100);
}

.quickActionBanner {
  position: relative;
  overflow: hidden;
  height: auto;
}
.quickActionBanner .cardLabelHeading {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.15px;
  margin-bottom: 16px;
}
.quickActionBanner .cardLabelList {
  margin-bottom: 28px;
}
.quickActionBanner .cardLabelList ul {
  padding: 0;
  list-style-type: square;
  list-style-position: inside;
}
.quickActionBanner .cardLabelList ul li {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: normal;
}
.quickActionBanner img.newFdImage {
  position: absolute;
  top: auto;
  right: -30px;
  bottom: -40px;
}

.quickActionGraph {
  height: 364px !important;
}
.quickActionGraph canvas {
  max-height: 320px !important;
}

/********************** Quick Action End*******************/
/********************Preclosure Flow Start******************/
.errorText {
  color: #DC2626;
}

.greenText {
  color: #17823E;
}

.strike {
  text-decoration: line-through;
}

.customChangeWidth {
  width: 49%;
  margin-right: 20px;
  display: inline-flex;
  justify-content: center;
  place-items: center;
  flex-direction: row;
}
.customChangeWidth:last-child {
  margin-right: 0px;
}

.customChangeWidth.active {
  border: 1px solid #231F20;
}

.bottomDescription .descriptionContent {
  border-top: 1px solid #D6D6D6;
  padding: 24px 0px 0px 0px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.25px;
  color: #6B7280;
}

.fDList {
  min-height: 380px;
}
.fDList ul {
  padding: 0;
  list-style: none;
}
.fDList ul li {
  display: flex;
  justify-content: space-between;
  place-items: center;
  flex-direction: row;
  border-bottom: 1px solid #E8E8E8;
  padding: 12px 0px;
}
.fDList ul li .fDListContent {
  display: flex;
  justify-content: center;
  place-items: center;
}
.fDList ul li .fDListContent label {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: normal;
}
.fDList ul li .fDListValue {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: normal;
}
.fDList ul li .fDListValue span {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: normal;
  background-color: #BEF4D2;
  color: #17823E;
  border-radius: 8px;
  padding: 3px 7px;
  margin-right: 8px;
}

.roundBackgroundIcon {
  background-color: #F3F4F6;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 16px;
  display: flex;
  justify-content: center;
  place-items: center;
}
.roundBackgroundIcon img {
  width: 15px;
  height: 15px;
}

.borrowFundContainer {
  display: flex;
  justify-content: space-between;
  place-items: flex-start;
  flex-direction: row;
  margin-bottom: 46px;
}
.borrowFundContainer .borrowFundBox {
  width: 48%;
  display: flex;
  justify-content: flex-start;
  place-items: flex-start;
  flex-direction: row;
  border-right: 1px solid #E8E8E8;
}
.borrowFundContainer .borrowFundBox .borrowFundContent {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: normal;
  width: calc(100% - 60px);
}
.borrowFundContainer .borrowFundBox:last-child {
  border-right: none;
}

.borrowFundFDContainer {
  margin-top: 32px;
}
.borrowFundFDContainer .borrowFDList {
  position: relative;
  border: 1px solid #E8E8E8;
  padding: 16px 24px 12px 24px;
  border-radius: 8px;
  margin-bottom: 24px;
}
.borrowFundFDContainer .borrowFDList:last-child {
  margin-bottom: 26px;
}
.borrowFundFDContainer .borrowFDList .headingLabel {
  position: absolute;
  top: -15px;
  left: 24px;
  background-color: #E8E8E8;
  padding: 2px 10px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: normal;
}
.borrowFundFDContainer .borrowFDList .borrowFDBox {
  display: flex;
  justify-content: space-between;
  place-items: center;
  flex-direction: row;
}
.borrowFundFDContainer .borrowFDList .borrowFDBox .borrowFDContent .label {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #6B7280;
  margin-bottom: 4px;
}
.borrowFundFDContainer .borrowFDList .borrowFDBox .borrowFDContent .value {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: normal;
  display: flex;
  justify-content: flex-start;
  place-items: center;
  flex-direction: row;
}
.borrowFundFDContainer .borrowFDList .borrowFDBox .borrowFDContent .value img {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}

.borrowFdBottomBox {
  background-color: #F5F5F5;
  border-radius: 8px;
  padding: 16px 24px;
}
.borrowFdBottomBox .heading {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: normal;
}
.borrowFdBottomBox .borrowFdBottomList .borrowFdListRow {
  display: flex;
  justify-content: space-between;
  place-items: center;
  flex-direction: row;
  border-bottom: 1px solid #D6D6D6;
  padding: 8px 0px;
}
.borrowFdBottomBox .borrowFdBottomList .borrowFdListRow:last-child {
  border-bottom: none;
  padding-bottom: 0px;
}
.borrowFdBottomBox .borrowFdBottomList .borrowFdListRow .fDListContent {
  display: flex;
  justify-content: flex-start;
  place-items: center;
  flex-direction: row;
}
.borrowFdBottomBox .borrowFdBottomList .borrowFdListRow .fDListContent .roundBackgroundIcon {
  background-color: #FFFFFF;
}
.borrowFdBottomBox .borrowFdBottomList .borrowFdListRow .fDListContent label {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: normal;
}
.borrowFdBottomBox .borrowFdBottomList .borrowFdListRow .fDListValue {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: normal;
}
.borrowFdBottomBox .borrowFdBottomList .borrowFdListRow .fDListValue span {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: normal;
  background-color: #BEF4D2;
  border-radius: 8px;
  padding: 3px 7px;
  margin-right: 8px;
}

/********************Preclosure Flow End******************/
/********************Single Account Page Start******************/
.darkBg {
  background-color: #F3F4F6;
}

.accountContainer {
  padding: 32px;
}
.accountContainer .accountBox {
  padding: 24px 32px;
  border-radius: 8px;
}
.accountContainer .accountBox .heading {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.15px;
}
.accountContainer .accountBox .fdMainContent {
  border-bottom: 1px solid #D6D6D6;
}
.accountContainer .accountBox .fdMainContent .fdTenure::before {
  display: none;
}
.accountContainer .accountBox .fdMainContent .fdTenure:after {
  display: none;
}
.accountContainer .accountBox .fdContents {
  min-height: 350px;
}
.accountContainer .accountBox .fdContents .fdDetails .value {
  justify-content: flex-start;
}
.accountContainer .accountBox .fdContents .fdDetails .value .roundBackgroundIcon {
  background-color: #FFFFFF;
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.accountContainer .accountBox .fdContents .fdDetails .value .roundBackgroundIcon img {
  width: 14px;
  height: 14px;
  margin: 0;
  filter: unset;
}
.accountContainer .accountBox .fdContents .fdDetails:after {
  background-color: #D6D6D6;
  right: -50px;
}

.bottomLightText {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.25px;
  color: #6B7280;
}

.termsConditionsContainer {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.25px;
}
.termsConditionsContainer .checkbox-container {
  margin-bottom: 0px;
  margin-top: 32px;
}
.termsConditionsContainer .checkbox-container .checkmark {
  width: 16px;
  height: 16px;
  margin-top: 4px;
}
.termsConditionsContainer .checkbox-container .checkmark::after {
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border-width: 0 2px 2px 0;
}
.termsConditionsContainer a {
  color: #1084CB;
}

.boldHeader {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.15px;
}

.accountDetailsBox {
  padding: 24px;
}
.accountDetailsBox .accountListContainer {
  min-height: 465px;
}
.accountDetailsBox .accountListContainer .accountList {
  padding: 24px 0px;
  border-bottom: 1px solid #E8E8E8;
}
.accountDetailsBox .accountListContainer .accountList:last-child {
  border-bottom: 0px;
}
.accountDetailsBox .accountListContainer .accountList .accountHolderDetails {
  display: flex;
  justify-content: space-between;
  place-items: center;
  flex-direction: row;
}
.accountDetailsBox .accountListContainer .accountList .accountHolderDetails .accountDetails .accountHolderName {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.18px;
}
.accountDetailsBox .accountListContainer .accountList .accountHolderDetails .accountDetails .accountType {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.25px;
}
.accountDetailsBox .accountListContainer .accountList .accountHolderDetails .accountDetails .accountMobile {
  margin-top: 8px;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: normal;
  display: flex;
  justify-content: flex-start;
  place-items: center;
  flex-direction: row;
}
.accountDetailsBox .accountListContainer .accountList .accountHolderDetails .accountDetails .accountMobile img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.customBtn {
  height: 40px;
  font-size: 14px;
  padding: 0 24px;
}

.bottomText {
  display: flex;
  justify-content: flex-start;
  place-items: center;
  flex-direction: row;
  color: #6B7280;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.25px;
}
.bottomText .roundBackgroundIcon {
  margin-right: 8px;
}

.accountList.disabledText {
  color: #D1D5DB;
}
.accountList.disabledText img {
  opacity: 0.2;
}

.otpBox {
  width: 100%;
  display: flex;
  justify-content: center;
  place-items: center;
  flex-direction: column;
}

.otpInputContainer {
  border: 1px solid #231F20;
  border-radius: 8px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0px 18px;
}

.input {
  width: 40px;
  height: 40px;
  border: none;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: normal;
}

.input:focus {
  outline: none;
}

.input:nth-child(1) {
  cursor: pointer;
}

.otp_msg {
  display: flex;
  justify-content: center;
  place-items: center;
  margin-top: 8px;
}
.otp_msg .timer {
  color: #6B7280;
  margin-right: 8px;
}
.otp_msg button.resend_otp {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: normal;
  color: #1084CB;
  text-decoration: underline;
  background-color: transparent;
  padding: 0;
}

button.resend_otp.disabled {
  background-color: transparent;
  color: #D1D5DB !important;
}

.msg {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: normal;
  margin-top: 12px;
}

/********************Single Account Page End******************/
/*********** Responsive CSS Start Here*************/
.bankDetailsMainContainer {
  padding: 24px 32px;
  background-color: #FFFFFF !important;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05), 0px 10px 15px 0px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}
.bankDetailsMainContainer .bankDetailSubheading {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: normal;
  margin: 8px 0 8px 0;
}
.bankDetailsMainContainer .textparent {
  position: relative;
}
.bankDetailsMainContainer .textparent .formLabel {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.25px;
  color: #6B7280;
  text-align: left;
  margin: 24px 0 5px 0;
}
.bankDetailsMainContainer .textparent .infoText {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.1px;
  margin: 8px 0 0 0;
  color: #6B7280;
}
.bankDetailsMainContainer .textparent .formControl {
  border: 1px solid #DCDCDC;
  padding: 10px 16px;
}
.bankDetailsMainContainer .textparent .textfildicons {
  position: absolute;
  right: 16px;
  top: 62.5px;
}
.bankDetailsMainContainer .textparent .textfildicons .icons {
  width: 24px;
  height: 24px;
}
.bankDetailsMainContainer .textparent .ifscHeading {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
}
.bankDetailsMainContainer .textparent .ifscHeading .ifscLink {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.4px;
  white-space: nowrap;
  margin: 27.5px 0 5px 0;
}
.bankDetailsMainContainer .textparent .ifscHeading .ifscLink a {
  text-decoration: none;
  color: #61B0E0;
}
.bankDetailsMainContainer .bottomContentBox {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.25px;
  background-color: #F3F4F6;
  margin: 141px 0 8px 0;
  border-radius: 4px;
  color: #6B7280;
  padding: 0px 8px 0px 8px;
  width: -moz-fit-content;
  width: fit-content;
}

@media screen and (min-width: 767px) {
  .mob-wrapper {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .web-wrapper {
    display: none;
  }
  #repayment-buttonContainer {
    position: relative;
    width: 100%;
    bottom: 0px;
    margin-top: 24px;
  }
  .buttonContainer {
    position: fixed;
    width: 94.5%;
    bottom: 20px;
    padding: 0px;
  }
  .buttonContainer button.themeRedBtn {
    width: 100%;
    height: 40px;
    font-size: 14px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: normal;
    display: flex;
    justify-content: center;
    place-items: center;
  }
  .commonHeading {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: normal;
    text-align: left;
    margin: 16px 0 -10px 0;
  }
  .bankDetailsMainContainer {
    padding: 16px;
  }
  .bankDetailsMainContainer .bankDetailSubheading {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: normal;
    margin: 8px 0 0 0;
  }
  .bankDetailsMainContainer .textparent .formLabel {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: normal;
    margin: 16px 0 4px 0;
  }
  .bankDetailsMainContainer .textparent .infoText {
    font-size: 10px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0.4px;
    margin: 4px 0 0 0;
  }
  .bankDetailsMainContainer .textparent .textfildicons {
    right: 14px;
    top: 45px;
  }
  .bankDetailsMainContainer .textparent .textfildicons .icons {
    width: 16px;
    height: 16px;
  }
  .bankDetailsMainContainer .textparent .ifscHeading .ifscLink {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.4px;
    margin: 16px 0 5px 0;
  }
  .bankDetailsMainContainer .bottomContentBox {
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: normal;
    margin: 60px 0 8px 0;
    border-radius: 4px;
    padding: 5px 8px 5px 8px;
  }
  .mob-wrapper .fixedDepositeContainer .fixedDepositDetailsData .details_fixed_deposit {
    padding: 12px 16px;
    background-color: #FFFFFF !important;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05), 0px 10px 15px 0px rgba(0, 0, 0, 0.05);
    border-radius: 5.14px;
    margin-bottom: 12px;
  }
  .mob-wrapper .fixedDepositeContainer .fixedDepositDetailsData .details_fixed_deposit .auto_renewal_details {
    display: flex;
    justify-content: space-between;
    place-items: center;
    flex-direction: row;
    margin-bottom: 12px;
  }
  .mob-wrapper .fixedDepositeContainer .fixedDepositDetailsData .details_fixed_deposit .auto_renewal_details .mobRadioButton {
    width: 16px;
    height: 16px;
  }
  .mob-wrapper .fixedDepositeContainer .fixedDepositDetailsData .details_fixed_deposit .auto_renewal_details .FD_num {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: normal;
    text-align: left;
  }
  .mob-wrapper .fixedDepositeContainer .fixedDepositDetailsData .details_fixed_deposit .second_details .Investment_details_content {
    display: flex;
    justify-content: space-between;
    margin: 4px 0 16px 0px;
  }
  .mob-wrapper .fixedDepositeContainer .fixedDepositDetailsData .details_fixed_deposit .second_details .Investment_details_content .img_detail {
    display: flex;
    gap: 4px;
    margin-top: 4px;
  }
  .mob-wrapper .fixedDepositeContainer .fixedDepositDetailsData .details_fixed_deposit .second_details .Investment_details_content .img_detail img {
    width: 15px;
    height: 15px;
    vertical-align: inherit;
  }
  .mob-wrapper .fixedDepositeContainer .fixedDepositDetailsData .details_fixed_deposit .second_details .Investment_details_content .img_detail .NA_text {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: normal;
    text-align: left;
  }
  .mob-wrapper .fixedDepositeContainer .fixedDepositDetailsData .details_fixed_deposit .second_details .Investment_details_content .img_detail .percentage_text {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: normal;
    text-align: left;
    color: #17823E;
  }
  .mob-wrapper .fixedDepositeContainer .fixedDepositDetailsData .details_fixed_deposit .second_details .Investment_details_content .text_content {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: normal;
    text-align: left;
  }
  .mob-wrapper .fixedDepositeContainer .fixedDepositDetailsData .details_fixed_deposit .third_details {
    display: flex;
    justify-content: space-between;
    place-items: center;
    flex-direction: row;
  }
  .mob-wrapper .fixedDepositeContainer .fixedDepositDetailsData .details_fixed_deposit .third_details .pending_details {
    display: flex;
  }
  .mob-wrapper .fixedDepositeContainer .fixedDepositDetailsData .details_fixed_deposit .third_details .pending_details .green_label_mob {
    padding: 6px;
  }
  .mob-wrapper .fixedDepositeContainer .fixedDepositDetailsData:last-child {
    margin-bottom: 75px;
  }
  .commonHeading {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.15px;
    margin: 12px 0 12px;
  }
}
/*********** Responsive CSS Start Here*************/
@media only screen and (min-width: 767px) {
  .mobile_container {
    display: none;
  }
  .dashboardCardMobile {
    display: none;
  }
  .mobile_container {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .container_wrapper {
    display: none !important;
  }
  .cardContainer_mobileView {
    margin-bottom: 24px;
    margin-top: 3px;
  }
  .dashboardDarkCard .cardLabelHeading.cardLabelHeading_mob {
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.150000006px;
  }
  .dashboardDarkCard .cardLabelList_mob ul li {
    text-align: left;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.25px;
  }
  .dashboardDarkCard.dashboardDarkCard_mob {
    padding: 16px 12px;
    height: auto;
  }
  .dashboardDarkCard.dashboardDarkCard_mob .newFdImage_mob {
    width: auto;
    height: 111px;
  }
  .dashboardDarkCard .advertisement_mob {
    width: 100%;
  }
  .dashboardDarkCard .advertisement_mob .themeRedBtn.themeRedBtn_mob {
    height: 32px;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 1.25px;
  }
  .fixed_deposit_summary {
    text-align: left;
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.150000006px;
    margin-bottom: 12px;
    margin-top: 16px;
  }
  .mobile_container .fixed_deposit_summary {
    text-align: left;
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.150000006px;
  }
  .cardContainerMobile {
    padding: 8px 16px;
    background-color: #FFFFFF !important;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05), 0px 10px 15px 0px rgba(0, 0, 0, 0.05);
    border-radius: 5.14px;
    display: flex;
    justify-content: space-between;
    place-items: center;
  }
  .cardContainerMobile .custom-tooltip.custom_tooltip img {
    vertical-align: text-bottom;
  }
  .cardContainerMobile .first_active_data {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .cardContainerMobile .first_active_data:after {
    content: "";
    width: 1px;
    height: 80%;
    background: #E8E8E8;
    position: absolute;
    right: -44px;
    top: 10%;
  }
  .cardContainerMobile .first_active_data:last-child:after {
    display: none;
  }
  .cardContainerMobile .active_fds {
    text-align: left;
    color: #6B7280;
    font-size: 10px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0.400000006px;
  }
  .cardContainerMobile .active_fds.investment_fds {
    white-space: nowrap;
  }
  .cardContainerMobile .active_fds .custom_tooltip .tooltip-text.tooltip_mobile {
    left: -235px;
  }
  .cardContainerMobile .active_fds .custom_tooltip .tooltip-text::after {
    left: 80%;
  }
  .cardContainerMobile .circle_div_mobile {
    display: flex;
    place-items: baseline;
    margin-top: 6px;
    gap: 6px;
  }
  .cardContainerMobile .circle_div_mobile .detail_price {
    text-align: left;
    color: #231F20;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.25px;
  }
  .cardContainerMobile .cardIcons_circle {
    width: 20px;
    height: 20px;
    background-color: #F3F4F6;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    place-items: center;
    margin-bottom: 5px;
  }
  .cardContainerMobile .cardIcons_circle img {
    width: 10px;
    height: 10px;
  }
  .cardContainerMobile .card_wrapper_data {
    display: flex;
    justify-content: space-between;
    place-items: center;
    flex-direction: row;
  }
  .fixedDepositDetailsData {
    margin-top: 24px;
  }
  .fixedDepositDetailsData .details_fixed_deposit {
    padding: 14px 16px;
    background-color: #FFFFFF !important;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05), 0px 10px 15px 0px rgba(0, 0, 0, 0.05);
    border-radius: 5.14px;
    margin-top: 12px;
  }
  .fixedDepositDetailsData .details_fixed_deposit .auto_renewal_details {
    display: flex;
    justify-content: space-between;
    place-items: center;
    flex-direction: row;
  }
  .fixedDepositDetailsData .details_fixed_deposit .auto_renewal_details .FD_num {
    text-align: left;
    color: #231F20;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
  }
  .fixedDepositDetailsData .details_fixed_deposit .auto_renewal_details .auto_renewal {
    display: flex;
  }
  .fixedDepositDetailsData .details_fixed_deposit .auto_renewal_details .auto_renewal .auto_renewal_text {
    text-align: left;
    color: #6B7280;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.25px;
  }
  .fixedDepositDetailsData .details_fixed_deposit .auto_renewal_details .auto_renewal .form-check-input_mob {
    margin-top: 0;
  }
  .fixedDepositDetailsData .details_fixed_deposit .auto_renewal_details .auto_renewal .form_switch_mob {
    padding-left: 8px;
  }
  .fixedDepositDetailsData .details_fixed_deposit .auto_renewal_details .auto_renewal .form-check-input-mob::before {
    content: "";
  }
  .fixedDepositDetailsData .details_fixed_deposit .auto_renewal_details .auto_renewal .form-check-input-mob::after {
    content: "";
  }
  .fixedDepositDetailsData .details_fixed_deposit .second_details .Investment_details_content {
    display: flex;
    justify-content: space-between;
    place-items: center;
    flex-direction: row;
    margin: 12px 0 16px 0;
  }
  .fixedDepositDetailsData .details_fixed_deposit .second_details .Investment_details_content .img_detail {
    display: flex;
    gap: 4px;
    margin-top: 4px;
  }
  .fixedDepositDetailsData .details_fixed_deposit .second_details .Investment_details_content .img_detail img {
    width: 15px;
    height: 15px;
    vertical-align: inherit;
  }
  .fixedDepositDetailsData .details_fixed_deposit .second_details .Investment_details_content .img_detail .NA_text {
    text-align: left;
    color: #231F20;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
  }
  .fixedDepositDetailsData .details_fixed_deposit .second_details .Investment_details_content .img_detail .percentage_text {
    text-align: left;
    color: #17823E;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
  }
  .fixedDepositDetailsData .details_fixed_deposit .second_details .Investment_details_content .text_content {
    text-align: left;
    color: #6B7280;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
  }
  .fixedDepositDetailsData .details_fixed_deposit .third_details {
    display: flex;
    justify-content: space-between;
    place-items: center;
    flex-direction: row;
  }
  .fixedDepositDetailsData .details_fixed_deposit .third_details .circle_arrow {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    place-items: center;
    border-radius: 50%;
    background-color: #000000;
  }
  .fixedDepositDetailsData .details_fixed_deposit .third_details .circle_arrow img {
    width: 12.5px;
    height: 12.5px;
  }
  .fixedDepositDetailsData .details_fixed_deposit .third_details .pending_details {
    display: flex;
    gap: 7px;
  }
  .fixedDepositDetailsData .details_fixed_deposit .third_details .pending_details .red-bg-label.red_bg_label_mob {
    padding: 0.4rem;
  }
  .fixedDepositDetailsData .details_fixed_deposit .third_details .pending_details .green_label_mob {
    padding: 0.4rem;
  }
  .fixedDepositDetailsData .showmorebtn_mob {
    display: flex;
    justify-content: center;
    place-items: center;
    flex-direction: row;
    margin-top: 12px;
    margin-bottom: 24px;
    text-align: left;
    color: #1084CB;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.25px;
  }
  .fixedDepositDetailsData .showmorebtn_mob a {
    text-decoration: none;
  }
  .border_top_line {
    border-top: 1px solid #D6D6D6;
    margin-bottom: 4px;
  }
  .dashboardDarkCardMobile {
    margin: 24px 0px;
  }
  .dashboardDarkCardMobile .cardLabelList .percent_data {
    color: #FFFFFF;
  }
  .dashboardDarkCardMobile .img_content {
    width: 110px;
    height: 111px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .dashboardDarkCardMobile .themeRedBtn.img .img {
    width: 110px;
    height: 111px;
  }
  #chartContainer .canvasjs-chart-container .canvasjs-chart-canvas {
    width: auto !important;
  }
}
@media only screen and (max-width: 420px) {
  .cardContainerMobile .first_active_data::after {
    right: -13px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1366px) {
  body {
    padding-top: 3rem;
  }
  .container {
    max-width: 100% !important;
  }
}/*# sourceMappingURL=styles.css.map */