@import url("https://fonts.googleapis.com/css2?family=Georama:wght@300;400;500;600;700;800&display=swap");
/********************Toggle Switch Start**********************/
.form-check-input {
  position: relative;
  border: 1px solid #4D4D4F;
  width: 37px !important;
  height: 18px !important;
  background-image: url("../img/icons/circle.svg") !important;
  cursor: pointer;
  transition: background-position 0.3s ease-in-out !important;
  float: none !important;
  margin-left: 0px !important;
}

.form-check-input:focus {
  border-color: #4D4D4F;
  outline: 0;
  box-shadow: none;
}

.form-check-input:checked:focus {
  border-color: #17823E;
}

.form-check-input::before {
  content: "NO";
  font-size: 9px;
  font-weight: 400;
  position: absolute;
  left: 19px;
  right: 0;
  top: auto;
  bottom: -18px;
  opacity: 1;
  color: #4D4D4F;
}

.form-check-input::after {
  content: "YES";
  font-size: 9px;
  position: absolute;
  left: 4px;
  right: auto;
  top: auto;
  bottom: -18px;
  opacity: 0;
  color: #17823E;
}

.form-check-input:checked {
  background-image: url("../img/icons/circle-green.svg") !important;
  border: 1px solid #17823E;
  background-color: #FFFFFF;
}

.form-check-input:checked::before {
  opacity: 0;
}

.form-check-input:checked::after {
  opacity: 1;
}

/********************Toggle Switch End**********************/
/***************Tooltip Start**********************/
.custom-tooltip {
  position: relative;
  cursor: pointer;
}
.custom-tooltip .tooltip-text {
  background-color: #080707;
  border-radius: 8px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.4px;
  line-height: 16px;
  padding: 16px;
  display: none;
  position: absolute;
  top: auto;
  bottom: 24px;
  left: -25px;
  right: auto;
  width: -moz-max-content;
  width: max-content;
  z-index: 99;
}
.custom-tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  top: 98%;
  left: 12%;
  margin-left: -7px;
  border-width: 8px;
  border-style: solid;
  border-color: #080707 transparent transparent transparent;
}
.custom-tooltip .tooltip-textTableData {
  background-color: #080707;
  border-radius: 8px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.4px;
  line-height: 16px;
  padding: 16px;
  display: none;
  position: absolute;
  top: auto;
  bottom: 40px;
  left: -26px;
  right: auto;
  width: -moz-max-content;
  width: max-content;
  z-index: 99;
}
.custom-tooltip .tooltip-textTableData::after {
  content: "";
  position: absolute;
  top: 98%;
  left: 12%;
  margin-left: -7px;
  border-width: 8px;
  border-style: solid;
  border-color: #080707 transparent transparent transparent;
}
.custom-tooltip:hover .tooltip-text, .custom-tooltip:hover .tooltip-textTableData {
  display: block;
}

/***************Tooltip End**********************/
/***********************************Custom Checkbox Start**********************/
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 4px;
  border: 1px solid #231F20;
  background-color: #FFFFFF;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: #231F20;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 6px;
  top: 2px;
  width: 6px;
  height: 11px;
  border: 1px solid #FFFFFF;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

/***********************************Custom Checkbox End**********************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Georama", sans-serif;
}

body {
  min-height: calc(100vh + 5px);
  padding-top: 4.5rem;
  color: #231F20;
  background-color: #F3F4F6;
}

.all-center {
  display: flex;
  justify-content: center;
  place-items: center;
}

.font-bolder {
  font-weight: 700 !important;
}

.font-bold {
  font-weight: 600 !important;
}

.dark-green-font {
  color: #17823E !important;
}

.text-center {
  text-align: center !important;
}

.wd-8 {
  width: 8%;
}

.wd-11 {
  width: 11%;
}

.wd-12 {
  width: 12%;
}

.wd-13 {
  width: 13%;
}

.wd-15 {
  width: 15%;
}

.wd-14 {
  width: 14%;
}

.wd-50 {
  width: 50%;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.wd-100 {
  width: 100%;
}

.strongText {
  font-weight: 600;
}

/*********Header Start****************/
nav {
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05), 0px 10px 15px 0px rgba(0, 0, 0, 0.05);
  padding: 0 !important;
  height: 52px;
}
nav .navbar-brand {
  display: flex;
  justify-content: center;
  place-items: center;
}
nav .navbar-nav li.nav-item {
  margin-left: 24px;
}
nav .navbar-nav li.nav-item a.nav-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 33px;
  letter-spacing: normal;
  height: 51px;
  color: #FFFFFF;
}
nav .navbar-nav li.nav-item a.nav-link:after {
  display: block;
  content: "";
  border-bottom: solid 1px #FFFFFF;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  border-top: none;
  border-right: none;
  border-left: none;
  margin-left: 0px;
}
nav .navbar-nav li.nav-item a.nav-link:hover {
  color: #FFFFFF;
}
nav .navbar-nav li.nav-item a.nav-link:hover:after {
  transform: scaleX(1);
}
nav .navbar-nav li.nav-item a.dropdown-toggle img.toggle-icon {
  width: 16px;
  height: 16px;
  transition: transform 250ms ease-in-out;
}
nav .navbar-nav li.nav-item ul.dropdown-menu {
  border-radius: 8px;
  top: 51px;
  left: auto;
  right: 0;
  padding: 0px;
  border: none;
  overflow: hidden;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.06), 0px 2px 6px 0px rgba(0, 0, 0, 0.06);
}
nav .navbar-nav li.nav-item ul.dropdown-menu li {
  padding: 0px 24px;
}
nav .navbar-nav li.nav-item ul.dropdown-menu li a {
  border-bottom: 1px solid #D6D6D6;
  padding: 16px 0px;
  font-weight: 500;
  color: #231F20;
}
nav .navbar-nav li.nav-item ul.dropdown-menu li a:hover {
  background-color: #F5F5F5;
}
nav .navbar-nav li.nav-item ul.dropdown-menu li a img {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}
nav .navbar-nav li.nav-item ul.dropdown-menu li:hover {
  background-color: #F5F5F5 !important;
}
nav .navbar-nav li.nav-item ul.dropdown-menu li:last-child a {
  border-bottom: 0px;
}
nav .navbar-nav li.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}
nav .navbar-nav li.nav-item.dropdown:hover img.toggle-icon {
  transform: rotate(180deg);
}
nav .userAvatar {
  display: flex;
  justify-content: center;
  place-items: center;
}
nav .userAvatar img {
  width: 32px;
  height: 32px;
  -o-object-fit: cover;
     object-fit: cover;
}

/*********Header End****************/
/************Button Start ***********************/
.themeRedBtn {
  width: -moz-fit-content;
  width: fit-content;
  background-color: #E31837;
  color: #FFFFFF;
  height: 27px;
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 0 12px 0 12px;
  font-size: 12px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: normal;
  display: flex;
  justify-content: center;
  place-items: center;
  cursor: pointer;
}
.themeRedBtn img {
  margin-left: 8px;
  transition: transform 250ms ease-in-out;
}
.themeRedBtn:hover {
  background-color: #c7142f;
}

/************Button End ***********************/
.cardContainer {
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05), 0px 10px 15px 0px rgba(0, 0, 0, 0.05);
  background-color: #FFFFFF;
  border-radius: 8px;
}

/********************Dashboard Start*********************/
.dashboardCard {
  padding: 16px;
  min-height: 129px;
}
.dashboardCard .cardIcons {
  width: 36px;
  height: 36px;
  background-color: #F3F4F6;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  place-items: center;
  margin-bottom: 5px;
}
.dashboardCard .cardUserName {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: normal;
}
.dashboardCard .cardLabel {
  color: #6B7280;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: normal;
}
.dashboardCard .cardLabelValue {
  color: #231F20;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: normal;
}

.dashboardDarkCard {
  position: relative;
  background-color: #231F20;
  color: #FFFFFF;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05), 0px 10px 15px 0px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  padding: 16px;
  overflow: hidden;
  min-height: 129px;
}
.dashboardDarkCard .cardLabelHeading {
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0.15px;
}
.dashboardDarkCard .cardLabelList ul {
  margin-bottom: 5px;
  list-style-type: square;
  padding-left: 16px;
}
.dashboardDarkCard .cardLabelList ul li {
  font-size: 13px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.1px;
}
.dashboardDarkCard .cardLabelList ul li span {
  color: #22C55E;
}
.dashboardDarkCard .newFdImage {
  position: absolute;
  bottom: 0;
  right: 0;
}

.listTable .listTableHead {
  background-color: #231F20;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  place-items: center;
  height: 48px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.25px;
}
.listTable .listTableBody .listTabledata {
  display: flex;
  justify-content: center;
  place-items: center;
  background-color: #FFFFFF;
}
.listTable .listTableBody .listTabledata:hover {
  background-color: #F5F5F5;
}
.listTable .listTableBody .listTabledata .tableData {
  height: 52px;
  border-bottom: 1px solid #E8E8E8;
  font-size: 16px;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: 0.15px;
}
.listTable .listTableBody .listTabledata .tableData .form-switch {
  padding-left: 0px;
  display: flex;
  justify-content: center;
  place-items: center;
}
.listTable .showMoreBtn {
  display: flex;
  justify-content: center;
  place-items: center;
  height: 48px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.1px;
  line-height: 24px;
  background-color: #FFFFFF;
}
.listTable .showMoreBtn a {
  color: #1084CB;
  text-decoration: none;
}
.listTable .hideMoreBtn {
  display: none;
  justify-content: center;
  place-items: center;
  height: 48px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.1px;
  line-height: 24px;
  background-color: #FFFFFF;
}
.listTable .hideMoreBtn a {
  color: #1084CB;
  text-decoration: none;
}
.listTable .hideMoreBtn img {
  transform: rotate(180deg);
}

.info-icon {
  margin-left: 6px;
}

.red-bg-label {
  font-size: 12px !important;
  font-weight: 400 !important;
  height: 24px !important;
  display: flex;
  justify-content: center;
  place-items: center;
  width: 100%;
  border-radius: 5px;
  color: #E31837;
  background-color: #FCE3E7;
}
.red-bg-label img {
  margin-right: 5px;
}

.green-bg-label {
  font-size: 12px !important;
  font-weight: 400 !important;
  height: 24px !important;
  display: flex;
  justify-content: center;
  place-items: center;
  width: 100%;
  border-radius: 5px;
  color: #17823E;
  background-color: #BEF4D2;
}
.green-bg-label img {
  margin-right: 5px;
}

.fdAvailBanner {
  padding: 32px 28px;
  height: 316px;
}
.fdAvailBanner .cardLabelHeading {
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: normal;
}
.fdAvailBanner .cardLabelList {
  margin-bottom: 16px;
}
.fdAvailBanner .cardLabelList ul li {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: normal;
}
.fdAvailBanner .themeRedBtn {
  height: 44px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 1.25px;
}

.custom-dropdown button {
  border: none;
  outline: none;
}
.custom-dropdown button::after {
  display: none;
}
.custom-dropdown button.show img {
  transform: rotate(180deg);
}
.custom-dropdown ul {
  padding: 0;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.06), 0px 2px 6px 0px rgba(0, 0, 0, 0.06);
  border: none;
  overflow: hidden;
}
.custom-dropdown ul li {
  padding: 0px 12px;
}
.custom-dropdown ul li a {
  border-bottom: 1px solid #D6D6D6;
  padding: 5px 0px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: normal;
}
.custom-dropdown ul li a span {
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.4px;
}
.custom-dropdown ul li a:hover {
  background-color: #F5F5F5;
}
.custom-dropdown ul li:hover {
  background-color: #F5F5F5;
}
.custom-dropdown ul li:last-child a {
  border-bottom: 0px;
}

#moreListData {
  display: none;
}

/********************Dashboard End*********************/
/********************Chart Start*********************/
#chartContainer {
  padding: 18px;
  width: 100%;
  height: 316px;
}
#chartContainer canvas {
  width: 100%;
  max-height: 280px;
}
#chartContainer a.canvasjs-chart-credit {
  display: none;
}

/********************Chart End*********************/
/***************Modal Start**************************/
.modal .modal-content {
  border-radius: 8px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.06), 0px 2px 6px 0px rgba(0, 0, 0, 0.06);
  border: none;
}
.modal .modal-content .modal-body {
  padding: 40px 24px;
}
.modal .modal-content .modal-body .btn-close {
  position: absolute;
  top: 16px;
  right: 16px;
  background: none;
  display: flex;
  justify-content: center;
  place-items: center;
  padding: 0px;
  opacity: 1;
}
.modal .modal-content .modal-body .info-heading {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.18px;
  text-align: center;
}
.modal .modal-content .modal-body .info-heading img {
  margin-right: 12px;
}
.modal .modal-content .modal-body .info-content {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: center;
  margin: 12px 0px 20px 0px;
}
.modal .modal-content .modal-body .info-button {
  display: flex;
  justify-content: center;
  place-items: center;
}
.modal .modal-content .modal-body .info-button button {
  outline: none;
  border: none;
  height: 44px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 1.25px;
  padding: 0 50px;
}

/***************Modal End**************************/
/********************Preclosure FD Start******************/
.commonBackBtn {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #1084CB;
  cursor: pointer;
}
.commonBackBtn:hover {
  color: #1084CB;
  opacity: 0.9;
}
.commonBackBtn img {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.commonHeading {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.18px;
  margin: 16px 0 20px 0;
}

.tableBodyWithHeight {
  min-height: calc(100vh - 460px);
  background-color: #FFFFFF;
}

.descriptionContainer {
  background-color: #FFFFFF;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex;
  justify-content: center;
  place-items: center;
  flex-direction: row;
  padding: 24px 0px;
}
.descriptionContainer .descriptionBox {
  width: 96%;
  display: flex;
  justify-content: flex-start;
  place-items: center;
  flex-direction: row;
  background-image: url("../img/abstract-blue-geometric-shapes-background.svg");
  background-repeat: no-repeat;
  padding: 20px 24px;
  background-size: cover;
  background-position: right;
  background-color: #F3F4F6;
  border-radius: 8px;
}
.descriptionContainer .descriptionBox .descriptionImage {
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 12px;
}
.descriptionContainer .descriptionBox .descriptionContent p {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #6B7280;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  place-items: center;
  flex-direction: row;
  padding: 24px 0px;
}
.buttonContainer button.themeRedBtn {
  height: 44px;
  padding: 0 24px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 1.25px;
}

/********************Preclosure FD End********************/
/********************** Quick Action Start******************/
.darkGreenText {
  color: #17823E;
}

.boldTitle {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.15px;
}

.fdDetailsBox {
  padding: 24px 32px 36px 32px;
}
.fdDetailsBox .fdHeader {
  display: flex;
  justify-content: space-between;
  place-items: center;
  flex-direction: row;
}
.fdDetailsBox .fdHeader .fdTenure {
  background-color: #F3F4F6;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.25px;
  color: #6B7280;
  padding: 4px 8px;
}
.fdDetailsBox .fdHeader .fdTenure img {
  margin-right: 4px;
}
.fdDetailsBox .fdMainContent {
  display: flex;
  justify-content: space-between;
  place-items: center;
  flex-direction: row;
  padding: 24px 0px;
  border-bottom: 1px solid #E8E8E8;
}
.fdDetailsBox .fdMainContent .fdInvestment {
  display: flex;
  justify-content: flex-start;
  place-items: flex-start;
  flex-direction: column;
}
.fdDetailsBox .fdMainContent .fdInvestment .bigText {
  font-size: 34px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0.25px;
}
.fdDetailsBox .fdMainContent .fdInvestment .lightText {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.25px;
  color: #6B7280;
  margin-top: 8px;
}
.fdDetailsBox .fdMainContent .fdTenure {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: normal;
  position: relative;
}
.fdDetailsBox .fdMainContent .fdTenure::before {
  content: "";
  position: absolute;
  top: 8px;
  right: 0;
  bottom: 0;
  left: -45px;
  width: 38px;
  height: 9px;
  background-color: #D6D6D6;
}
.fdDetailsBox .fdMainContent .fdTenure::after {
  content: "";
  position: absolute;
  top: 1px;
  right: -46px;
  bottom: 0;
  left: auto;
  width: 38px;
  height: 23px;
  background-image: url("../img/icons/Union.svg");
  background-repeat: no-repeat;
}
.fdDetailsBox .fdContents {
  display: flex;
  justify-content: space-between;
  place-items: baseline;
  flex-direction: row;
  margin-top: 24px;
}
.fdDetailsBox .fdContents .fdDetails {
  display: block;
  position: relative;
}
.fdDetailsBox .fdContents .fdDetails::after {
  content: "";
  position: absolute;
  top: 10px;
  right: -18px;
  bottom: auto;
  left: auto;
  width: 1px;
  height: 35px;
  background-color: #E8E8E8;
}
.fdDetailsBox .fdContents .fdDetails:last-child::after {
  display: none;
}
.fdDetailsBox .fdContents .fdDetails .label {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #6B7280;
  margin-bottom: 4px;
}
.fdDetailsBox .fdContents .fdDetails .value {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: normal;
  display: flex;
  justify-content: center;
  place-items: center;
}
.fdDetailsBox .fdContents .fdDetails .value img {
  width: 20px;
  height: 20px;
  margin-right: 4px;
  filter: invert(0) brightness(0);
}

.quickActionBox {
  padding: 24px 32px;
}
.quickActionBox .quickActionTabs {
  display: flex;
  flex-wrap: wrap;
}
.quickActionBox .quickActionTabs label {
  width: 48%;
  display: flex;
  justify-content: flex-start;
  place-items: flex-start;
  flex-direction: column;
  border: 1px solid #E8E8E8;
  margin-bottom: 16px;
  margin-right: 16px;
  border-radius: 8px;
  padding: 4px 12px 16px 12px;
  cursor: pointer;
}
.quickActionBox .quickActionTabs label:nth-child(even) {
  margin-right: 0px;
}
.quickActionBox .quickActionTabs label img {
  width: 20px;
  height: 20px;
  margin-bottom: 4px;
}
.quickActionBox .quickActionTabs label .quickActionLabel {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.25px;
}

.boxRadioButton input[type=radio] {
  opacity: 0;
}

.boxRadioButton.active {
  background-color: #231F20;
  color: #FFFFFF;
  transition: all 0.2s linear;
}
.boxRadioButton.active img {
  filter: invert(1) brightness(100);
}

.quickActionBanner {
  position: relative;
  overflow: hidden;
  height: auto;
}
.quickActionBanner .cardLabelHeading {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.15px;
  margin-bottom: 16px;
}
.quickActionBanner .cardLabelList {
  margin-bottom: 28px;
}
.quickActionBanner .cardLabelList ul {
  padding: 0;
  list-style-type: square;
  list-style-position: inside;
}
.quickActionBanner .cardLabelList ul li {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: normal;
}
.quickActionBanner img.newFdImage {
  position: absolute;
  top: auto;
  right: -30px;
  bottom: -40px;
}

.quickActionGraph {
  height: 364px !important;
}
.quickActionGraph canvas {
  max-height: 320px !important;
}

/********************** Quick Action End*******************/
/********************Preclosure Flow Start******************/
.errorText {
  color: #DC2626;
}

.greenText {
  color: #17823E;
}

.strike {
  text-decoration: line-through;
}

.customChangeWidth {
  width: 49%;
  display: inline-flex;
  margin-right: 20px;
  place-items: center;
  justify-content: center;
}
.customChangeWidth:last-child {
  margin-right: 0px;
}

.customChangeWidth.active {
  border: 1px solid #231F20;
}

.bottomDescription .descriptionContent {
  border-top: 1px solid #D6D6D6;
  padding: 24px 0px 0px 0px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.25px;
  color: #6B7280;
}

.fDList {
  min-height: 380px;
}
.fDList ul {
  padding: 0;
  list-style: none;
}
.fDList ul li {
  display: flex;
  justify-content: space-between;
  place-items: center;
  border-bottom: 1px solid #E8E8E8;
  padding: 12px 0px;
}
.fDList ul li .fDListContent {
  display: flex;
  justify-content: center;
  place-items: center;
}
.fDList ul li .fDListContent label {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: normal;
}
.fDList ul li .fDListValue {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: normal;
}
.fDList ul li .fDListValue span {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: normal;
  background-color: #BEF4D2;
  color: #17823E;
  border-radius: 8px;
  padding: 3px 7px;
  margin-right: 8px;
}

.roundBackgroundIcon {
  background-color: #F3F4F6;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 16px;
  display: flex;
  justify-content: center;
  place-items: center;
}
.roundBackgroundIcon img {
  width: 15px;
  height: 15px;
}

.borrowFundContainer {
  display: flex;
  justify-content: space-between;
}
.borrowFundContainer .borrowFundBox {
  width: 48%;
  display: flex;
  justify-content: flex-start;
  place-items: flex-start;
  border-right: 1px solid #E8E8E8;
}
.borrowFundContainer .borrowFundBox .borrowFundContent {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: normal;
  width: calc(100% - 60px);
}
.borrowFundContainer .borrowFundBox:last-child {
  border-right: none;
}

.borrowFundFDContainer {
  margin-top: 32px;
}
.borrowFundFDContainer .borrowFDList {
  position: relative;
  border: 1px solid #e8e8e8;
  padding: 16px 24px 12px 24px;
  border-radius: 8px;
  margin-bottom: 24px;
}
.borrowFundFDContainer .borrowFDList:last-child {
  margin-bottom: 26px;
}
.borrowFundFDContainer .borrowFDList .headingLabel {
  position: absolute;
  top: -15px;
  left: 24px;
  background-color: #E8E8E8;
  padding: 2px 10px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: normal;
}
.borrowFundFDContainer .borrowFDList .borrowFDBox {
  display: flex;
  justify-content: space-between;
  place-items: center;
}
.borrowFundFDContainer .borrowFDList .borrowFDBox .borrowFDContent .label {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #6B7280;
  margin-bottom: 4px;
}
.borrowFundFDContainer .borrowFDList .borrowFDBox .borrowFDContent .value {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: normal;
  display: flex;
  justify-content: flex-start;
  place-items: center;
  flex-direction: row;
}
.borrowFundFDContainer .borrowFDList .borrowFDBox .borrowFDContent .value img {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}

.borrowFdBottomBox {
  background-color: #F5F5F5;
  border-radius: 8px;
  padding: 16px 24px;
}
.borrowFdBottomBox .heading {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: normal;
}
.borrowFdBottomBox .borrowFdBottomList .borrowFdListRow {
  display: flex;
  justify-content: space-between;
  place-items: center;
  border-bottom: 1px solid #D6D6D6;
  padding: 8px 0px;
}
.borrowFdBottomBox .borrowFdBottomList .borrowFdListRow:last-child {
  border-bottom: none;
  padding-bottom: 0px;
}
.borrowFdBottomBox .borrowFdBottomList .borrowFdListRow .fDListContent {
  display: flex;
  justify-content: flex-start;
  place-items: center;
}
.borrowFdBottomBox .borrowFdBottomList .borrowFdListRow .fDListContent .roundBackgroundIcon {
  background-color: #FFFFFF;
}
.borrowFdBottomBox .borrowFdBottomList .borrowFdListRow .fDListContent label {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: normal;
}
.borrowFdBottomBox .borrowFdBottomList .borrowFdListRow .fDListValue {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: normal;
}
.borrowFdBottomBox .borrowFdBottomList .borrowFdListRow .fDListValue span {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: normal;
  background-color: #BEF4D2;
  border-radius: 8px;
  padding: 3px 7px;
  margin-right: 8px;
}

/********************Preclosure Flow End******************//*# sourceMappingURL=styles.css.map */